In [277]:
import pandas as pd
import micom
from gurobipy import *
import numpy as np
from micom import load_pickle
from micom.media import minimal_medium
from micom.workflows import workflow

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.manifold import TSNE
from adjustText import adjust_text
from scipy.stats import ttest_ind

import cobra
# https://resendislab.github.io/micom/media.html

In [278]:
#Verify the qp solver is gurobi
#cobra.util.solver.qp_solvers[1]

In [279]:
#Load same reconstruccion but with abundances of day 6
d = {'id': ['A', 'B', 'C'], 
     'file': ['../SBMLS/cobraA_Jan14_div50_NormalObj_no_PAREN.xml', '../SBMLS/cobraB_Jan8_NormalObj_no_PAREN.xml','../SBMLS/cobraC_Jan8_NormalObj_no_PAREN.xml'],
     'abundance':[0.08955224, 0.3880597, 0.5149254]
    }
df = pd.DataFrame(data=d)
df

  id                                               file  abundance
0  A  ../SBMLS/cobraA_Jan14_div50_NormalObj_no_PAREN...   0.089552
1  B        ../SBMLS/cobraB_Jan8_NormalObj_no_PAREN.xml   0.388060
2  C        ../SBMLS/cobraC_Jan8_NormalObj_no_PAREN.xml   0.514925

In [280]:
#Load same reconstruccion but with abundances of day 19
d2 = {'id': ['A', 'B', 'C'], 
     'file': ['../SBMLS/cobraA_Jan14_div50_NormalObj_no_PAREN.xml', '../SBMLS/cobraB_Jan8_NormalObj_no_PAREN.xml','../SBMLS/cobraC_Jan8_NormalObj_no_PAREN.xml'],
     'abundance':[0.573913, 0.273913, 0.1521739]
    }
df2 = pd.DataFrame(data=d2)
df2

  id                                               file  abundance
0  A  ../SBMLS/cobraA_Jan14_div50_NormalObj_no_PAREN...   0.573913
1  B        ../SBMLS/cobraB_Jan8_NormalObj_no_PAREN.xml   0.273913
2  C        ../SBMLS/cobraC_Jan8_NormalObj_no_PAREN.xml   0.152174

In [281]:
#Make community with gurobi
com = micom.Community(df,solver="gurobi")
com2 = micom.Community(df2,solver="gurobi")

HBox(children=(FloatProgress(value=0.0, max=3.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=3.0), HTML(value='')))

In [282]:
#Save to pickle
#com.to_pickle("community_6.pickle")
#com2.to_pickle("community_19.pickle")

In [283]:
print(com.objective.expression)
print(com2.objective.expression)

1.0*community_objective
1.0*community_objective

In [284]:
#For all the exchange reactions of the medium/community check the lower bound (in this case means imports)
for r in com.exchanges:
    if r.lower_bound<0:
        print(r.id,r.lower_bound)

EX_ala_L_m -0.2246
EX_arg_L_m -0.114942532
EX_asp_L_m -0.1514
EX_ca2_m -0.18018
EX_chol_m -0.1428
EX_cl_m -0.14284
EX_cys_L_m -0.1652
EX_fol_m -0.0452
EX_gal_m -0.111
EX_glu_L_m -0.1368
EX_gly_m -0.26666
EX_his_L_m -0.129
EX_ile_L_m -0.1526
EX_inost_m -0.111
EX_leu_L_m -0.1526
EX_lys_L_m -0.1368
EX_met_L_m -0.1342
EX_na1_m -0.344827575
EX_ncam_m -0.16393442
EX_o2_m -0.2
EX_phe_L_m -0.1212
EX_pi_m -0.1408
EX_pnto_R_m -0.04192872
EX_pydxn_m -0.09708738
EX_pyr_m -0.1818
EX_ribflv_m -0.0418
EX_ser_L_m -0.1904
EX_so4_m -0.1666
EX_thm_m -0.0452
EX_thr_L_m -0.16806
EX_trp_L_m -0.098
EX_tyr_L_m -0.1104
EX_val_L_m -0.1708

In [285]:
#Obtain normal optimization without tradeoff (day 6)
sol = com.optimize(fluxes=True, pfba=True)
sol

In [286]:
#Obtain normal optimization without tradeoff (day 19)
sol2 = com2.optimize(fluxes=True, pfba=True)
sol2

In [287]:
#Obtain optimization with tradeoff=0.7 (day 6)
sol = com.cooperative_tradeoff(fraction=0.7, fluxes=True)
sol

In [288]:
#Obtain optimization with tradeoff=0.7 (day 19)
sol2 = com2.cooperative_tradeoff(fraction=0.7, fluxes=True)
sol2

In [289]:
rates=[]
med=[]
fluxes=[]

In [290]:
rates.append(sol.members["growth_rate"].copy())
rates.append(sol2.members["growth_rate"].copy())

In [291]:
rates[0]["community"] = sol.growth_rate
rates[1]["community"] = sol2.growth_rate

In [292]:
#the calculated growth_rates for each population and the community per day
rates[0].name = 'day6'
rates[1].name = 'day19'
rates

[compartments
 A            0.003776
 B            0.012109
 C            0.032440
 medium            NaN
 community    0.021905
 Name: day6, dtype: float64,
 compartments
 A            0.007702
 B            0.006450
 C            0.103291
 medium            NaN
 community    0.021905
 Name: day19, dtype: float64]

In [293]:
#Medium that we have
com.medium

{'EX_ala_L_m': 0.2246,
 'EX_arg_L_m': 0.114942532,
 'EX_asp_L_m': 0.1514,
 'EX_ca2_m': 0.18018,
 'EX_chol_m': 0.1428,
 'EX_cl_m': 0.14284,
 'EX_cys_L_m': 0.1652,
 'EX_fol_m': 0.0452,
 'EX_gal_m': 0.111,
 'EX_glu_L_m': 0.1368,
 'EX_gly_m': 0.26666,
 'EX_his_L_m': 0.129,
 'EX_ile_L_m': 0.1526,
 'EX_inost_m': 0.111,
 'EX_leu_L_m': 0.1526,
 'EX_lys_L_m': 0.1368,
 'EX_met_L_m': 0.1342,
 'EX_na1_m': 0.344827575,
 'EX_ncam_m': 0.16393442,
 'EX_o2_m': 0.2,
 'EX_phe_L_m': 0.1212,
 'EX_pi_m': 0.1408,
 'EX_pnto_R_m': 0.04192872,
 'EX_pydxn_m': 0.09708738,
 'EX_pyr_m': 0.1818,
 'EX_ribflv_m': 0.0418,
 'EX_ser_L_m': 0.1904,
 'EX_so4_m': 0.1666,
 'EX_thm_m': 0.0452,
 'EX_thr_L_m': 0.16806,
 'EX_trp_L_m': 0.098,
 'EX_tyr_L_m': 0.1104,
 'EX_val_L_m': 0.1708}

In [294]:
#Minimum medium for the growth (95% efficiency) of the community

In [295]:
med.append(minimal_medium(com, 0.95*sol.growth_rate, exports = True))
med[0].name = 'day6'

med.append(minimal_medium(com2, 0.95*sol2.growth_rate, exports = True))
med[1].name = 'day19'
med

[EX_leu_L_m    0.020867
 EX_chol_m     0.003578
 EX_hco3_m    -0.143777
 EX_lys_L_m    0.012322
 EX_succ_m    -0.022590
 EX_arg_L_m    0.053463
 EX_his_L_m    0.002631
 EX_met_L_m    0.003184
 EX_asp_L_m    0.019287
 EX_ile_L_m    0.006134
 EX_co2_m     -0.056604
 EX_inost_m    0.023842
 EX_pi_m       0.025838
 EX_cys_L_m    0.000969
 EX_o2_m       0.162895
 EX_thr_L_m    0.072399
 EX_trp_L_m    0.000277
 EX_tyr_L_m    0.003323
 EX_urea_m    -0.045987
 EX_ser_L_m    0.023369
 EX_phe_L_m    0.005399
 EX_val_L_m    0.007338
 EX_h_m       -0.101669
 EX_nh4_m     -0.111985
 Name: day6, dtype: float64,
 EX_cys_L_m    0.000969
 EX_leu_L_m    0.020867
 EX_nh4_m     -0.111985
 EX_o2_m       0.162895
 EX_thr_L_m    0.072399
 EX_lys_L_m    0.012322
 EX_succ_m    -0.022590
 EX_trp_L_m    0.000277
 EX_met_L_m    0.003184
 EX_tyr_L_m    0.003323
 EX_urea_m    -0.045987
 EX_ser_L_m    0.023369
 EX_phe_L_m    0.005399
 EX_h2o_m     -0.101669
 EX_pi_m       0.025838
 EX_val_L_m    0.007338
 EX_chol_m     0.003578
 EX_hco3_m    -0.042108
 EX_arg_L_m    0.053463
 EX_his_L_m    0.002631
 EX_asp_L_m    0.019287
 EX_ile_L_m    0.006134
 EX_co2_m     -0.158273
 EX_inost_m    0.023842
 Name: day19, dtype: float64]

In [296]:
#Run the cooperative tradeoff again with pfba
sol1 = com.cooperative_tradeoff(fraction=0.7, fluxes=True, pfba=True)
sol21 = com2.cooperative_tradeoff(fraction=0.7, fluxes=True, pfba=True)

In [297]:
#Store all fluxes in variable per day
fluxes.append(sol1.fluxes)
fluxes[0]["sample"] = 'd6'

fluxes.append(sol21.fluxes)
fluxes[1]["sample"] = 'd19'

In [298]:
fluxes[0] #day 6

reaction,10FTHFtm,2AMACHYD,2DR1PP,2HATVACIDhc,2HATVLAChc,2MB2COAc,34HPLFM,34HPPOR,34HPPte,3AIBTm,...,r2472,r2495,r2502,r2513,r2516,r2521,r2537,sink_citr_c,xmpt,sample
compartment,,,,,,,,,,,,,,,,,,,,,
A,NaN,0.087900,NaN,NaN,NaN,NaN,0.0,0.0,0.000603,0.0,...,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,0.000174,d6
B,-0.00081,0.000000,0.0,0.0,0.0,0.0,NaN,0.0,-0.000139,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,0.000557,d6
C,NaN,0.167156,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,-0.000450,d6
medium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,d6

In [299]:
fluxes[1] #day 19

reaction,10FTHFtm,2AMACHYD,2DR1PP,2HATVACIDhc,2HATVLAChc,2MB2COAc,34HPLFM,34HPPOR,34HPPte,3AIBTm,...,r2472,r2495,r2502,r2513,r2516,r2521,r2537,sink_citr_c,xmpt,sample
compartment,,,,,,,,,,,,,,,,,,,,,
A,NaN,0.474544,NaN,NaN,NaN,NaN,0.0,0.0,0.001230,0.0,...,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,0.000354,d19
B,-0.000431,0.000000,0.0,0.0,0.0,0.0,NaN,0.0,-0.002577,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,0.000297,d19
C,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,-0.001871,d19
medium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,d19

In [37]:
#Quick analysis of different tradeoffs (0 = no tradeoff ---> 9 = 0.1 tradeoff) day 6
sols = com.cooperative_tradeoff(fraction=np.arange(0.1, 1.01, 0.1))
rts = sols.solution.apply(lambda x: x.members.growth_rate)
rts['community'] = sols.solution.apply(lambda x: x.growth_rate)
rts

compartments             A             B         C  medium  community
0             1.256065e-16  2.509274e-17  0.060318     NaN   0.031293
1             2.718779e-03  5.377454e-03  0.049761     NaN   0.028163
2             3.402713e-03  1.103304e-02  0.039348     NaN   0.025034
3             3.776897e-03  1.211058e-02  0.032439     NaN   0.021905
4             3.466169e-03  1.256310e-02  0.026120     NaN   0.018776
5             3.155436e-03  1.301557e-02  0.019801     NaN   0.015646
6             2.625484e-03  1.137710e-02  0.015097     NaN   0.012517
7             1.969113e-03  8.532823e-03  0.011322     NaN   0.009388
8             1.312742e-03  5.688548e-03  0.007548     NaN   0.006259
9             6.563710e-04  2.844274e-03  0.003774     NaN   0.003129

In [38]:
#Quick analysis of different tradeoffs (0 = no tradeoff ---> 9 = 0.1 tradeoff) day 19
sols_19 = com2.cooperative_tradeoff(fraction=np.arange(0.1, 1.01, 0.1))
rts_19 = sols_19.solution.apply(lambda x: x.members.growth_rate)
rts_19['community'] = sols_19.solution.apply(lambda x: x.growth_rate)
rts_19

compartments             A             B         C  medium  community
0             1.185115e-16  2.928831e-16  0.205638     NaN   0.031293
1             4.663440e-03  2.107125e-04  0.167108     NaN   0.028164
2             6.775513e-03  4.952396e-03  0.130043     NaN   0.025034
3             7.702574e-03  6.451187e-03  0.103285     NaN   0.021905
4             1.018736e-02  3.759840e-03  0.078194     NaN   0.018776
5             1.271001e-02  7.495339e-04  0.053535     NaN   0.015646
6             1.273651e-02  2.358551e-03  0.029975     NaN   0.012517
7             1.321387e-02  2.282128e-03  0.007748     NaN   0.009388
8             8.400819e-03  4.009482e-03  0.002227     NaN   0.006259
9             4.200410e-03  2.004741e-03  0.001114     NaN   0.003129

In [152]:
#Obtain all fluxes/reactions related to the below metabolites of day 6
for i in sol1.fluxes:
    if '_pyr' in i:
        print('-----Pyruvate')
        print(i, sol1.fluxes[i],end='\n\n')
    if '_lac' in i:
        print('-----Lactate')
        print(i, sol1.fluxes[i],end='\n\n')
    if '_gal' in i:
        print('-----Galactose')
        print(i, sol1.fluxes[i],end='\n\n')
    if '_o2' in i:
        print('-----Oxygen')
        print(i, sol1.fluxes[i],end='\n\n')
    if '_glu' in i:
        print('-----Glutamate')
        print(i, sol1.fluxes[i],end='\n\n')
    if '_gln' in i:
        print('-----Glutamine')
        print(i, sol1.fluxes[i],end='\n\n')
    if '_co2' in i:
        print('-----Carbon Dio')
        print(i, sol1.fluxes[i],end='\n\n')
    if '_glc' in i:
        print('-----Glucose')
        print(i, sol1.fluxes[i],end='\n\n')

-----Carbon Dio
EX_co2_b compartment
A         0.692947
B         0.000000
C         0.139000
medium         NaN
Name: EX_co2_b, dtype: float64

-----Carbon Dio
EX_co2_e compartment
A         0.692947
B         0.000000
C         0.139000
medium         NaN
Name: EX_co2_e, dtype: float64

-----Carbon Dio
EX_co2_m compartment
A              NaN
B              NaN
C              NaN
medium    0.134634
Name: EX_co2_m, dtype: float64

-----Lactate
EX_gal_b compartment
A        -0.001039
B        -0.003332
C         0.000000
medium         NaN
Name: EX_gal_b, dtype: float64

-----Lactate
EX_gal_e compartment
A        -0.001039
B        -0.003332
C         0.000000
medium         NaN
Name: EX_gal_e, dtype: float64

-----Lactate
EX_gal_m compartment
A              NaN
B              NaN
C              NaN
medium   -0.001397
Name: EX_gal_m, dtype: float64

-----Glucose
EX_glc_D_b compartment
A         NaN
B         0.0
C         NaN
medium    NaN
Name: EX_glc_D_b, dtype: float64

-----Glucose
EX_glc_D_m compartment
A         NaN
B         NaN
C         NaN
medium    0.0
Name: EX_glc_D_m, dtype: float64

-----Glucose
EX_glc_e compartment
A         NaN
B         0.0
C         NaN
medium    NaN
Name: EX_glc_e, dtype: float64

-----Glutamine
EX_gln_L_b compartment
A              NaN
B        -0.007331
C         0.005525
medium         NaN
Name: EX_gln_L_b, dtype: float64

-----Glutamine
EX_gln_L_e compartment
A              NaN
B        -0.007331
C         0.005525
medium         NaN
Name: EX_gln_L_e, dtype: float64

-----Glutamine
EX_gln_L_m compartment
A         NaN
B         NaN
C         NaN
medium    0.0
Name: EX_gln_L_m, dtype: float64

-----Glutamate
EX_glu_L_b compartment
A         0.191935
B        -0.001289
C        -0.296095
medium         NaN
Name: EX_glu_L_b, dtype: float64

-----Glutamate
EX_glu_L_e compartment
A         0.191935
B        -0.001289
C        -0.296095
medium         NaN
Name: EX_glu_L_e, dtype: float64

-----Glutamate
EX_glu_L_m compartment
A            NaN
B            NaN
C            NaN
medium   -0.1368
Name: EX_glu_L_m, dtype: float64

-----Oxygen
EX_o2_b compartment
A        -0.001376
B        -0.220425
C        -0.219150
medium         NaN
Name: EX_o2_b, dtype: float64

-----Oxygen
EX_o2_e compartment
A        -0.001376
B        -0.220425
C        -0.219150
medium         NaN
Name: EX_o2_e, dtype: float64

-----Oxygen
EX_o2_m compartment
A         NaN
B         NaN
C         NaN
medium   -0.2
Name: EX_o2_m, dtype: float64

-----Pyruvate
EX_pyr_b compartment
A        -0.347139
B         0.088057
C        -0.356416
medium         NaN
Name: EX_pyr_b, dtype: float64

-----Pyruvate
EX_pyr_e compartment
A        -0.347139
B         0.088057
C        -0.356416
medium         NaN
Name: EX_pyr_e, dtype: float64

-----Pyruvate
EX_pyr_m compartment
A            NaN
B            NaN
C            NaN
medium   -0.1818
Name: EX_pyr_m, dtype: float64

In [89]:
#Obtain all fluxes/reactions related to the below metabolites of day 6
for i in sol21.fluxes:
    if '_pyr' in i:
        print('-----Pyruvate')
        print(i, sol21.fluxes[i],end='\n\n')
    if '_lac' in i:
        print('-----Lactate')
        print(i, sol21.fluxes[i],end='\n\n')
    if '_gal' in i:
        print('-----Galactose')
        print(i, sol1.fluxes[i],end='\n\n')
    if '_o2' in i:
        print('-----Oxygen')
        print(i, sol21.fluxes[i],end='\n\n')
    if '_glu' in i:
        print('-----Glutamate')
        print(i, sol21.fluxes[i],end='\n\n')
    if '_gln' in i:
        print('-----Glutamine')
        print(i, sol21.fluxes[i],end='\n\n')
    if '_co2' in i:
        print('-----Carbon Dio')
        print(i, sol21.fluxes[i],end='\n\n')
    if '_glc' in i:
        print('-----Glucose')
        print(i, sol21.fluxes[i],end='\n\n')

-----Carbon Dio
EX_co2_b compartment
A         0.868195
B         0.000000
C        -0.429239
medium         NaN
Name: EX_co2_b, dtype: float64

-----Carbon Dio
EX_co2_e compartment
A         0.868195
B         0.000000
C        -0.429239
medium         NaN
Name: EX_co2_e, dtype: float64

-----Carbon Dio
EX_co2_m compartment
A             NaN
B             NaN
C             NaN
medium    0.43295
Name: EX_co2_m, dtype: float64

-----Glucose
EX_glc_D_b compartment
A         NaN
B         0.0
C         NaN
medium    NaN
Name: EX_glc_D_b, dtype: float64

-----Glucose
EX_glc_D_m compartment
A         NaN
B         NaN
C         NaN
medium    0.0
Name: EX_glc_D_m, dtype: float64

-----Glucose
EX_glc_e compartment
A         NaN
B         0.0
C         NaN
medium    NaN
Name: EX_glc_e, dtype: float64

-----Glutamine
EX_gln_L_b compartment
A              NaN
B        -0.003905
C         0.007029
medium         NaN
Name: EX_gln_L_b, dtype: float64

-----Glutamine
EX_gln_L_e compartment
A              NaN
B        -0.003905
C         0.007029
medium         NaN
Name: EX_gln_L_e, dtype: float64

-----Glutamine
EX_gln_L_m compartment
A         NaN
B         NaN
C         NaN
medium    0.0
Name: EX_gln_L_m, dtype: float64

-----Glutamate
EX_glu_L_b compartment
A         0.413226
B        -0.000687
C        -2.456186
medium         NaN
Name: EX_glu_L_b, dtype: float64

-----Glutamate
EX_glu_L_e compartment
A         0.413226
B        -0.000687
C        -2.456186
medium         NaN
Name: EX_glu_L_e, dtype: float64

-----Glutamate
EX_glu_L_m compartment
A            NaN
B            NaN
C            NaN
medium   -0.1368
Name: EX_glu_L_m, dtype: float64

-----Lactate
EX_lac_L_b compartment
A         0.0
B         NaN
C         NaN
medium    NaN
Name: EX_lac_L_b, dtype: float64

-----Lactate
EX_lac_L_e compartment
A         0.0
B         NaN
C         NaN
medium    NaN
Name: EX_lac_L_e, dtype: float64

-----Lactate
EX_lac_L_m compartment
A         NaN
B         NaN
C         NaN
medium    0.0
Name: EX_lac_L_m, dtype: float64

-----Oxygen
EX_o2_b compartment
A        -0.073312
B        -0.116748
C        -0.827649
medium         NaN
Name: EX_o2_b, dtype: float64

-----Oxygen
EX_o2_e compartment
A        -0.073312
B        -0.116748
C        -0.827649
medium         NaN
Name: EX_o2_e, dtype: float64

-----Oxygen
EX_o2_m compartment
A         NaN
B         NaN
C         NaN
medium   -0.2
Name: EX_o2_m, dtype: float64

-----Pyruvate
EX_pyr_b compartment
A        -0.300270
B         0.038993
C        -0.132426
medium         NaN
Name: EX_pyr_b, dtype: float64

-----Pyruvate
EX_pyr_e compartment
A        -0.300270
B         0.038993
C        -0.132426
medium         NaN
Name: EX_pyr_e, dtype: float64

-----Pyruvate
EX_pyr_m compartment
A            NaN
B            NaN
C            NaN
medium   -0.1818
Name: EX_pyr_m, dtype: float64

In [ ]:
#Get all reactions that at least have 1 significant flux (dif. 0 and nan)
#You can use ctrl+f to find the reaction you want

In [53]:
#day 6
import math

flux_1=[]

for f in sol1.fluxes:
    if not((math.isnan(sol1.fluxes[f]['A']) or sol1.fluxes[f]['A']==0) 
           and (math.isnan(sol1.fluxes[f]['B']) or sol1.fluxes[f]['B']==0)
           and (math.isnan(sol1.fluxes[f]['C']) or sol1.fluxes[f]['C']==0)
           and (math.isnan(sol1.fluxes[f]['medium']) or sol1.fluxes[f]['medium']==0)):
        print(f, sol1.fluxes[f],end='\n\n')
        flux_1.append((f,sol1.fluxes[f]))

10FTHFtm compartment
A             NaN
B        -0.00081
C             NaN
medium        NaN
Name: 10FTHFtm, dtype: float64

2AMACHYD compartment
A         0.087900
B         0.000000
C         0.167156
medium         NaN
Name: 2AMACHYD, dtype: float64

34HPPte compartment
A         0.000603
B        -0.000139
C              NaN
medium         NaN
Name: 34HPPte, dtype: float64

3DSPHR compartment
A         0.000066
B         0.000212
C         0.000567
medium         NaN
Name: 3DSPHR, dtype: float64

3HCO3_NAt compartment
A         0.359178
B        -0.061369
C        -0.061383
medium         NaN
Name: 3HCO3_NAt, dtype: float64

AACOAT compartment
A         0.000000
B         0.028198
C         0.009489
medium         NaN
Name: AACOAT, dtype: float64

ACACT10m compartment
A         0.000462
B              NaN
C              NaN
medium         NaN
Name: ACACT10m, dtype: float64

ACACT1r compartment
A         0.000000
B        -0.026716
C        -0.009489
medium         NaN
Name: ACACT1r, dtype: float64

ACACT1rm compartment
A         0.000462
B              NaN
C              NaN
medium         NaN
Name: ACACT1rm, dtype: float64

ACCOAC compartment
A         0.000000
B         0.045455
C              NaN
medium         NaN
Name: ACCOAC, dtype: float64

ACCOACm compartment
A         0.000000
B              NaN
C         0.132849
medium         NaN
Name: ACCOACm, dtype: float64

ACOAD10m compartment
A         0.000462
B              NaN
C              NaN
medium         NaN
Name: ACOAD10m, dtype: float64

ADCim compartment
A         0.00000
B         0.00081
C         0.00000
medium        NaN
Name: ADCim, dtype: float64

ADK1 compartment
A         0.003332
B              NaN
C              NaN
medium         NaN
Name: ADK1, dtype: float64

ADK3 compartment
A         0.000000
B         0.032550
C         0.022216
medium         NaN
Name: ADK3, dtype: float64

ADKd compartment
A         0.000000
B        -0.000159
C              NaN
medium         NaN
Name: ADKd, dtype: float64

ADPT compartment
A              NaN
B         0.000159
C              NaN
medium         NaN
Name: ADPT, dtype: float64

ADSL1 compartment
A         0.000253
B         0.000810
C         0.002170
medium         NaN
Name: ADSL1, dtype: float64

ADSL2 compartment
A         0.000000
B         0.000000
C         0.004767
medium         NaN
Name: ADSL2, dtype: float64

ADSS compartment
A         0.000253
B         0.000810
C         0.002170
medium         NaN
Name: ADSS, dtype: float64

AGPAT1 compartment
A         0.000946
B         0.003035
C         0.008746
medium         NaN
Name: AGPAT1, dtype: float64

AGTim compartment
A         0.000000
B              NaN
C         0.026907
medium         NaN
Name: AGTim, dtype: float64

AHCYStr compartment
A         0.000077
B        -0.006247
C              NaN
medium         NaN
Name: AHCYStr, dtype: float64

AICART compartment
A         0.000253
B         0.000810
C         0.004113
medium         NaN
Name: AICART, dtype: float64

AICARte compartment
A         0.000253
B         0.000810
C        -0.000654
medium         NaN
Name: AICARte, dtype: float64

AIRCr_PRASCS compartment
A         0.000000
B         0.000000
C         0.004767
medium         NaN
Name: AIRCr_PRASCS, dtype: float64

AKGDm compartment
A              NaN
B              NaN
C         0.361953
medium         NaN
Name: AKGDm, dtype: float64

AKR1C42 compartment
A         0.00201
B             NaN
C         0.00000
medium        NaN
Name: AKR1C42, dtype: float64

ALAGLYexR compartment
A        -0.249889
B         0.000000
C         0.000000
medium         NaN
Name: ALAGLYexR, dtype: float64

ALAPAT4te compartment
A        -0.226959
B         0.000000
C              NaN
medium         NaN
Name: ALAPAT4te, dtype: float64

ALATA_L compartment
A        -0.480993
B        -0.000949
C              NaN
medium         NaN
Name: ALATA_L, dtype: float64

ALAtN1 compartment
A         0.000000
B         0.023485
C         0.043310
medium         NaN
Name: ALAtN1, dtype: float64

AMETr compartment
A        -0.000077
B         0.006247
C              NaN
medium         NaN
Name: AMETr, dtype: float64

ARGB0AT3tc compartment
A         0.001357
B              NaN
C         0.011654
medium         NaN
Name: ARGB0AT3tc, dtype: float64

ARGN compartment
A         0.000000
B         0.127467
C              NaN
medium         NaN
Name: ARGN, dtype: float64

ARTCOAL3 compartment
A         0.000000
B              NaN
C         0.000352
medium         NaN
Name: ARTCOAL3, dtype: float64

ARTPLM3 compartment
A         0.000066
B        -0.006282
C        -0.018411
medium         NaN
Name: ARTPLM3, dtype: float64

ASNS1 compartment
A         0.001055
B         0.003384
C         0.009064
medium         NaN
Name: ASNS1, dtype: float64

ASPCTr compartment
A         0.000000
B         0.000000
C         0.004856
medium         NaN
Name: ASPCTr, dtype: float64

ATPS4m compartment
A              NaN
B              NaN
C         0.688567
medium         NaN
Name: ATPS4m, dtype: float64

ATPtm compartment
A         0.000049
B              NaN
C         0.831240
medium         NaN
Name: ATPtm, dtype: float64

BTNt2 compartment
A              NaN
B        -0.378603
C              NaN
medium         NaN
Name: BTNt2, dtype: float64

BTNt4i compartment
A              NaN
B         0.378603
C              NaN
medium         NaN
Name: BTNt4i, dtype: float64

C14STRr compartment
A         0.000077
B         0.000247
C         0.000662
medium         NaN
Name: C14STRr, dtype: float64

C3STDH1Pr compartment
A         0.000077
B         0.000247
C         0.000662
medium         NaN
Name: C3STDH1Pr, dtype: float64

C3STKR2r compartment
A              NaN
B         0.000247
C         0.000662
medium         NaN
Name: C3STKR2r, dtype: float64

C4STMO1r compartment
A         0.000077
B         0.000247
C         0.000662
medium         NaN
Name: C4STMO1r, dtype: float64

C4STMO2Pr compartment
A              NaN
B         0.000247
C         0.000662
medium         NaN
Name: C4STMO2Pr, dtype: float64

CATm compartment
A         0.000693
B              NaN
C         0.000000
medium         NaN
Name: CATm, dtype: float64

CATp compartment
A         0.000000
B              NaN
C         0.013453
medium         NaN
Name: CATp, dtype: float64

CBPS compartment
A         0.000000
B         0.000000
C         0.004856
medium         NaN
Name: CBPS, dtype: float64

CDIPTr compartment
A        -0.000044
B        -0.000141
C        -0.000993
medium         NaN
Name: CDIPTr, dtype: float64

CEPTC compartment
A         0.000649
B              NaN
C              NaN
medium         NaN
Name: CEPTC, dtype: float64

CHLPCTD compartment
A         0.000649
B              NaN
C              NaN
medium         NaN
Name: CHLPCTD, dtype: float64

CHOLK compartment
A         0.000624
B         0.002082
C              NaN
medium         NaN
Name: CHOLK, dtype: float64

CHOLt4 compartment
A         0.000624
B              NaN
C         0.005578
medium         NaN
Name: CHOLt4, dtype: float64

CHOLtu compartment
A              NaN
B         0.002082
C              NaN
medium         NaN
Name: CHOLtu, dtype: float64

CHSTEROLtrc compartment
A         0.000077
B         0.000247
C         0.000662
medium         NaN
Name: CHSTEROLtrc, dtype: float64

CITt4_4 compartment
A         0.000000
B         0.002449
C        -0.205584
medium         NaN
Name: CITt4_4, dtype: float64

CLCFTRte compartment
A        -0.149083
B         0.003142
C         0.000000
medium         NaN
Name: CLCFTRte, dtype: float64

CLFORtex compartment
A         0.000039
B         0.000000
C              NaN
medium         NaN
Name: CLFORtex, dtype: float64

CLS_hs compartment
A         0.000044
B         0.000141
C         0.000378
medium         NaN
Name: CLS_hs, dtype: float64

CO2t compartment
A        -0.692947
B        -0.038203
C        -0.139000
medium         NaN
Name: CO2t, dtype: float64

CO2ter compartment
A        -0.000077
B        -0.000494
C        -0.001324
medium         NaN
Name: CO2ter, dtype: float64

CO2tm compartment
A        -0.974461
B        -0.001480
C         0.048742
medium         NaN
Name: CO2tm, dtype: float64

COAtm compartment
A              NaN
B         0.000000
C         0.003971
medium         NaN

Name: COAtm, dtype: float64

CTPS1 compartment
A         0.000183
B         0.000587
C         0.001573
medium         NaN
Name: CTPS1, dtype: float64

CYOOm3 compartment
A              NaN
B              NaN
C         0.150073
medium         NaN
Name: CYOOm3, dtype: float64

CYOR_u10m compartment
A         0.000000
B         0.000000
C         0.300146
medium         NaN
Name: CYOR_u10m, dtype: float64

CYSSNAT4te compartment
A         0.000000
B        -0.145482
C         0.445877
medium         NaN
Name: CYSSNAT4te, dtype: float64

CYSSNAT5tc compartment
A         0.000176
B         0.000000
C         0.001368
medium         NaN
Name: CYSSNAT5tc, dtype: float64

CYTK1 compartment
A         0.0006
B            NaN
C            NaN
medium       NaN
Name: CYTK1, dtype: float64

CYTK7 compartment
A         0.000049
B              NaN
C              NaN
medium         NaN
Name: CYTK7, dtype: float64

DAGK_hs compartment
A        -0.000583
B         0.000212
C         0.000567
medium         NaN
Name: DAGK_hs, dtype: float64

DATPtn compartment
A         0.000050
B         0.000160
C         0.000428
medium         NaN
Name: DATPtn, dtype: float64

DCTPtn compartment
A         0.000036
B         0.000114
C         0.000306
medium         NaN
Name: DCTPtn, dtype: float64

DGTPtn compartment
A         0.000037
B         0.000120
C         0.000321
medium         NaN
Name: DGTPtn, dtype: float64

DGULND compartment
A         0.000000
B         0.217445
C         0.049100
medium         NaN
Name: DGULND, dtype: float64

DHCR241r compartment
A              NaN
B         0.000000
C         0.029796
medium         NaN
Name: DHCR241r, dtype: float64

DHCR242r compartment
A         0.000077
B         0.000247
C         0.000000
medium         NaN
Name: DHCR242r, dtype: float64

DHCR243r compartment
A              NaN
B         0.000000
C         0.000662
medium         NaN
Name: DHCR243r, dtype: float64

DHCR71r compartment
A              NaN
B         0.000000
C         0.000662
medium         NaN
Name: DHCR71r, dtype: float64

DHCR72r compartment
A         0.000077
B         0.000247
C         0.000000
medium         NaN
Name: DHCR72r, dtype: float64

DHFtm compartment
A         0.000049
B              NaN
C         0.000425
medium         NaN
Name: DHFtm, dtype: float64

DHORD9 compartment
A         0.000000
B         0.000000
C         0.004856
medium         NaN
Name: DHORD9, dtype: float64

DHORTS compartment
A         0.000000
B         0.000000
C        -0.004856
medium         NaN
Name: DHORTS, dtype: float64

DMATT compartment
A         0.000154
B         0.000494
C         0.001324
medium         NaN
Name: DMATT, dtype: float64

DM_Lcystin compartment
A         0.000000
B         0.000000
C         0.158231
medium         NaN
Name: DM_Lcystin, dtype: float64

DM_anth compartment
A              NaN
B         0.000545
C              NaN
medium         NaN
Name: DM_anth, dtype: float64

DNDPt19m compartment
A         0.000049
B              NaN
C         0.000425
medium         NaN
Name: DNDPt19m, dtype: float64

DPMVDc compartment
A         0.000462
B         0.001482
C         0.003971
medium         NaN
Name: DPMVDc, dtype: float64

DSAT compartment
A         0.000066
B         0.000212
C         0.000567
medium         NaN
Name: DSAT, dtype: float64

DTMPK compartment
A         0.000049
B         0.000159
C         0.000425
medium         NaN
Name: DTMPK, dtype: float64

DTTPtn compartment
A         0.000049
B         0.000159
C         0.000425
medium         NaN
Name: DTTPtn, dtype: float64

DURAD2 compartment
A              NaN
B              NaN
C         0.618443
medium         NaN
Name: DURAD2, dtype: float64

DURIPP compartment
A              NaN
B        -0.000159
C              NaN
medium         NaN
Name: DURIPP, dtype: float64

EBP1r compartment
A         0.000077
B         0.000247
C         0.000662
medium         NaN
Name: EBP1r, dtype: float64

ECOAH9m compartment
A         0.000462
B              NaN
C              NaN
medium         NaN
Name: ECOAH9m, dtype: float64

ENO compartment
A         0.045954
B         0.370018
C         0.004464
medium         NaN
Name: ENO, dtype: float64

ETHAK compartment
A         0.000026
B              NaN
C              NaN
medium         NaN
Name: ETHAK, dtype: float64

ETHP compartment
A         0.000000
B         0.002082
C              NaN
medium         NaN
Name: ETHP, dtype: float64

EX_34hpp_ compartment
A        -0.000603
B         0.000139
C              NaN
medium         NaN
Name: EX_34hpp_, dtype: float64

EX_34hpp_b compartment
A        -0.000603
B         0.000139
C              NaN
medium         NaN
Name: EX_34hpp_b, dtype: float64

EX_Lcystin_b compartment
A         0.000000
B         0.000000
C         0.158231
medium         NaN
Name: EX_Lcystin_b, dtype: float64

EX_Lcystin_m compartment
A             NaN
B             NaN
C             NaN
medium    0.08209
Name: EX_Lcystin_m, dtype: float64

EX_Rtotal_b compartment
A        -0.002025
B              NaN
C         0.000352
medium         NaN
Name: EX_Rtotal_b, dtype: float64

EX_Rtotal_e compartment
A        -0.002025
B              NaN
C         0.000352
medium         NaN
Name: EX_Rtotal_e, dtype: float64

EX_acac_b compartment
A         0.000000
B        -0.029008
C         0.043482
medium         NaN
Name: EX_acac_b, dtype: float64

EX_acac_e compartment
A         0.000000
B        -0.029008
C         0.043482
medium         NaN
Name: EX_acac_e, dtype: float64

EX_acac_m compartment
A              NaN
B              NaN
C              NaN
medium    0.011217
Name: EX_acac_m, dtype: float64

EX_acetone_b compartment
A         0.00000
B         0.00081
C         0.00000
medium        NaN
Name: EX_acetone_b, dtype: float64

EX_acetone_e compartment
A         0.00000
B         0.00081
C         0.00000
medium        NaN
Name: EX_acetone_e, dtype: float64

EX_acetone_m compartment
A              NaN
B              NaN
C              NaN
medium    0.000317
Name: EX_acetone_m, dtype: float64

EX_aicar_b compartment
A        -0.000253
B        -0.000810
C         0.000654
medium         NaN
Name: EX_aicar_b, dtype: float64

EX_aicar_e compartment
A        -0.000253
B        -0.000810
C         0.000654
medium         NaN
Name: EX_aicar_e, dtype: float64

EX_akg_b compartment
A         0.347602
B              NaN
C        -0.060452
medium         NaN
Name: EX_akg_b, dtype: float64

EX_akg_e compartment
A         0.347602
B              NaN
C        -0.060452
medium         NaN
Name: EX_akg_e, dtype: float64

EX_ala_L_b compartment
A         0.479084
B        -0.005439
C        -0.043310
medium         NaN
Name: EX_ala_L_b, dtype: float64

EX_ala_L_e compartment
A         0.479084
B        -0.005439
C        -0.043310
medium         NaN
Name: EX_ala_L_e, dtype: float64

EX_ala_L_m compartment
A             NaN
B             NaN
C             NaN
medium    0.01863
Name: EX_ala_L_m, dtype: float64

EX_anth_b compartment
A              NaN
B         0.000545
C              NaN
medium         NaN
Name: EX_anth_b, dtype: float64

EX_anth_m compartment
A              NaN
B              NaN
C              NaN
medium    0.000213
Name: EX_anth_m, dtype: float64

EX_arg_L_b compartment
A        -0.001357
B        -0.131818
C        -0.011654
medium         NaN
Name: EX_arg_L_b, dtype: float64

EX_arg_L_e compartment
A        -0.001357
B        -0.131818
C        -0.011654
medium         NaN
Name: EX_arg_L_e, dtype: float64

EX_arg_L_m compartment
A              NaN
B              NaN
C              NaN
medium   -0.057706
Name: EX_arg_L_m, dtype: float64

EX_asp_L_b compartment
A        -0.002639
B        -0.008463
C        -0.032296
medium         NaN
Name: EX_asp_L_b, dtype: float64

EX_asp_L_e compartment
A        -0.002639
B        -0.008463
C        -0.032296
medium         NaN
Name: EX_asp_L_e, dtype: float64

EX_asp_L_m compartment
A              NaN
B              NaN
C              NaN
medium   -0.020302
Name: EX_asp_L_m, dtype: float64

EX_biomass_c compartment
A         0.003776
B         0.012109
C         0.032440
medium         NaN
Name: EX_biomass_c, dtype: float64

EX_chol_b compartment
A        -0.000624
B        -0.002082
C        -0.005578
medium         NaN

Name: EX_chol_b, dtype: float64

EX_chol_e compartment
A        -0.000624
B        -0.002082
C        -0.005578
medium         NaN
Name: EX_chol_e, dtype: float64

EX_chol_m compartment
A              NaN
B              NaN
C              NaN
medium   -0.003764
Name: EX_chol_m, dtype: float64

EX_co2_b compartment
A         0.692947
B         0.000000
C         0.139000
medium         NaN
Name: EX_co2_b, dtype: float64

EX_co2_e compartment
A         0.692947
B         0.000000
C         0.139000
medium         NaN
Name: EX_co2_e, dtype: float64

EX_co2_m compartment
A              NaN
B              NaN
C              NaN
medium    0.134634
Name: EX_co2_m, dtype: float64

EX_cys_L_b compartment
A        -0.000176
B         0.145482
C        -0.428037
medium         NaN
Name: EX_cys_L_b, dtype: float64

EX_cys_L_e compartment
A        -0.000176
B         0.145482
C        -0.428037
medium         NaN
Name: EX_cys_L_e, dtype: float64

EX_cys_L_m compartment
A            NaN
B            NaN
C            NaN
medium   -0.1652
Name: EX_cys_L_m, dtype: float64

EX_fol_b compartment
A        -0.386813
B         0.000000
C         0.000000
medium         NaN
Name: EX_fol_b, dtype: float64

EX_fol_e compartment
A        -0.386813
B         0.000000
C         0.000000
medium         NaN
Name: EX_fol_e, dtype: float64

EX_fol_m compartment
A            NaN
B            NaN
C            NaN
medium   -0.0349
Name: EX_fol_m, dtype: float64

EX_for_b compartment
A         0.000077
B        -0.000018
C              NaN
medium         NaN
Name: EX_for_b, dtype: float64

EX_for_e compartment
A         0.000077
B        -0.000018
C              NaN
medium         NaN
Name: EX_for_e, dtype: float64

EX_fum_b compartment
A         0.000253
B         0.000810
C         0.006937
medium         NaN
Name: EX_fum_b, dtype: float64

EX_fum_e compartment
A         0.000253
B         0.000810
C         0.006937
medium         NaN
Name: EX_fum_e, dtype: float64

EX_fum_m compartment
A              NaN
B              NaN
C              NaN
medium    0.003938
Name: EX_fum_m, dtype: float64

EX_gal_b compartment
A        -0.001039
B        -0.003332
C         0.000000
medium         NaN
Name: EX_gal_b, dtype: float64

EX_gal_e compartment
A        -0.001039
B        -0.003332
C         0.000000
medium         NaN
Name: EX_gal_e, dtype: float64

EX_gal_m compartment
A              NaN
B              NaN
C              NaN
medium   -0.001397
Name: EX_gal_m, dtype: float64

EX_gln_L_b compartment
A              NaN
B        -0.007331
C         0.005525
medium         NaN
Name: EX_gln_L_b, dtype: float64

EX_gln_L_e compartment
A              NaN
B        -0.007331
C         0.005525
medium         NaN
Name: EX_gln_L_e, dtype: float64

EX_glu_L_b compartment
A         0.191935
B        -0.001289
C        -0.296095
medium         NaN
Name: EX_glu_L_b, dtype: float64

EX_glu_L_e compartment
A         0.191935
B        -0.001289
C        -0.296095
medium         NaN
Name: EX_glu_L_e, dtype: float64

EX_glu_L_m compartment
A            NaN
B            NaN
C            NaN
medium   -0.1368
Name: EX_glu_L_m, dtype: float64

EX_gly_b compartment
A        -0.091740
B        -0.006367
C        -0.020061
medium         NaN
Name: EX_gly_b, dtype: float64

EX_gly_e compartment
A        -0.091740
B        -0.006367
C        -0.020061
medium         NaN
Name: EX_gly_e, dtype: float64

EX_gly_m compartment
A              NaN
B              NaN
C              NaN
medium   -0.021174
Name: EX_gly_m, dtype: float64

EX_glyc3p_b compartment
A        -0.046900
B        -0.012459
C         0.017546
medium         NaN
Name: EX_glyc3p_b, dtype: float64

EX_glyc3p_e compartment
A        -0.046900
B        -0.012459
C         0.017546
medium         NaN
Name: EX_glyc3p_e, dtype: float64

EX_h2o_b compartment
A        -0.386813
B         0.089265
C              NaN
medium         NaN
Name: EX_h2o_b, dtype: float64

EX_h2o_e compartment
A        -0.386813
B         0.089265
C              NaN
medium         NaN
Name: EX_h2o_e, dtype: float64

EX_h_b compartment
A         0.099740
B         0.711705
C        -0.553703
medium         NaN
Name: EX_h_b, dtype: float64

EX_h_e compartment
A         0.099740
B         0.711705
C        -0.553703
medium         NaN
Name: EX_h_e, dtype: float64

EX_hco3_b compartment
A        -0.690720
B         0.222309
C         0.354664
medium         NaN
Name: EX_hco3_b, dtype: float64

EX_hco3_e compartment
A        -0.690720
B         0.222309
C         0.354664
medium         NaN
Name: EX_hco3_e, dtype: float64

EX_hco3_m compartment
A              NaN
B              NaN
C              NaN
medium    0.208596
Name: EX_hco3_m, dtype: float64

EX_his_L_b compartment
A        -0.090484
B        -0.001531
C        -0.038124
medium         NaN
Name: EX_his_L_b, dtype: float64

EX_his_L_e compartment
A        -0.090484
B        -0.001531
C        -0.038124
medium         NaN
Name: EX_his_L_e, dtype: float64

EX_his_L_m compartment
A              NaN
B              NaN
C              NaN
medium   -0.028541
Name: EX_his_L_m, dtype: float64

EX_ile_L_b compartment
A        -0.001542
B        -0.003464
C        -0.009280
medium         NaN
Name: EX_ile_L_b, dtype: float64

EX_ile_L_e compartment
A        -0.001542
B        -0.003464
C        -0.009280
medium         NaN
Name: EX_ile_L_e, dtype: float64

EX_ile_L_m compartment
A              NaN
B              NaN
C              NaN
medium   -0.006308
Name: EX_ile_L_m, dtype: float64

EX_inost_b compartment
A        -0.000088
B        -0.217727
C        -0.049857
medium         NaN
Name: EX_inost_b, dtype: float64

EX_inost_e compartment
A        -0.000088
B        -0.217727
C        -0.049857
medium         NaN
Name: EX_inost_e, dtype: float64

EX_inost_m compartment
A           NaN
B           NaN
C           NaN
medium   -0.111
Name: EX_inost_m, dtype: float64

EX_leu_L_b compartment
A        -0.002060
B        -0.006606
C        -0.074639
medium         NaN
Name: EX_leu_L_b, dtype: float64

EX_leu_L_e compartment
A        -0.002060
B        -0.006606
C        -0.074639
medium         NaN
Name: EX_leu_L_e, dtype: float64

EX_leu_L_m compartment
A              NaN
B              NaN
C              NaN
medium   -0.041491
Name: EX_leu_L_m, dtype: float64

EX_lys_L_b compartment
A        -0.002236
B        -0.007170
C        -0.019208
medium         NaN
Name: EX_lys_L_b, dtype: float64

EX_lys_L_e compartment
A        -0.002236
B        -0.007170
C        -0.019208
medium         NaN
Name: EX_lys_L_e, dtype: float64

EX_lys_L_m compartment
A             NaN
B             NaN
C             NaN
medium   -0.01297
Name: EX_lys_L_m, dtype: float64

EX_met_L_b compartment
A        -0.000578
B        -0.001853
C        -0.004964
medium         NaN
Name: EX_met_L_b, dtype: float64

EX_met_L_e compartment
A        -0.000578
B        -0.001853
C        -0.004964
medium         NaN
Name: EX_met_L_e, dtype: float64

EX_met_L_m compartment
A              NaN
B              NaN
C              NaN
medium   -0.003352
Name: EX_met_L_m, dtype: float64

EX_mthgxl_b compartment
A              NaN
B         0.281822
C         0.475065
medium         NaN
Name: EX_mthgxl_b, dtype: float64

EX_mthgxl_e compartment
A              NaN
B         0.281822
C         0.475065
medium         NaN
Name: EX_mthgxl_e, dtype: float64

EX_mthgxl_m compartment
A              NaN
B              NaN
C              NaN
medium    0.356648
Name: EX_mthgxl_m, dtype: float64

EX_nh4_b compartment
A         0.131739
B         0.126430
C         0.551025
medium         NaN
Name: EX_nh4_b, dtype: float64

EX_nh4_e compartment
A         0.131739
B         0.126430
C         0.551025
medium         NaN
Name: EX_nh4_e, dtype: float64

EX_nh4_m compartment
A              NaN
B              NaN
C              NaN
medium    0.347188
Name: EX_nh4_m, dtype: float64

EX_o2_b compartment
A        -0.001376
B        -0.220425
C        -0.219150
medium         NaN
Name: EX_o2_b, dtype: float64

EX_o2_e compartment
A        -0.001376
B        -0.220425
C        -0.219150
medium         NaN
Name: EX_o2_e, dtype: float64

EX_o2_m compartment
A         NaN
B         NaN
C         NaN
medium   -0.2

Name: EX_o2_m, dtype: float64

EX_orot_b compartment
A         0.000000
B        -0.001088
C         0.000820
medium         NaN
Name: EX_orot_b, dtype: float64

EX_orot_e compartment
A         0.000000
B        -0.001088
C         0.000820
medium         NaN
Name: EX_orot_e, dtype: float64

EX_pglyc_hs_b compartment
A        -0.000055
B        -0.000176
C         0.000143
medium         NaN
Name: EX_pglyc_hs_b, dtype: float64

EX_pglyc_hs_e compartment
A        -0.000055
B        -0.000176
C         0.000143
medium         NaN
Name: EX_pglyc_hs_e, dtype: float64

EX_phe_L_b compartment
A        -0.000980
B        -0.003142
C        -0.008417
medium         NaN
Name: EX_phe_L_b, dtype: float64

EX_phe_L_e compartment
A        -0.000980
B        -0.003142
C        -0.008417
medium         NaN
Name: EX_phe_L_e, dtype: float64

EX_phe_L_m compartment
A              NaN
B              NaN
C              NaN
medium   -0.005684
Name: EX_phe_L_m, dtype: float64

EX_pi_b compartment
A         0.043996
B        -0.000120
C        -0.059986
medium         NaN
Name: EX_pi_b, dtype: float64

EX_pi_e compartment
A         0.043996
B        -0.000120
C        -0.059986
medium         NaN
Name: EX_pi_e, dtype: float64

EX_pi_m compartment
A              NaN
B              NaN
C              NaN
medium   -0.027198
Name: EX_pi_m, dtype: float64

EX_ppa_b compartment
A        -0.000462
B         0.000107
C         0.000000
medium         NaN
Name: EX_ppa_b, dtype: float64

EX_ppa_e compartment
A        -0.000462
B         0.000107
C         0.000000
medium         NaN
Name: EX_ppa_e, dtype: float64

EX_pro_L_b compartment
A        -0.453775
B         0.122473
C        -0.013381
medium         NaN
Name: EX_pro_L_b, dtype: float64

EX_pro_L_e compartment
A        -0.453775
B         0.122473
C        -0.013381
medium         NaN
Name: EX_pro_L_e, dtype: float64

EX_pyr_b compartment
A        -0.347139
B         0.088057
C        -0.356416
medium         NaN
Name: EX_pyr_b, dtype: float64

EX_pyr_e compartment
A        -0.347139
B         0.088057
C        -0.356416
medium         NaN
Name: EX_pyr_e, dtype: float64

EX_pyr_m compartment
A            NaN
B            NaN
C            NaN
medium   -0.1818
Name: EX_pyr_m, dtype: float64

EX_ser_L_b compartment
A         0.000000
B        -0.005865
C        -0.157723
medium         NaN
Name: EX_ser_L_b, dtype: float64

EX_ser_L_e compartment
A         0.000000
B        -0.005865
C        -0.157723
medium         NaN
Name: EX_ser_L_e, dtype: float64

EX_ser_L_m compartment
A              NaN
B              NaN
C              NaN
medium   -0.084119
Name: EX_ser_L_m, dtype: float64

EX_sfcys_e compartment
A         0.000000
B        -0.146046
C         0.110063
medium         NaN
Name: EX_sfcys_e, dtype: float64

EX_slfcys_b compartment
A         0.000000
B        -0.146046
C         0.110063
medium         NaN
Name: EX_slfcys_b, dtype: float64

EX_so4_b compartment
A         0.000000
B         0.146046
C        -0.110063
medium         NaN
Name: EX_so4_b, dtype: float64

EX_so4_e compartment
A         0.000000
B         0.146046
C        -0.110063
medium         NaN
Name: EX_so4_e, dtype: float64

EX_succ_b compartment
A              NaN
B         0.000000
C         0.361953
medium         NaN
Name: EX_succ_b, dtype: float64

EX_succ_e compartment
A              NaN
B         0.000000
C         0.361953
medium         NaN
Name: EX_succ_e, dtype: float64

EX_succ_m compartment
A             NaN
B             NaN
C             NaN
medium    0.18778
Name: EX_succ_m, dtype: float64

EX_thf_b compartment
A         0.386813
B              NaN
C              NaN
medium         NaN
Name: EX_thf_b, dtype: float64

EX_thf_e compartment
A         0.386813
B              NaN
C              NaN
medium         NaN
Name: EX_thf_e, dtype: float64

EX_thf_m compartment
A            NaN
B            NaN
C            NaN
medium    0.0349
Name: EX_thf_m, dtype: float64

EX_thr_L_b compartment
A        -0.001181
B        -0.003893
C        -0.010144
medium         NaN
Name: EX_thr_L_b, dtype: float64

EX_thr_L_e compartment
A        -0.001181
B        -0.003893
C        -0.010144
medium         NaN
Name: EX_thr_L_e, dtype: float64

EX_thr_L_m compartment
A              NaN
B              NaN
C              NaN
medium   -0.006891
Name: EX_thr_L_m, dtype: float64

EX_trp_L_b compartment
A        -0.000050
B        -0.000706
C        -0.000432
medium         NaN
Name: EX_trp_L_b, dtype: float64

EX_trp_L_e compartment
A        -0.000050
B        -0.000706
C        -0.000432
medium         NaN
Name: EX_trp_L_e, dtype: float64

EX_trp_L_m compartment
A              NaN
B              NaN
C              NaN
medium   -0.000505
Name: EX_trp_L_m, dtype: float64

EX_tyr_L_b compartment
A         0.000000
B        -0.002073
C        -0.005180
medium         NaN
Name: EX_tyr_L_b, dtype: float64

EX_tyr_L_e compartment
A         0.000000
B        -0.002073
C        -0.005180
medium         NaN
Name: EX_tyr_L_e, dtype: float64

EX_tyr_L_m compartment
A              NaN
B              NaN
C              NaN
medium   -0.003498
Name: EX_tyr_L_m, dtype: float64

EX_urea_b compartment
A         0.000000
B         0.127467
C              NaN
medium         NaN
Name: EX_urea_b, dtype: float64

EX_urea_e compartment
A         0.000000
B         0.127467
C              NaN
medium         NaN
Name: EX_urea_e, dtype: float64

EX_urea_m compartment
A              NaN
B              NaN
C              NaN
medium    0.049837
Name: EX_urea_m, dtype: float64

EX_utp_b compartment
A        -0.000434
B        -0.000304
C         0.000305
medium         NaN
Name: EX_utp_b, dtype: float64

EX_utp_e compartment
A        -0.000434
B        -0.000304
C         0.000305
medium         NaN
Name: EX_utp_e, dtype: float64

EX_val_L_b compartment
A        -0.001331
B        -0.004270
C        -0.011439
medium         NaN
Name: EX_val_L_b, dtype: float64

EX_val_L_e compartment
A        -0.001331
B        -0.004270
C        -0.011439
medium         NaN
Name: EX_val_L_e, dtype: float64

EX_val_L_m compartment
A              NaN
B              NaN
C              NaN
medium   -0.007724
Name: EX_val_L_m, dtype: float64

EX_xmp_b compartment
A        -0.000174
B        -0.000557
C         0.000450
medium         NaN
Name: EX_xmp_b, dtype: float64

EX_xmp_e compartment
A        -0.000174
B        -0.000557
C         0.000450
medium         NaN
Name: EX_xmp_e, dtype: float64

FADH2tru compartment
A         0.000077
B         0.000247
C         0.030458
medium         NaN
Name: FADH2tru, dtype: float64

FADtru compartment
A         0.000077
B         0.000247
C         0.030458
medium         NaN
Name: FADtru, dtype: float64

FAS100COA compartment
A         0.000000
B         0.006494
C         0.018978
medium         NaN
Name: FAS100COA, dtype: float64

FAS120COA compartment
A         0.000000
B         0.006494
C         0.018978
medium         NaN
Name: FAS120COA, dtype: float64

FAS140COA compartment
A         0.000000
B         0.006494
C         0.018978
medium         NaN
Name: FAS140COA, dtype: float64

FAS160COA compartment
A         0.000000
B         0.006494
C         0.018978
medium         NaN
Name: FAS160COA, dtype: float64

FAS80COA_L compartment
A         0.000000
B         0.006494
C         0.018978
medium         NaN
Name: FAS80COA_L, dtype: float64

FBA compartment
A         0.000000
B         0.072119
C              NaN
medium         NaN
Name: FBA, dtype: float64

FBA4 compartment
A              NaN
B         0.000000
C         0.026907
medium         NaN
Name: FBA4, dtype: float64

FDH compartment
A              NaN
B         0.000000
C         0.000662
medium         NaN
Name: FDH, dtype: float64

FOLOAT1tc compartment
A         0.000000
B              NaN
C        -0.060452
medium         NaN
Name: FOLOAT1tc, dtype: float64

FOLOAT2tc compartment
A         0.000000
B         0.000000
C        -0.110063
medium         NaN
Name: FOLOAT2tc, dtype: float64

FOLOATPtc compartment
A         0.386813
B         0.000000
C         0.170516
medium         NaN
Name: FOLOATPtc, dtype: float64

FORt2m compartment
A             NaN
B        -0.00081
C             NaN
medium        NaN

Name: FORt2m, dtype: float64

FORtr compartment
A        -0.000077
B        -0.000247
C        -0.000662
medium         NaN
Name: FORtr, dtype: float64

FRDPtcr compartment
A         0.000154
B         0.000494
C         0.001324
medium         NaN
Name: FRDPtcr, dtype: float64

FTCD compartment
A         0.090007
B              NaN
C         0.034023
medium         NaN
Name: FTCD, dtype: float64

FTHFLm compartment
A             NaN
B         0.00081
C             NaN
medium        NaN
Name: FTHFLm, dtype: float64

G3PD1 compartment
A         0.045954
B         0.009424
C        -0.026907
medium         NaN
Name: G3PD1, dtype: float64

G5SADrm compartment
A         0.000000
B         0.127467
C         0.000000
medium         NaN
Name: G5SADrm, dtype: float64

GALK compartment
A         0.001039
B         0.003332
C              NaN
medium         NaN
Name: GALK, dtype: float64

GALt2_2 compartment
A              NaN
B         0.003332
C         0.000000
medium         NaN
Name: GALt2_2, dtype: float64

GALt4 compartment
A         0.001039
B              NaN
C              NaN
medium         NaN
Name: GALt4, dtype: float64

GAPD compartment
A         0.045954
B         0.370018
C         0.004464
medium         NaN
Name: GAPD, dtype: float64

GARFT compartment
A         0.000000
B         0.000000
C         0.004767
medium         NaN
Name: GARFT, dtype: float64

GCALDD compartment
A         0.000000
B         0.000000
C         0.026907
medium         NaN
Name: GCALDD, dtype: float64

GHMT2r compartment
A        -0.089705
B         0.000159
C        -0.024719
medium         NaN
Name: GHMT2r, dtype: float64

GK1 compartment
A         0.000174
B         0.000557
C         0.001493
medium         NaN
Name: GK1, dtype: float64

GLCURter compartment
A         0.000000
B         0.217445
C         0.049100
medium         NaN
Name: GLCURter, dtype: float64

GLNS compartment
A         0.002286
B         0.000000
C         0.039555
medium         NaN
Name: GLNS, dtype: float64

GLUDxm compartment
A        -0.907208
B         0.000000
C         0.358018
medium         NaN
Name: GLUDxm, dtype: float64

GLUDym compartment
A         0.773675
B         0.127467
C         0.000425
medium         NaN
Name: GLUDym, dtype: float64

GLUPRT compartment
A         0.000000
B         0.000000
C         0.004767
medium         NaN
Name: GLUPRT, dtype: float64

GLXtm compartment
A         0.000000
B              NaN
C         0.026907
medium         NaN
Name: GLXtm, dtype: float64

GLXtp compartment
A         0.000000
B              NaN
C        -0.026907
medium         NaN
Name: GLXtp, dtype: float64

GLYCLTtp compartment
A         0.000000
B         0.000000
C         0.026907
medium         NaN
Name: GLYCLTtp, dtype: float64

GLYCTO1p compartment
A         0.000000
B         0.000000
C         0.026907
medium         NaN
Name: GLYCTO1p, dtype: float64

GLYSNAT5tc compartment
A         0.000000
B         0.010260
C         0.050362
medium         NaN
Name: GLYSNAT5tc, dtype: float64

GLYt7_311_r compartment
A        -0.156969
B         0.000000
C        -0.025683
medium         NaN
Name: GLYt7_311_r, dtype: float64

GLYtm compartment
A         0.000000
B              NaN
C        -0.026907
medium         NaN
Name: GLYtm, dtype: float64

GPAM_hs compartment
A         0.000946
B         0.003035
C         0.008746
medium         NaN
Name: GPAM_hs, dtype: float64

GRTT compartment
A         0.000154
B         0.000494
C         0.001324
medium         NaN
Name: GRTT, dtype: float64

GUAPRT compartment
A         0.000174
B         0.000557
C              NaN
medium         NaN
Name: GUAPRT, dtype: float64

GULN3D compartment
A         0.000000
B         0.217445
C         0.049100
medium         NaN
Name: GULN3D, dtype: float64

GULNDer compartment
A         0.000000
B         0.217445
C         0.049100
medium         NaN
Name: GULNDer, dtype: float64

GULNter compartment
A         0.000000
B         0.217445
C         0.049100
medium         NaN
Name: GULNter, dtype: float64

GluForTx compartment
A         0.090007
B              NaN
C         0.034023
medium         NaN
Name: GluForTx, dtype: float64

H2CO3D compartment
A         0.282119
B         0.229561
C              NaN
medium         NaN
Name: H2CO3D, dtype: float64

H2CO3Dm compartment
A        -0.972839
B         0.000000
C         0.549311
medium         NaN
Name: H2CO3Dm, dtype: float64

H2Oter compartment
A        -0.000847
B        -0.002717
C        -0.007280
medium         NaN
Name: H2Oter, dtype: float64

H2Otm compartment
A        -0.200551
B              NaN
C              NaN
medium         NaN
Name: H2Otm, dtype: float64

H2Otp compartment
A         0.000000
B         0.000000
C        -0.026907
medium         NaN
Name: H2Otp, dtype: float64

HACD9m compartment
A         0.000462
B              NaN
C              NaN
medium         NaN
Name: HACD9m, dtype: float64

HISD compartment
A         0.090007
B              NaN
C         0.034023
medium         NaN
Name: HISD, dtype: float64

HIStiDF compartment
A         0.090484
B         0.000000
C         0.038124
medium         NaN
Name: HIStiDF, dtype: float64

HMGCOARc compartment
A         0.000462
B         0.001482
C         0.003971
medium         NaN
Name: HMGCOARc, dtype: float64

HMGCOASi compartment
A              NaN
B         0.001482
C              NaN
medium         NaN
Name: HMGCOASi, dtype: float64

HMGCOASim compartment
A         0.000462
B              NaN
C         0.000000
medium         NaN
Name: HMGCOASim, dtype: float64

HMGCOAtm compartment
A        -0.000462
B              NaN
C        -0.003971
medium         NaN
Name: HMGCOAtm, dtype: float64

HMGLm compartment
A              NaN
B              NaN
C         0.052971
medium         NaN
Name: HMGLm, dtype: float64

Htr compartment
A         0.000847
B         0.213422
C         0.025261
medium         NaN
Name: Htr, dtype: float64

ILEB0AT2tc compartment
A         0.000000
B         0.003464
C         0.009280
medium         NaN
Name: ILEB0AT2tc, dtype: float64

ILEB0AT3tc compartment
A         0.001542
B         0.000000
C         0.000000
medium         NaN
Name: ILEB0AT3tc, dtype: float64

ILETAm compartment
A         0.000462
B              NaN
C              NaN
medium         NaN
Name: ILETAm, dtype: float64

ILEt5m compartment
A         0.000462
B              NaN
C              NaN
medium         NaN
Name: ILEt5m, dtype: float64

IMPC compartment
A        -0.000253
B        -0.000810
C        -0.004113
medium         NaN
Name: IMPC, dtype: float64

IMPD compartment
A         0.000000
B         0.000000
C         0.001943
medium         NaN
Name: IMPD, dtype: float64

INOSTO compartment
A         0.000000
B         0.217445
C         0.049100
medium         NaN
Name: INOSTO, dtype: float64

INSTt2r compartment
A         0.000000
B         0.000000
C         0.049857
medium         NaN
Name: INSTt2r, dtype: float64

INSTt4 compartment
A         0.000088
B              NaN
C              NaN
medium         NaN
Name: INSTt4, dtype: float64

INSTt4_2 compartment
A         0.000000
B         0.217727
C         0.000000
medium         NaN
Name: INSTt4_2, dtype: float64

IPDDI compartment
A         0.000154
B         0.000494
C         0.001324
medium         NaN
Name: IPDDI, dtype: float64

IZPN compartment
A         0.090007
B              NaN
C         0.034023
medium         NaN
Name: IZPN, dtype: float64

KHK2 compartment
A              NaN
B              NaN
C         0.026907
medium         NaN
Name: KHK2, dtype: float64

LEUB0AT2tc compartment
A         0.000000
B         0.006606
C         0.074639
medium         NaN
Name: LEUB0AT2tc, dtype: float64

LEUB0AT3tc compartment
A         0.00206
B         0.00000
C         0.00000
medium        NaN
Name: LEUB0AT3tc, dtype: float64

LEUTAm compartment
A         0.000000
B              NaN
C         0.056942
medium         NaN
Name: LEUTAm, dtype: float64

LEUt5m compartment
A         0.000000
B              NaN
C         0.056942
medium         NaN
Name: LEUt5m, dtype: float64

LFORKYNHYD compartment
A              NaN
B         0.000545
C              NaN
medium         NaN
Name: LFORKYNHYD, dtype: float64

LNSTLSr compartment
A         0.000077
B         0.000247
C         0.000662
medium         NaN
Name: LNSTLSr, dtype: float64

LSTO1r compartment
A              NaN
B         0.000000
C         0.000662
medium         NaN
Name: LSTO1r, dtype: float64

LSTO2r compartment
A         0.000077
B         0.000247
C         0.000000
medium         NaN
Name: LSTO2r, dtype: float64

L_LACtcm compartment
A              NaN
B         0.253455
C              NaN
medium         NaN
Name: L_LACtcm, dtype: float64

L_LACtm compartment
A              NaN
B        -0.253455
C              NaN
medium         NaN
Name: L_LACtm, dtype: float64

MCCCrm compartment
A         0.000000
B              NaN
C         0.056942
medium         NaN
Name: MCCCrm, dtype: float64

MECOALm compartment
A         0.00000
B        -0.00081
C         0.00000
medium        NaN
Name: MECOALm, dtype: float64

MECOAS1m compartment
A         0.00000
B         0.00081
C         0.00000
medium        NaN
Name: MECOAS1m, dtype: float64

METB0AT2tc compartment
A         0.000000
B         0.001853
C         0.004964
medium         NaN
Name: METB0AT2tc, dtype: float64

METB0AT3tc compartment
A         0.000578
B         0.000000
C         0.000000
medium         NaN
Name: METB0AT3tc, dtype: float64

MEVK1c compartment
A         0.000462
B         0.001482
C         0.003971
medium         NaN
Name: MEVK1c, dtype: float64

MGCHrm compartment
A         0.000000
B              NaN
C         0.056942
medium         NaN
Name: MGCHrm, dtype: float64

MMSAD3m compartment
A         0.000924
B              NaN
C         0.000000
medium         NaN
Name: MMSAD3m, dtype: float64

MTHFC compartment
A         0.000253
B              NaN
C         0.008879
medium         NaN
Name: MTHFC, dtype: float64

MTHFD2 compartment
A        -0.089754
B              NaN
C        -0.025144
medium         NaN
Name: MTHFD2, dtype: float64

MTHGXLt compartment
A              NaN
B         0.281822
C         0.475065
medium         NaN
Name: MTHGXLt, dtype: float64

NADH2_u10m compartment
A              NaN
B              NaN
C         0.238348
medium         NaN
Name: NADH2_u10m, dtype: float64

NADPHtru compartment
A         0.000847
B         0.219916
C         0.025923
medium         NaN
Name: NADPHtru, dtype: float64

NADPtru compartment
A         0.000847
B         0.219916
C         0.025923
medium         NaN
Name: NADPtru, dtype: float64

NAt3_1 compartment
A        -0.099565
B              NaN
C              NaN
medium         NaN
Name: NAt3_1, dtype: float64

NAt5 compartment
A        -0.131739
B              NaN
C              NaN
medium         NaN
Name: NAt5, dtype: float64

NDPK1 compartment
A         0.000426
B              NaN
C              NaN
medium         NaN
Name: NDPK1, dtype: float64

NDPK6 compartment
A         0.000000
B        -0.000159
C              NaN
medium         NaN
Name: NDPK6, dtype: float64

NDPK7 compartment
A              NaN
B         0.000114
C              NaN
medium         NaN
Name: NDPK7, dtype: float64

NDPK8 compartment
A         0.000050
B         0.000001
C              NaN
medium         NaN
Name: NDPK8, dtype: float64

NH4t3r compartment
A              NaN
B         0.126430
C         0.551025
medium         NaN
Name: NH4t3r, dtype: float64

NICRNS compartment
A         0.000174
B         0.001804
C         0.008803
medium         NaN
Name: NICRNS, dtype: float64

NP1 compartment
A         0.000174
B         0.001804
C         0.008803
medium         NaN
Name: NP1, dtype: float64

NTD10 compartment
A         0.000174
B         0.000557
C              NaN
medium         NaN
Name: NTD10, dtype: float64

NTD6 compartment
A              NaN
B         0.000159
C              NaN
medium         NaN
Name: NTD6, dtype: float64

O2t compartment
A         0.001376
B         0.220425
C         0.219150
medium         NaN
Name: O2t, dtype: float64

O2ter compartment
A         0.000616
B         0.002223
C         0.005956
medium         NaN
Name: O2ter, dtype: float64

O2tm compartment
A         0.000693
B         0.000000
C         0.150073
medium         NaN
Name: O2tm, dtype: float64

O2tp compartment
A         0.000000
B         0.000000
C         0.013453
medium         NaN
Name: O2tp, dtype: float64

OBDHc compartment
A         0.000000
B         0.000107
C         0.000000
medium         NaN
Name: OBDHc, dtype: float64

OIVD1m compartment
A         0.000000
B              NaN
C         0.056942
medium         NaN
Name: OIVD1m, dtype: float64

OIVD3m compartment
A         0.000462
B              NaN
C              NaN
medium         NaN
Name: OIVD3m, dtype: float64

OMPDC compartment
A         0.000000
B         0.001088
C         0.004036
medium         NaN
Name: OMPDC, dtype: float64

ORNTArm compartment
A         0.000000
B         0.127467
C              NaN
medium         NaN
Name: ORNTArm, dtype: float64

OROTGLUt compartment
A         0.191935
B              NaN
C        -0.000820
medium         NaN
Name: OROTGLUt, dtype: float64

ORPT compartment
A         0.000000
B        -0.001088
C        -0.004036
medium         NaN
Name: ORPT, dtype: float64

P5CDm compartment
A         0.452217
B              NaN
C              NaN
medium         NaN
Name: P5CDm, dtype: float64

P5CRm compartment
A         0.000000
B         0.127467
C         0.000000
medium         NaN
Name: P5CRm, dtype: float64

PCHOL_HSter compartment
A              NaN
B        -0.002082
C              NaN
medium         NaN
Name: PCHOL_HSter, dtype: float64

PDHm compartment
A              NaN
B              NaN
C         0.079878
medium         NaN
Name: PDHm, dtype: float64

PETOHMr_hs compartment
A              NaN
B         0.002082
C              NaN
medium         NaN
Name: PETOHMr_hs, dtype: float64

PE_HSter compartment
A              NaN
B         0.002082
C              NaN
medium         NaN
Name: PE_HSter, dtype: float64

PE_HStm compartment
A        -0.000235
B        -0.000671
C        -0.001796
medium         NaN
Name: PE_HStm, dtype: float64

PGI compartment
A              NaN
B              NaN
C        -0.008927
medium         NaN
Name: PGI, dtype: float64

PGK compartment
A        -0.045954
B        -0.370018
C        -0.004464
medium         NaN
Name: PGK, dtype: float64

PGLYCt compartment
A         0.000055
B         0.000176
C        -0.000143
medium         NaN
Name: PGLYCt, dtype: float64

PGM compartment
A        -0.045954
B        -0.370018
C        -0.004464
medium         NaN
Name: PGM, dtype: float64

PGMT compartment
A         0.001039
B         0.003332
C              NaN
medium         NaN
Name: PGMT, dtype: float64

PGPPT compartment
A         0.000000
B         0.000000
C         0.000615
medium         NaN
Name: PGPPT, dtype: float64

PGPP_hs compartment
A         0.000000
B         0.000000
C         0.000615
medium         NaN
Name: PGPP_hs, dtype: float64

PHEB0AT3tc compartment
A         0.000980
B         0.003142
C         0.008417
medium         NaN
Name: PHEB0AT3tc, dtype: float64

PIt2m compartment
A         0.134044
B              NaN
C         0.511619
medium         NaN
Name: PIt2m, dtype: float64

PIt7 compartment
A        -0.043996
B              NaN
C         0.000000
medium         NaN
Name: PIt7, dtype: float64

PMEVKc compartment
A         0.000462
B         0.001482
C         0.003971
medium         NaN
Name: PMEVKc, dtype: float64

PPA compartment
A         0.004191
B         0.033064
C              NaN
medium         NaN
Name: PPA, dtype: float64

PPASMCT1 compartment
A         0.000000
B        -0.000107
C         0.000000
medium         NaN
Name: PPASMCT1, dtype: float64

PPAm compartment
A              NaN
B              NaN
C         0.024017
medium         NaN
Name: PPAm, dtype: float64

PPCOAOm compartment
A         0.000924
B              NaN
C              NaN
medium         NaN
Name: PPCOAOm, dtype: float64

PPItm compartment
A         0.000000
B              NaN
C         0.024017
medium         NaN
Name: PPItm, dtype: float64

PPItr compartment
A        -0.000154
B        -0.000494
C        -0.001324
medium         NaN
Name: PPItr, dtype: float64

PPM compartment
A         0.000000
B        -0.001088
C        -0.008803
medium         NaN

Name: PPM, dtype: float64

PRAGSr compartment
A         0.000000
B         0.000000
C         0.004767
medium         NaN
Name: PRAGSr, dtype: float64

PRFGS compartment
A         0.000000
B         0.000000
C         0.004767
medium         NaN
Name: PRFGS, dtype: float64

PRO1xm compartment
A         0.452217
B         0.000000
C         0.000000
medium         NaN
Name: PRO1xm, dtype: float64

PROB0AT2tc compartment
A         0.000000
B              NaN
C         0.013381
medium         NaN
Name: PROB0AT2tc, dtype: float64

PROPAT4te compartment
A         0.453775
B              NaN
C              NaN
medium         NaN
Name: PROPAT4te, dtype: float64

PROtm compartment
A        -0.133994
B        -0.128277
C         0.301501
medium         NaN
Name: PROtm, dtype: float64

PRPNCOAHYDm compartment
A         0.000924
B              NaN
C         0.000000
medium         NaN
Name: PRPNCOAHYDm, dtype: float64

PSDm_hs compartment
A         0.000235
B         0.000671
C         0.001796
medium         NaN
Name: PSDm_hs, dtype: float64

PSFLIPm compartment
A         0.000235
B         0.000671
C         0.001796
medium         NaN
Name: PSFLIPm, dtype: float64

PSSA1_hs compartment
A              NaN
B              NaN
C        -0.005578
medium         NaN
Name: PSSA1_hs, dtype: float64

PSSA2_hs compartment
A         0.000026
B        -0.002082
C              NaN
medium         NaN
Name: PSSA2_hs, dtype: float64

PUNP2 compartment
A              NaN
B         0.000159
C              NaN
medium         NaN
Name: PUNP2, dtype: float64

PUNP3 compartment
A         0.000174
B         0.000557
C              NaN
medium         NaN
Name: PUNP3, dtype: float64

PYK compartment
A         0.045255
B         0.188991
C              NaN
medium         NaN
Name: PYK, dtype: float64

PYNP2r compartment
A              NaN
B         0.000159
C              NaN
medium         NaN
Name: PYNP2r, dtype: float64

PYRSMCT1 compartment
A         0.000000
B        -0.059032
C         0.312934
medium         NaN
Name: PYRSMCT1, dtype: float64

RDH2 compartment
A              NaN
B        -0.596376
C              NaN
medium         NaN
Name: RDH2, dtype: float64

RDH2a compartment
A              NaN
B         0.596376
C              NaN
medium         NaN
Name: RDH2a, dtype: float64

RE0453C compartment
A              NaN
B              NaN
C         0.000425
medium         NaN
Name: RE0453C, dtype: float64

RE1518M compartment
A        -0.001387
B              NaN
C              NaN
medium         NaN
Name: RE1518M, dtype: float64

RE1530C compartment
A              NaN
B         0.000159
C              NaN
medium         NaN
Name: RE1530C, dtype: float64

RE2649C compartment
A        -0.000462
B         0.000107
C         0.000000
medium         NaN
Name: RE2649C, dtype: float64

RE2675C compartment
A         0.000066
B         0.000212
C         0.000567
medium         NaN
Name: RE2675C, dtype: float64

RE2954C compartment
A         0.000049
B         0.000159
C              NaN
medium         NaN
Name: RE2954C, dtype: float64

RE2998M compartment
A         0.001387
B              NaN
C              NaN
medium         NaN
Name: RE2998M, dtype: float64

RE3273C compartment
A        -0.000132
B        -0.000424
C        -0.001750
medium         NaN
Name: RE3273C, dtype: float64

RE3301C compartment
A        -0.000231
B        -0.002823
C        -0.007563
medium         NaN
Name: RE3301C, dtype: float64

RE3347C compartment
A         0.000077
B         0.000247
C         0.030458
medium         NaN
Name: RE3347C, dtype: float64

RNDR1 compartment
A         0.000050
B         0.000318
C         0.000428
medium         NaN
Name: RNDR1, dtype: float64

RNDR2 compartment
A             NaN
B         0.00012
C             NaN
medium        NaN
Name: RNDR2, dtype: float64

RNDR3 compartment
A              NaN
B         0.000114
C              NaN
medium         NaN
Name: RNDR3, dtype: float64

RNDR4 compartment
A         0.000049
B              NaN
C         0.000425
medium         NaN
Name: RNDR4, dtype: float64

RPE compartment
A         0.000000
B        -0.073207
C        -0.013266
medium         NaN
Name: RPE, dtype: float64

RTOTALFATPc compartment
A         0.002025
B              NaN
C              NaN
medium         NaN
Name: RTOTALFATPc, dtype: float64

RTOTALt compartment
A         0.000000
B              NaN
C        -0.000352
medium         NaN
Name: RTOTALt, dtype: float64

SERGLNexR compartment
A         0.000000
B        -0.007331
C         0.000000
medium         NaN
Name: SERGLNexR, dtype: float64

SERHL compartment
A         0.087900
B         0.000000
C         0.167156
medium         NaN
Name: SERHL, dtype: float64

SERPT compartment
A         0.000066
B         0.000212
C         0.000567
medium         NaN
Name: SERPT, dtype: float64

SERtN1 compartment
A         0.000000
B         0.013196
C         0.157723
medium         NaN
Name: SERtN1, dtype: float64

SFCYSc compartment
A         0.000000
B        -0.146046
C         0.110063
medium         NaN
Name: SFCYSc, dtype: float64

SFCYSe compartment
A         0.000000
B        -0.146046
C         0.110063
medium         NaN
Name: SFCYSe, dtype: float64

SMS compartment
A         0.000066
B         0.000212
C         0.000567
medium         NaN
Name: SMS, dtype: float64

SO4t4_2 compartment
A         0.000000
B        -0.146046
C         0.000000
medium         NaN
Name: SO4t4_2, dtype: float64

SQLEr compartment
A         0.000077
B         0.000247
C         0.000662
medium         NaN
Name: SQLEr, dtype: float64

SQLSr compartment
A         0.000077
B         0.000247
C         0.000662
medium         NaN
Name: SQLSr, dtype: float64

SUCCt2m compartment
A         0.000000
B         0.000000
C        -0.301501
medium         NaN
Name: SUCCt2m, dtype: float64

SUCCt4_2 compartment
A              NaN
B         0.000000
C        -0.361953
medium         NaN
Name: SUCCt4_2, dtype: float64

SUCOAS1m compartment
A              NaN
B              NaN
C        -0.029914
medium         NaN
Name: SUCOAS1m, dtype: float64

SUCOASm compartment
A              NaN
B              NaN
C        -0.332039
medium         NaN
Name: SUCOASm, dtype: float64

TALA compartment
A              NaN
B              NaN
C         0.004464
medium         NaN
Name: TALA, dtype: float64

THFt2 compartment
A        -0.386813
B              NaN
C              NaN
medium         NaN
Name: THFt2, dtype: float64

THFtm compartment
A        -0.386862
B         0.000810
C        -0.000425
medium         NaN
Name: THFtm, dtype: float64

THRD_L compartment
A         0.000000
B         0.000107
C         0.000000
medium         NaN
Name: THRD_L, dtype: float64

THRGLNexR compartment
A         0.000000
B         0.000000
C         0.005525
medium         NaN
Name: THRGLNexR, dtype: float64

THRGLYexR compartment
A         0.001181
B         0.003893
C         0.004619
medium         NaN
Name: THRGLYexR, dtype: float64

TKT1 compartment
A         0.000000
B         0.072119
C         0.004464
medium         NaN
Name: TKT1, dtype: float64

TKT2 compartment
A         0.000000
B         0.072119
C         0.004464
medium         NaN
Name: TKT2, dtype: float64

TMDS compartment
A         0.000049
B         0.000159
C         0.000425
medium         NaN
Name: TMDS, dtype: float64

TPI compartment
A         0.045954
B         0.153662
C              NaN
medium         NaN
Name: TPI, dtype: float64

TRDR compartment
A         0.000172
B         0.000552
C         0.001480
medium         NaN
Name: TRDR, dtype: float64

TRPB0AT3tc compartment
A              NaN
B         0.000000
C         0.000432
medium         NaN
Name: TRPB0AT3tc, dtype: float64

TRPO2 compartment
A              NaN
B         0.000545
C              NaN
medium         NaN
Name: TRPO2, dtype: float64

TRPt compartment
A         0.000050
B         0.000706
C              NaN
medium         NaN
Name: TRPt, dtype: float64

TYRB0AT3tc compartment
A         0.00000
B         0.00000
C         0.00518
medium        NaN
Name: TYRB0AT3tc, dtype: float64

TYRTA compartment
A        -0.000603
B         0.000139
C              NaN
medium         NaN
Name: TYRTA, dtype: float64

TYRt compartment
A              NaN
B         0.002073
C              NaN
medium         NaN

Name: TYRt, dtype: float64

UDPG4E compartment
A        -0.001039
B        -0.003332
C              NaN
medium         NaN
Name: UDPG4E, dtype: float64

UGLT compartment
A         0.001039
B         0.003332
C              NaN
medium         NaN
Name: UGLT, dtype: float64

UMPK2 compartment
A         0.000000
B         0.000114
C              NaN
medium         NaN
Name: UMPK2, dtype: float64

UMPK4 compartment
A         0.000000
B        -0.034607
C         0.004036
medium         NaN
Name: UMPK4, dtype: float64

UMPK7 compartment
A         0.000000
B         0.035423
C              NaN
medium         NaN
Name: UMPK7, dtype: float64

URCN compartment
A         0.090007
B              NaN
C         0.034023
medium         NaN
Name: URCN, dtype: float64

UREAt5 compartment
A         0.000000
B        -0.127467
C              NaN
medium         NaN
Name: UREAt5, dtype: float64

URIDK2m compartment
A        -0.000049
B              NaN
C        -0.000425
medium         NaN
Name: URIDK2m, dtype: float64

VALB0AT2tc compartment
A         0.000000
B         0.004270
C         0.011439
medium         NaN
Name: VALB0AT2tc, dtype: float64

VALB0AT3tc compartment
A         0.001331
B         0.000000
C         0.000000
medium         NaN
Name: VALB0AT3tc, dtype: float64

XYLK compartment
A         0.000000
B         0.217445
C         0.022193
medium         NaN
Name: XYLK, dtype: float64

XYLTD_Dr compartment
A         0.000000
B         0.217445
C         0.049100
medium         NaN
Name: XYLTD_Dr, dtype: float64

biomass_DNA compartment
A         0.000053
B         0.000170
C         0.000454
medium         NaN
Name: biomass_DNA, dtype: float64

biomass_RNA compartment
A         0.000219
B         0.000702
C         0.001882
medium         NaN
Name: biomass_RNA, dtype: float64

biomass_carbohydrate compartment
A         0.000268
B         0.000860
C         0.002303
medium         NaN
Name: biomass_carbohydrate, dtype: float64

biomass_lipid compartment
A         0.000366
B         0.001175
C         0.003147
medium         NaN
Name: biomass_lipid, dtype: float64

biomass_other compartment
A         0.000204
B         0.000654
C         0.001752
medium         NaN
Name: biomass_other, dtype: float64

biomass_protein compartment
A         0.002666
B         0.008549
C         0.022903
medium         NaN
Name: biomass_protein, dtype: float64

biomass_reaction compartment
A         0.003776
B         0.012109
C         0.032440
medium         NaN
Name: biomass_reaction, dtype: float64

fumt compartment
A        -0.000253
B        -0.000810
C        -0.006937
medium         NaN
Name: fumt, dtype: float64

glyc3pte compartment
A         0.046900
B         0.012459
C        -0.017546
medium         NaN
Name: glyc3pte, dtype: float64

r0027 compartment
A         0.000000
B         0.000000
C         0.158231
medium         NaN
Name: r0027, dtype: float64

r0055 compartment
A         0.000000
B        -0.281822
C        -0.475065
medium         NaN
Name: r0055, dtype: float64

r0081 compartment
A         0.00000
B         0.00081
C             NaN
medium        NaN
Name: r0081, dtype: float64

r0153 compartment
A         0.000649
B         0.000000
C              NaN
medium         NaN
Name: r0153, dtype: float64

r0165 compartment
A              NaN
B         0.145168
C         0.003611
medium         NaN
Name: r0165, dtype: float64

r0191 compartment
A         0.000000
B         0.072119
C              NaN
medium         NaN
Name: r0191, dtype: float64

r0224 compartment
A              NaN
B         0.000159
C              NaN
medium         NaN
Name: r0224, dtype: float64

r0226 compartment
A         0.386862
B              NaN
C         0.000425
medium         NaN
Name: r0226, dtype: float64

r0239 compartment
A              NaN
B         0.000545
C              NaN
medium         NaN
Name: r0239, dtype: float64

r0249 compartment
A         0.000000
B        -0.073207
C        -0.013266
medium         NaN
Name: r0249, dtype: float64

r0280 compartment
A              NaN
B              NaN
C         0.000852
medium         NaN
Name: r0280, dtype: float64

r0301 compartment
A              NaN
B              NaN
C         0.001493
medium         NaN
Name: r0301, dtype: float64

r0331 compartment
A              NaN
B              NaN
C         0.618443
medium         NaN
Name: r0331, dtype: float64

r0365 compartment
A         0.000924
B              NaN
C         0.000000
medium         NaN
Name: r0365, dtype: float64

r0391 compartment
A         0.000174
B         0.001804
C         0.008803
medium         NaN
Name: r0391, dtype: float64

r0407 compartment
A         0.000000
B         0.072119
C              NaN
medium         NaN
Name: r0407, dtype: float64

r0409 compartment
A         0.000000
B         0.072119
C              NaN
medium         NaN
Name: r0409, dtype: float64

r0413 compartment
A         0.000000
B         0.035701
C              NaN
medium         NaN
Name: r0413, dtype: float64

r0431 compartment
A         0.000000
B              NaN
C        -0.132849
medium         NaN
Name: r0431, dtype: float64

r0432 compartment
A         0.000000
B              NaN
C         0.132849
medium         NaN
Name: r0432, dtype: float64

r0472 compartment
A        -0.000037
B              NaN
C        -0.000321
medium         NaN
Name: r0472, dtype: float64

r0474 compartment
A        -0.000036
B              NaN
C        -0.000306
medium         NaN
Name: r0474, dtype: float64

r0480 compartment
A         0.000026
B        -0.002082
C              NaN
medium         NaN
Name: r0480, dtype: float64

r0514 compartment
A         0.386813
B              NaN
C              NaN
medium         NaN
Name: r0514, dtype: float64

r0596 compartment
A         0.000924
B              NaN
C         0.000000
medium         NaN
Name: r0596, dtype: float64

r0655 compartment
A              NaN
B              NaN
C         0.056942
medium         NaN
Name: r0655, dtype: float64

r0666 compartment
A         0.000000
B         0.000000
C         0.004767
medium         NaN
Name: r0666, dtype: float64

r0750 compartment
A         0.00201
B             NaN
C         0.00000
medium        NaN
Name: r0750, dtype: float64

r0781 compartment
A         0.000077
B         0.000247
C         0.000662
medium         NaN
Name: r0781, dtype: float64

r0784 compartment
A         0.000000
B        -0.217445
C        -0.049100
medium         NaN
Name: r0784, dtype: float64

r0788 compartment
A         0.000026
B        -0.002082
C              NaN
medium         NaN
Name: r0788, dtype: float64

r0789 compartment
A         0.000026
B        -0.002082
C              NaN
medium         NaN
Name: r0789, dtype: float64

r0801 compartment
A         0.000000
B         0.000810
C        -0.029914
medium         NaN
Name: r0801, dtype: float64

r0818 compartment
A         0.000049
B              NaN
C         0.000425
medium         NaN
Name: r0818, dtype: float64

r0819 compartment
A         0.000000
B         0.000000
C         0.060452
medium         NaN
Name: r0819, dtype: float64

r0838 compartment
A         0.133532
B        -0.127467
C        -0.358443
medium         NaN
Name: r0838, dtype: float64

r0839 compartment
A        -0.191935
B         0.001088
C         0.000000
medium         NaN
Name: r0839, dtype: float64

r0840 compartment
A         0.000000
B        -0.073207
C        -0.013266
medium         NaN
Name: r0840, dtype: float64

r0841 compartment
A         0.000000
B         0.073207
C         0.013266
medium         NaN
Name: r0841, dtype: float64

r0853 compartment
A         0.000049
B              NaN
C         0.000425
medium         NaN
Name: r0853, dtype: float64

r0892 compartment
A        -0.000434
B        -0.000304
C         0.000305
medium         NaN
Name: r0892, dtype: float64

r0911 compartment
A         0.586212
B         0.000810
C        -0.301501
medium         NaN
Name: r0911, dtype: float64

r0921 compartment
A              NaN
B              NaN
C         0.618443
medium         NaN
Name: r0921, dtype: float64

r0927 compartment
A         0.00000
B         0.00081
C         0.00000
medium        NaN
Name: r0927, dtype: float64

r0941 compartment
A         0.972839
B         0.000000
C        -0.359521
medium         NaN

Name: r0941, dtype: float64

r0962 compartment
A         0.386813
B              NaN
C              NaN
medium         NaN
Name: r0962, dtype: float64

r0975 compartment
A              NaN
B              NaN
C         0.618443
medium         NaN
Name: r0975, dtype: float64

r1005 compartment
A         0.000000
B              NaN
C         0.132849
medium         NaN
Name: r1005, dtype: float64

r1088 compartment
A         0.000000
B        -0.002449
C         0.205584
medium         NaN
Name: r1088, dtype: float64

r1135 compartment
A         0.000077
B              NaN
C              NaN
medium         NaN
Name: r1135, dtype: float64

r1143 compartment
A         0.002639
B         0.008463
C         0.032296
medium         NaN
Name: r1143, dtype: float64

r1144 compartment
A         0.000000
B         0.001289
C         0.295275
medium         NaN
Name: r1144, dtype: float64

r1146 compartment
A         0.000077
B              NaN
C              NaN
medium         NaN
Name: r1146, dtype: float64

r1156 compartment
A              NaN
B        -0.000159
C              NaN
medium         NaN
Name: r1156, dtype: float64

r1291 compartment
A         0.000462
B         0.000000
C         0.000000
medium         NaN
Name: r1291, dtype: float64

r1380 compartment
A              NaN
B         0.000000
C        -0.029796
medium         NaN
Name: r1380, dtype: float64

r1384 compartment
A        -0.000174
B        -0.000557
C              NaN
medium         NaN
Name: r1384, dtype: float64

r1418 compartment
A         0.000000
B        -0.038203
C              NaN
medium         NaN
Name: r1418, dtype: float64

r1427 compartment
A         0.000000
B         0.127467
C              NaN
medium         NaN
Name: r1427, dtype: float64

r1434 compartment
A         0.000000
B         0.000810
C         0.026907
medium         NaN
Name: r1434, dtype: float64

r1464 compartment
A         0.000000
B         0.000810
C        -0.052971
medium         NaN
Name: r1464, dtype: float64

r1993 compartment
A         0.002236
B         0.007170
C              NaN
medium         NaN
Name: r1993, dtype: float64

r2000 compartment
A         0.000000
B              NaN
C         0.019208
medium         NaN
Name: r2000, dtype: float64

r2009 compartment
A              NaN
B         0.009345
C              NaN
medium         NaN
Name: r2009, dtype: float64

r2018 compartment
A              NaN
B         0.122473
C              NaN
medium         NaN
Name: r2018, dtype: float64

r2041 compartment
A              NaN
B         0.001531
C              NaN
medium         NaN
Name: r2041, dtype: float64

r2079 compartment
A              NaN
B        -0.029026
C              NaN
medium         NaN
Name: r2079, dtype: float64

r2081 compartment
A              NaN
B         0.000018
C              NaN
medium         NaN
Name: r2081, dtype: float64

r2084 compartment
A         0.000000
B              NaN
C         0.043482
medium         NaN
Name: r2084, dtype: float64

r2093 compartment
A         0.347139
B              NaN
C              NaN
medium         NaN
Name: r2093, dtype: float64

r2099 compartment
A         0.000000
B              NaN
C         0.043482
medium         NaN
Name: r2099, dtype: float64

r2103 compartment
A        -0.000462
B              NaN
C              NaN
medium         NaN
Name: r2103, dtype: float64

r2136 compartment
A              NaN
B         0.000120
C         0.059986
medium         NaN
Name: r2136, dtype: float64

r2396 compartment
A              NaN
B         0.000000
C         0.023623
medium         NaN
Name: r2396, dtype: float64

r2403 compartment
A         0.000000
B         0.000000
C         0.023623
medium         NaN
Name: r2403, dtype: float64

r2408 compartment
A         0.000000
B         0.127467
C              NaN
medium         NaN
Name: r2408, dtype: float64

r2419 compartment
A         0.133994
B         0.000810
C              NaN
medium         NaN
Name: r2419, dtype: float64

xmpt compartment
A         0.000174
B         0.000557
C        -0.000450
medium         NaN
Name: xmpt, dtype: float64

TypeError: must be real number, not str

In [58]:
#day 19
flux_2=[]

for f in sol21.fluxes:
    if not((math.isnan(sol21.fluxes[f]['A']) or sol21.fluxes[f]['A']==0) 
           and (math.isnan(sol21.fluxes[f]['B']) or sol21.fluxes[f]['B']==0)
           and (math.isnan(sol21.fluxes[f]['C']) or sol21.fluxes[f]['C']==0)
           and (math.isnan(sol21.fluxes[f]['medium']) or sol21.fluxes[f]['medium']==0)):
        print(f, sol21.fluxes[f],end='\n\n')
        flux_2.append((f,sol21.fluxes[f]))

10FTHFtm compartment
A              NaN
B        -0.000431
C              NaN
medium         NaN
Name: 10FTHFtm, dtype: float64

2AMACHYD compartment
A         0.474544
B         0.000000
C         0.000000
medium         NaN
Name: 2AMACHYD, dtype: float64

34HPPte compartment
A         0.001230
B        -0.002577
C              NaN
medium         NaN
Name: 34HPPte, dtype: float64

3DSPHR compartment
A         0.000135
B         0.000113
C         0.001806
medium         NaN
Name: 3DSPHR, dtype: float64

3HCO3_NAt compartment
A         0.329421
B        -0.040143
C        -0.941717
medium         NaN
Name: 3HCO3_NAt, dtype: float64

AACOAT compartment
A         0.00000
B         0.01502
C         0.03758
medium        NaN
Name: AACOAT, dtype: float64

ACACT10m compartment
A         0.000943
B              NaN
C              NaN
medium         NaN
Name: ACACT10m, dtype: float64

ACACT1r compartment
A         0.00000
B        -0.01423
C        -0.03758
medium        NaN
Name: ACACT1r, dtype: float64

ACACT1rm compartment
A         0.000943
B              NaN
C              NaN
medium         NaN
Name: ACACT1rm, dtype: float64

ACCOAC compartment
A         0.000000
B         0.024212
C              NaN
medium         NaN
Name: ACCOAC, dtype: float64

ACCOACm compartment
A         0.000000
B              NaN
C         0.526119
medium         NaN
Name: ACCOACm, dtype: float64

ACOAD10m compartment
A         0.000943
B              NaN
C              NaN
medium         NaN
Name: ACOAD10m, dtype: float64

ADCim compartment
A         0.000000
B         0.000431
C         0.000000
medium         NaN
Name: ADCim, dtype: float64

ADK1 compartment
A         0.006797
B              NaN
C              NaN
medium         NaN
Name: ADK1, dtype: float64

ADK3 compartment
A         0.000000
B         0.017338
C         0.078103
medium         NaN
Name: ADK3, dtype: float64

ADKd compartment
A         0.000000
B        -0.000084
C              NaN
medium         NaN
Name: ADKd, dtype: float64

ADPT compartment
A              NaN
B         0.000084
C              NaN
medium         NaN
Name: ADPT, dtype: float64

ADSL1 compartment
A         0.000515
B         0.000431
C         0.006908
medium         NaN
Name: ADSL1, dtype: float64

ADSL2 compartment
A         0.000000
B         0.000000
C         0.016251
medium         NaN
Name: ADSL2, dtype: float64

ADSS compartment
A         0.000515
B         0.000431
C         0.006908
medium         NaN
Name: ADSS, dtype: float64

AGPAT1 compartment
A         0.001930
B         0.001617
C         0.027986
medium         NaN
Name: AGPAT1, dtype: float64

AGTim compartment
A         0.000000
B              NaN
C         0.232843
medium         NaN
Name: AGTim, dtype: float64

AHCYStr compartment
A         0.000157
B        -0.003327
C              NaN
medium         NaN
Name: AHCYStr, dtype: float64

AICART compartment
A         0.000515
B         0.000431
C         0.013532
medium         NaN
Name: AICART, dtype: float64

AICARte compartment
A         0.000515
B         0.000431
C        -0.002719
medium         NaN
Name: AICARte, dtype: float64

AIRCr_PRASCS compartment
A         0.000000
B         0.000000
C         0.016251
medium         NaN
Name: AIRCr_PRASCS, dtype: float64

AKGDm compartment
A              NaN
B              NaN
C         1.705104
medium         NaN
Name: AKGDm, dtype: float64

AKR1C41 compartment
A              NaN
B              NaN
C         0.031666
medium         NaN
Name: AKR1C41, dtype: float64

ALAGLNexR compartment
A         0.000000
B        -0.003905
C         0.007029
medium         NaN
Name: ALAGLNexR, dtype: float64

ALAGLYexR compartment
A        -0.288917
B         0.000000
C         0.130906
medium         NaN
Name: ALAGLYexR, dtype: float64

ALAPAT4te compartment
A        -0.626658
B         0.011121
C              NaN
medium         NaN
Name: ALAPAT4te, dtype: float64

ALATA_L compartment
A        -0.924029
B        -0.003008
C              NaN
medium         NaN
Name: ALATA_L, dtype: float64

ALAtN1 compartment
A         0.000000
B         0.000000
C         0.147135
medium         NaN
Name: ALAtN1, dtype: float64

AMETr compartment
A        -0.000157
B         0.003327
C              NaN
medium         NaN
Name: AMETr, dtype: float64

ARGB0AT3tc compartment
A         0.089503
B              NaN
C         0.037108
medium         NaN
Name: ARGB0AT3tc, dtype: float64

ARGN compartment
A         0.086737
B         0.000394
C              NaN
medium         NaN
Name: ARGN, dtype: float64

ARTCOAL3 compartment
A         0.000000
B              NaN
C         0.015576
medium         NaN
Name: ARTCOAL3, dtype: float64

ARTPLM3 compartment
A         0.000135
B        -0.003346
C        -0.073354
medium         NaN
Name: ARTPLM3, dtype: float64

ASNS1 compartment
A         0.002152
B         0.001802
C         0.028861
medium         NaN
Name: ASNS1, dtype: float64

ASPCTr compartment
A         0.000000
B         0.000000
C         0.016556
medium         NaN
Name: ASPCTr, dtype: float64

ATPS4m compartment
A              NaN
B              NaN
C         1.884109
medium         NaN
Name: ATPS4m, dtype: float64

ATPtm compartment
A         0.000101
B              NaN
C         2.815402
medium         NaN
Name: ATPtm, dtype: float64

BHBt compartment
A         0.00000
B         0.00000
C         0.52742
medium        NaN
Name: BHBt, dtype: float64

BTNt2 compartment
A              NaN
B        -0.110437
C              NaN
medium         NaN
Name: BTNt2, dtype: float64

BTNt4i compartment
A              NaN
B         0.110437
C              NaN
medium         NaN
Name: BTNt4i, dtype: float64

C14STRr compartment
A         0.000157
B         0.000132
C         0.002107
medium         NaN
Name: C14STRr, dtype: float64

C3STDH1Pr compartment
A         0.000157
B         0.000132
C         0.002107
medium         NaN
Name: C3STDH1Pr, dtype: float64

C3STKR2r compartment
A              NaN
B         0.000132
C         0.002107
medium         NaN
Name: C3STKR2r, dtype: float64

C4STMO1r compartment
A         0.000157
B         0.000132
C         0.002107
medium         NaN
Name: C4STMO1r, dtype: float64

C4STMO2Pr compartment
A              NaN
B         0.000132
C         0.002107
medium         NaN
Name: C4STMO2Pr, dtype: float64

CATm compartment
A         0.001414
B              NaN
C         0.000000
medium         NaN
Name: CATm, dtype: float64

CATp compartment
A         0.000000
B              NaN
C         0.116422
medium         NaN
Name: CATp, dtype: float64

CBPS compartment
A         0.000000
B         0.000000
C         0.016556
medium         NaN
Name: CBPS, dtype: float64

CDIPTr compartment
A        -0.000090
B        -0.000075
C        -0.003302
medium         NaN
Name: CDIPTr, dtype: float64

CEPTC compartment
A         0.001324
B              NaN
C              NaN
medium         NaN
Name: CEPTC, dtype: float64

CHLPCTD compartment
A         0.001324
B              NaN
C              NaN
medium         NaN
Name: CHLPCTD, dtype: float64

CHOLK compartment
A         0.001272
B         0.001109
C              NaN
medium         NaN
Name: CHOLK, dtype: float64

CHOLt4 compartment
A         0.001272
B              NaN
C         0.017760
medium         NaN
Name: CHOLt4, dtype: float64

CHOLtu compartment
A              NaN
B         0.001109
C              NaN
medium         NaN
Name: CHOLtu, dtype: float64

CHSTEROLtrc compartment
A         0.000157
B         0.000132
C         0.002107
medium         NaN
Name: CHSTEROLtrc, dtype: float64

CITt4_4 compartment
A         0.000000
B         0.000000
C        -0.501953
medium         NaN
Name: CITt4_4, dtype: float64

CLCFTRte compartment
A         0.000000
B         0.000000
C         0.054975
medium         NaN
Name: CLCFTRte, dtype: float64

CLFORtex compartment
A         0.000079
B         0.000000
C              NaN
medium         NaN
Name: CLFORtex, dtype: float64

CLS_hs compartment
A         0.000090
B         0.000075
C         0.001204
medium         NaN
Name: CLS_hs, dtype: float64

CO2t compartment
A        -1.049463
B         0.000000
C         0.429239
medium         NaN
Name: CO2t, dtype: float64

CO2ter compartment
A        -0.000157
B        -0.000263
C        -0.004214
medium         NaN

Name: CO2ter, dtype: float64

CO2tm compartment
A        -1.350633
B        -0.000789
C         1.279128
medium         NaN
Name: CO2tm, dtype: float64

COAtm compartment
A              NaN
B         0.000000
C         0.012643
medium         NaN
Name: COAtm, dtype: float64

CTPS1 compartment
A         0.000373
B         0.000313
C         0.005007
medium         NaN
Name: CTPS1, dtype: float64

CYOOm3 compartment
A              NaN
B              NaN
C         0.411989
medium         NaN
Name: CYOOm3, dtype: float64

CYOR_u10m compartment
A         0.000000
B         0.000000
C         0.823979
medium         NaN
Name: CYOR_u10m, dtype: float64

CYSSNAT4te compartment
A        -0.323439
B         0.000000
C         2.305427
medium         NaN
Name: CYSSNAT4te, dtype: float64

CYTK1 compartment
A         0.001324
B              NaN
C              NaN
medium         NaN
Name: CYTK1, dtype: float64

DAGK_hs compartment
A        -0.001190
B         0.000113
C         0.001806
medium         NaN
Name: DAGK_hs, dtype: float64

DATPtn compartment
A         0.000102
B         0.000085
C         0.001362
medium         NaN
Name: DATPtn, dtype: float64

DCTPtn compartment
A         0.000073
B         0.000061
C         0.000975
medium         NaN
Name: DCTPtn, dtype: float64

DGTPtn compartment
A         0.000076
B         0.000064
C         0.001022
medium         NaN
Name: DGTPtn, dtype: float64

DGULND compartment
A         0.056657
B         0.115451
C         0.304582
medium         NaN
Name: DGULND, dtype: float64

DHCR241r compartment
A              NaN
B         0.000000
C         0.323547
medium         NaN
Name: DHCR241r, dtype: float64

DHCR242r compartment
A         0.000157
B         0.000132
C         0.000000
medium         NaN
Name: DHCR242r, dtype: float64

DHCR243r compartment
A              NaN
B         0.000000
C         0.002107
medium         NaN
Name: DHCR243r, dtype: float64

DHCR71r compartment
A              NaN
B         0.000000
C         0.002107
medium         NaN
Name: DHCR71r, dtype: float64

DHCR72r compartment
A         0.000157
B         0.000132
C         0.000000
medium         NaN
Name: DHCR72r, dtype: float64

DHFtm compartment
A         0.000101
B              NaN
C         0.001352
medium         NaN
Name: DHFtm, dtype: float64

DHORD9 compartment
A         0.000000
B         0.000000
C         0.016556
medium         NaN
Name: DHORD9, dtype: float64

DHORTS compartment
A         0.000000
B         0.000000
C        -0.016556
medium         NaN
Name: DHORTS, dtype: float64

DMATT compartment
A         0.000314
B         0.000263
C         0.004214
medium         NaN
Name: DMATT, dtype: float64

DM_Lcystin compartment
A         0.000000
B         0.000000
C         0.523854
medium         NaN
Name: DM_Lcystin, dtype: float64

DNDPt19m compartment
A         0.000101
B              NaN
C         0.001352
medium         NaN
Name: DNDPt19m, dtype: float64

DPMVDc compartment
A         0.000943
B         0.000790
C         0.012643
medium         NaN
Name: DPMVDc, dtype: float64

DSAT compartment
A         0.000135
B         0.000113
C         0.001806
medium         NaN
Name: DSAT, dtype: float64

DTMPK compartment
A         0.000101
B         0.000084
C         0.001352
medium         NaN
Name: DTMPK, dtype: float64

DTTPtn compartment
A         0.000101
B         0.000084
C         0.001352
medium         NaN
Name: DTTPtn, dtype: float64

DURAD2 compartment
A              NaN
B              NaN
C         0.530629
medium         NaN
Name: DURAD2, dtype: float64

DURIPP compartment
A              NaN
B        -0.000084
C              NaN
medium         NaN
Name: DURIPP, dtype: float64

EBP1r compartment
A         0.000157
B         0.000132
C         0.002107
medium         NaN
Name: EBP1r, dtype: float64

ECOAH9m compartment
A         0.000943
B              NaN
C              NaN
medium         NaN
Name: ECOAH9m, dtype: float64

ENO compartment
A         0.140945
B         0.198508
C         0.014212
medium         NaN
Name: ENO, dtype: float64

ETHAK compartment
A         0.000052
B              NaN
C              NaN
medium         NaN
Name: ETHAK, dtype: float64

ETHP compartment
A         0.000000
B         0.001109
C              NaN
medium         NaN
Name: ETHP, dtype: float64

EX_34hpp_ compartment
A        -0.001230
B         0.002577
C              NaN
medium         NaN
Name: EX_34hpp_, dtype: float64

EX_34hpp_b compartment
A        -0.001230
B         0.002577
C              NaN
medium         NaN
Name: EX_34hpp_b, dtype: float64

EX_HC00250_b compartment
A         0.00827
B             NaN
C             NaN
medium        NaN
Name: EX_HC00250_b, dtype: float64

EX_HC00250_e compartment
A         0.00827
B             NaN
C             NaN
medium        NaN
Name: EX_HC00250_e, dtype: float64

EX_HC00250_m compartment
A              NaN
B              NaN
C              NaN
medium    0.004746
Name: EX_HC00250_m, dtype: float64

EX_Lcystin_b compartment
A         0.000000
B         0.000000
C         0.523854
medium         NaN
Name: EX_Lcystin_b, dtype: float64

EX_Lcystin_m compartment
A              NaN
B              NaN
C              NaN
medium    0.079717
Name: EX_Lcystin_m, dtype: float64

EX_Rtotal_b compartment
A        -0.004130
B              NaN
C         0.015576
medium         NaN
Name: EX_Rtotal_b, dtype: float64

EX_Rtotal_e compartment
A        -0.004130
B              NaN
C         0.015576
medium         NaN
Name: EX_Rtotal_e, dtype: float64

EX_acac_b compartment
A         0.000000
B        -0.015451
C         0.109058
medium         NaN
Name: EX_acac_b, dtype: float64

EX_acac_e compartment
A         0.000000
B        -0.015451
C         0.109058
medium         NaN
Name: EX_acac_e, dtype: float64

EX_acac_m compartment
A              NaN
B              NaN
C              NaN
medium    0.012363
Name: EX_acac_m, dtype: float64

EX_acetone_b compartment
A         0.000000
B         0.000431
C         0.000000
medium         NaN
Name: EX_acetone_b, dtype: float64

EX_acetone_e compartment
A         0.000000
B         0.000431
C         0.000000
medium         NaN
Name: EX_acetone_e, dtype: float64

EX_acetone_m compartment
A              NaN
B              NaN
C              NaN
medium    0.000118
Name: EX_acetone_m, dtype: float64

EX_aicar_b compartment
A        -0.000515
B        -0.000431
C         0.002719
medium         NaN
Name: EX_aicar_b, dtype: float64

EX_aicar_e compartment
A        -0.000515
B        -0.000431
C         0.002719
medium         NaN
Name: EX_aicar_e, dtype: float64

EX_akg_b compartment
A         0.140272
B              NaN
C        -0.529027
medium         NaN
Name: EX_akg_b, dtype: float64

EX_akg_e compartment
A         0.140272
B              NaN
C        -0.529027
medium         NaN
Name: EX_akg_e, dtype: float64

EX_ala_L_b compartment
A         0.920135
B        -0.000685
C        -0.285070
medium         NaN
Name: EX_ala_L_b, dtype: float64

EX_ala_L_e compartment
A         0.920135
B        -0.000685
C        -0.285070
medium         NaN
Name: EX_ala_L_e, dtype: float64

EX_ala_L_m compartment
A             NaN
B             NaN
C             NaN
medium    0.48451
Name: EX_ala_L_m, dtype: float64

EX_arg_L_b compartment
A        -0.089503
B        -0.002712
C        -0.037108
medium         NaN
Name: EX_arg_L_b, dtype: float64

EX_arg_L_e compartment
A        -0.089503
B        -0.002712
C        -0.037108
medium         NaN
Name: EX_arg_L_e, dtype: float64

EX_arg_L_m compartment
A              NaN
B              NaN
C              NaN
medium   -0.057757
Name: EX_arg_L_m, dtype: float64

EX_asp_L_b compartment
A        -0.005383
B        -0.004508
C        -0.104998
medium         NaN
Name: EX_asp_L_b, dtype: float64

EX_asp_L_e compartment
A        -0.005383
B        -0.004508
C        -0.104998
medium         NaN
Name: EX_asp_L_e, dtype: float64

EX_asp_L_m compartment
A              NaN
B              NaN
C              NaN
medium   -0.020302
Name: EX_asp_L_m, dtype: float64

EX_biomass_c compartment
A         0.007702
B         0.006450
C         0.103291
medium         NaN
Name: EX_biomass_c, dtype: float64

EX_chol_b compartment
A        -0.001272
B        -0.001109
C        -0.017760
medium         NaN

Name: EX_chol_b, dtype: float64

EX_chol_e compartment
A        -0.001272
B        -0.001109
C        -0.017760
medium         NaN
Name: EX_chol_e, dtype: float64

EX_chol_m compartment
A              NaN
B              NaN
C              NaN
medium   -0.003736
Name: EX_chol_m, dtype: float64

EX_co2_b compartment
A         0.868195
B         0.000000
C        -0.429239
medium         NaN
Name: EX_co2_b, dtype: float64

EX_co2_e compartment
A         0.868195
B         0.000000
C        -0.429239
medium         NaN
Name: EX_co2_e, dtype: float64

EX_co2_m compartment
A             NaN
B             NaN
C             NaN
medium    0.43295
Name: EX_co2_m, dtype: float64

EX_cys_L_b compartment
A         0.323439
B         0.000000
C        -2.305427
medium         NaN
Name: EX_cys_L_b, dtype: float64

EX_cys_L_e compartment
A         0.323439
B         0.000000
C        -2.305427
medium         NaN
Name: EX_cys_L_e, dtype: float64

EX_cys_L_m compartment
A            NaN
B            NaN
C            NaN
medium   -0.1652
Name: EX_cys_L_m, dtype: float64

EX_for_b compartment
A         0.000157
B        -0.000300
C              NaN
medium         NaN
Name: EX_for_b, dtype: float64

EX_for_e compartment
A         0.000157
B        -0.000300
C              NaN
medium         NaN
Name: EX_for_e, dtype: float64

EX_for_m compartment
A              NaN
B              NaN
C              NaN
medium    0.000008
Name: EX_for_m, dtype: float64

EX_fum_b compartment
A         0.000515
B         0.000431
C         0.023160
medium         NaN
Name: EX_fum_b, dtype: float64

EX_fum_e compartment
A         0.000515
B         0.000431
C         0.023160
medium         NaN
Name: EX_fum_e, dtype: float64

EX_fum_m compartment
A              NaN
B              NaN
C              NaN
medium    0.003938
Name: EX_fum_m, dtype: float64

EX_gal_b compartment
A        -0.002119
B        -0.001775
C         0.000000
medium         NaN
Name: EX_gal_b, dtype: float64

EX_gal_e compartment
A        -0.002119
B        -0.001775
C         0.000000
medium         NaN
Name: EX_gal_e, dtype: float64

EX_gal_m compartment
A              NaN
B              NaN
C              NaN
medium   -0.001703
Name: EX_gal_m, dtype: float64

EX_gln_L_b compartment
A              NaN
B        -0.003905
C         0.007029
medium         NaN
Name: EX_gln_L_b, dtype: float64

EX_gln_L_e compartment
A              NaN
B        -0.003905
C         0.007029
medium         NaN
Name: EX_gln_L_e, dtype: float64

EX_glu_L_b compartment
A         0.413226
B        -0.000687
C        -2.456186
medium         NaN
Name: EX_glu_L_b, dtype: float64

EX_glu_L_e compartment
A         0.413226
B        -0.000687
C        -2.456186
medium         NaN
Name: EX_glu_L_e, dtype: float64

EX_glu_L_m compartment
A            NaN
B            NaN
C            NaN
medium   -0.1368
Name: EX_glu_L_m, dtype: float64

EX_gly_b compartment
A        -0.173271
B        -0.003391
C         0.192065
medium         NaN
Name: EX_gly_b, dtype: float64

EX_gly_e compartment
A        -0.173271
B        -0.003391
C         0.192065
medium         NaN
Name: EX_gly_e, dtype: float64

EX_gly_m compartment
A              NaN
B              NaN
C              NaN
medium   -0.071144
Name: EX_gly_m, dtype: float64

EX_glyc3p_b compartment
A        -0.048447
B        -0.011137
C         0.202760
medium         NaN
Name: EX_glyc3p_b, dtype: float64

EX_glyc3p_e compartment
A        -0.048447
B        -0.011137
C         0.202760
medium         NaN
Name: EX_glyc3p_e, dtype: float64

EX_h2o2_b compartment
A         0.013849
B         0.000000
C        -0.052230
medium         NaN
Name: EX_h2o2_b, dtype: float64

EX_h2o2_e compartment
A         0.013849
B         0.000000
C        -0.052230
medium         NaN
Name: EX_h2o2_e, dtype: float64

EX_h2o_b compartment
A        -0.094531
B         0.198065
C              NaN
medium         NaN
Name: EX_h2o_b, dtype: float64

EX_h2o_e compartment
A        -0.094531
B         0.198065
C              NaN
medium         NaN
Name: EX_h2o_e, dtype: float64

EX_h_b compartment
A         0.548715
B         0.138208
C        -2.318213
medium         NaN
Name: EX_h_b, dtype: float64

EX_h_e compartment
A         0.548715
B         0.138208
C        -2.318213
medium         NaN
Name: EX_h_e, dtype: float64

EX_hco3_b compartment
A        -0.806997
B         0.120429
C         2.826757
medium         NaN
Name: EX_hco3_b, dtype: float64

EX_hco3_e compartment
A        -0.806997
B         0.120429
C         2.826757
medium         NaN
Name: EX_hco3_e, dtype: float64

EX_his_L_b compartment
A        -0.170710
B        -0.000815
C        -0.013057
medium         NaN
Name: EX_his_L_b, dtype: float64

EX_his_L_e compartment
A        -0.170710
B        -0.000815
C        -0.013057
medium         NaN
Name: EX_his_L_e, dtype: float64

EX_his_L_m compartment
A              NaN
B              NaN
C              NaN
medium   -0.100183
Name: EX_his_L_m, dtype: float64

EX_ile_L_b compartment
A        -0.003146
B        -0.001845
C        -0.029549
medium         NaN
Name: EX_ile_L_b, dtype: float64

EX_ile_L_e compartment
A        -0.003146
B        -0.001845
C        -0.029549
medium         NaN
Name: EX_ile_L_e, dtype: float64

EX_ile_L_m compartment
A              NaN
B              NaN
C              NaN
medium   -0.006808
Name: EX_ile_L_m, dtype: float64

EX_inost_b compartment
A        -0.056837
B        -0.115602
C        -0.306990
medium         NaN
Name: EX_inost_b, dtype: float64

EX_inost_e compartment
A        -0.056837
B        -0.115602
C        -0.306990
medium         NaN
Name: EX_inost_e, dtype: float64

EX_inost_m compartment
A           NaN
B           NaN
C           NaN
medium   -0.111
Name: EX_inost_m, dtype: float64

EX_leu_L_b compartment
A        -0.004202
B        -0.003519
C        -0.215630
medium         NaN
Name: EX_leu_L_b, dtype: float64

EX_leu_L_e compartment
A        -0.004202
B        -0.003519
C        -0.215630
medium         NaN
Name: EX_leu_L_e, dtype: float64

EX_leu_L_m compartment
A              NaN
B              NaN
C              NaN
medium   -0.036188
Name: EX_leu_L_m, dtype: float64

EX_lys_L_b compartment
A        -0.004560
B        -0.003819
C        -0.061159
medium         NaN
Name: EX_lys_L_b, dtype: float64

EX_lys_L_e compartment
A        -0.004560
B        -0.003819
C        -0.061159
medium         NaN
Name: EX_lys_L_e, dtype: float64

EX_lys_L_m compartment
A             NaN
B             NaN
C             NaN
medium   -0.01297
Name: EX_lys_L_m, dtype: float64

EX_met_L_b compartment
A        -0.001178
B        -0.000987
C        -0.015806
medium         NaN
Name: EX_met_L_b, dtype: float64

EX_met_L_e compartment
A        -0.001178
B        -0.000987
C        -0.015806
medium         NaN
Name: EX_met_L_e, dtype: float64

EX_met_L_m compartment
A              NaN
B              NaN
C              NaN
medium   -0.003352
Name: EX_met_L_m, dtype: float64

EX_mthgxl_b compartment
A              NaN
B         0.156938
C         0.000000
medium         NaN
Name: EX_mthgxl_b, dtype: float64

EX_mthgxl_e compartment
A              NaN
B         0.156938
C         0.000000
medium         NaN
Name: EX_mthgxl_e, dtype: float64

EX_mthgxl_m compartment
A              NaN
B              NaN
C              NaN
medium    0.042987
Name: EX_mthgxl_m, dtype: float64

EX_nh4_b compartment
A         0.119589
B         0.000750
C         1.208794
medium         NaN
Name: EX_nh4_b, dtype: float64

EX_nh4_e compartment
A         0.119589
B         0.000750
C         1.208794
medium         NaN
Name: EX_nh4_e, dtype: float64

EX_nh4_m compartment
A              NaN
B              NaN
C              NaN
medium    0.252786
Name: EX_nh4_m, dtype: float64

EX_o2_b compartment
A        -0.073312
B        -0.116748
C        -0.827649
medium         NaN
Name: EX_o2_b, dtype: float64

EX_o2_e compartment
A        -0.073312
B        -0.116748
C        -0.827649
medium         NaN
Name: EX_o2_e, dtype: float64

EX_o2_m compartment
A         NaN
B         NaN
C         NaN
medium   -0.2
Name: EX_o2_m, dtype: float64

EX_orot_b compartment
A         0.000000
B        -0.002059
C         0.003705
medium         NaN

Name: EX_orot_b, dtype: float64

EX_orot_e compartment
A         0.000000
B        -0.002059
C         0.003705
medium         NaN
Name: EX_orot_e, dtype: float64

EX_pglyc_hs_b compartment
A        -0.000112
B        -0.000094
C         0.000592
medium         NaN
Name: EX_pglyc_hs_b, dtype: float64

EX_pglyc_hs_e compartment
A        -0.000112
B        -0.000094
C         0.000592
medium         NaN
Name: EX_pglyc_hs_e, dtype: float64

EX_phe_L_b compartment
A        -0.001998
B        -0.001674
C        -0.026801
medium         NaN
Name: EX_phe_L_b, dtype: float64

EX_phe_L_e compartment
A        -0.001998
B        -0.001674
C        -0.026801
medium         NaN
Name: EX_phe_L_e, dtype: float64

EX_phe_L_m compartment
A              NaN
B              NaN
C              NaN
medium   -0.005684
Name: EX_phe_L_m, dtype: float64

EX_pi_b compartment
A         0.042523
B         0.000000
C        -0.339102
medium         NaN
Name: EX_pi_b, dtype: float64

EX_pi_e compartment
A         0.042523
B         0.000000
C        -0.339102
medium         NaN
Name: EX_pi_e, dtype: float64

EX_pi_m compartment
A              NaN
B              NaN
C              NaN
medium   -0.027198
Name: EX_pi_m, dtype: float64

EX_ppa_b compartment
A        -0.000943
B         0.000965
C         0.001818
medium         NaN
Name: EX_ppa_b, dtype: float64

EX_ppa_e compartment
A        -0.000943
B         0.000965
C         0.001818
medium         NaN
Name: EX_ppa_e, dtype: float64

EX_pro_L_b compartment
A        -0.305684
B        -0.002266
C         1.156946
medium         NaN
Name: EX_pro_L_b, dtype: float64

EX_pro_L_e compartment
A        -0.305684
B        -0.002266
C         1.156946
medium         NaN
Name: EX_pro_L_e, dtype: float64

EX_pyr_b compartment
A        -0.300270
B         0.038993
C        -0.132426
medium         NaN
Name: EX_pyr_b, dtype: float64

EX_pyr_e compartment
A        -0.300270
B         0.038993
C        -0.132426
medium         NaN
Name: EX_pyr_e, dtype: float64

EX_pyr_m compartment
A            NaN
B            NaN
C            NaN
medium   -0.1818
Name: EX_pyr_m, dtype: float64

EX_ser_L_b compartment
A        -0.309105
B        -0.003124
C        -0.079808
medium         NaN
Name: EX_ser_L_b, dtype: float64

EX_ser_L_e compartment
A        -0.309105
B        -0.003124
C        -0.079808
medium         NaN
Name: EX_ser_L_e, dtype: float64

EX_ser_L_m compartment
A            NaN
B            NaN
C            NaN
medium   -0.1904
Name: EX_ser_L_m, dtype: float64

EX_sfcys_e compartment
A        -0.332067
B        -0.000300
C         1.252908
medium         NaN
Name: EX_sfcys_e, dtype: float64

EX_slfcys_b compartment
A        -0.332067
B        -0.000300
C         1.252908
medium         NaN
Name: EX_slfcys_b, dtype: float64

EX_so4_b compartment
A         0.332067
B         0.000300
C        -1.252908
medium         NaN
Name: EX_so4_b, dtype: float64

EX_so4_e compartment
A         0.332067
B         0.000300
C        -1.252908
medium         NaN
Name: EX_so4_e, dtype: float64

EX_succ_b compartment
A              NaN
B         0.000000
C         1.705104
medium         NaN
Name: EX_succ_b, dtype: float64

EX_succ_e compartment
A              NaN
B         0.000000
C         1.705104
medium         NaN
Name: EX_succ_e, dtype: float64

EX_succ_m compartment
A              NaN
B              NaN
C              NaN
medium    0.259472
Name: EX_succ_m, dtype: float64

EX_thr_L_b compartment
A        -0.002408
B        -0.002982
C        -0.034116
medium         NaN
Name: EX_thr_L_b, dtype: float64

EX_thr_L_e compartment
A        -0.002408
B        -0.002982
C        -0.034116
medium         NaN
Name: EX_thr_L_e, dtype: float64

EX_thr_L_m compartment
A             NaN
B             NaN
C             NaN
medium   -0.00739
Name: EX_thr_L_m, dtype: float64

EX_trp_L_b compartment
A        -0.000102
B        -0.000086
C        -0.001374
medium         NaN
Name: EX_trp_L_b, dtype: float64

EX_trp_L_e compartment
A        -0.000102
B        -0.000086
C        -0.001374
medium         NaN
Name: EX_trp_L_e, dtype: float64

EX_trp_L_m compartment
A              NaN
B              NaN
C              NaN
medium   -0.000291
Name: EX_trp_L_m, dtype: float64

EX_tyr_L_b compartment
A         0.000000
B        -0.003606
C        -0.016492
medium         NaN
Name: EX_tyr_L_b, dtype: float64

EX_tyr_L_e compartment
A         0.000000
B        -0.003606
C        -0.016492
medium         NaN
Name: EX_tyr_L_e, dtype: float64

EX_tyr_L_m compartment
A              NaN
B              NaN
C              NaN
medium   -0.003498
Name: EX_tyr_L_m, dtype: float64

EX_urea_b compartment
A         0.086737
B         0.000394
C              NaN
medium         NaN
Name: EX_urea_b, dtype: float64

EX_urea_e compartment
A         0.086737
B         0.000394
C              NaN
medium         NaN
Name: EX_urea_e, dtype: float64

EX_urea_m compartment
A              NaN
B              NaN
C              NaN
medium    0.049887
Name: EX_urea_m, dtype: float64

EX_utp_b compartment
A        -0.000886
B         0.001317
C         0.000971
medium         NaN
Name: EX_utp_b, dtype: float64

EX_utp_e compartment
A        -0.000886
B         0.001317
C         0.000971
medium         NaN
Name: EX_utp_e, dtype: float64

EX_val_L_b compartment
A        -0.002716
B        -0.002274
C        -0.036421
medium         NaN
Name: EX_val_L_b, dtype: float64

EX_val_L_e compartment
A        -0.002716
B        -0.002274
C        -0.036421
medium         NaN
Name: EX_val_L_e, dtype: float64

EX_val_L_m compartment
A              NaN
B              NaN
C              NaN
medium   -0.007724
Name: EX_val_L_m, dtype: float64

EX_xmp_b compartment
A        -0.000354
B        -0.000297
C         0.001871
medium         NaN
Name: EX_xmp_b, dtype: float64

EX_xmp_e compartment
A        -0.000354
B        -0.000297
C         0.001871
medium         NaN
Name: EX_xmp_e, dtype: float64

FADH2tru compartment
A         0.000157
B         0.000132
C         0.325654
medium         NaN
Name: FADH2tru, dtype: float64

FADtru compartment
A         0.000157
B         0.000132
C         0.325654
medium         NaN
Name: FADtru, dtype: float64

FAS100COA compartment
A         0.000000
B         0.003459
C         0.075160
medium         NaN
Name: FAS100COA, dtype: float64

FAS120COA compartment
A         0.000000
B         0.003459
C         0.075160
medium         NaN
Name: FAS120COA, dtype: float64

FAS140COA compartment
A         0.000000
B         0.003459
C         0.075160
medium         NaN
Name: FAS140COA, dtype: float64

FAS160COA compartment
A         0.000000
B         0.003459
C         0.075160
medium         NaN
Name: FAS160COA, dtype: float64

FAS80COA_L compartment
A         0.000000
B         0.003459
C         0.075160
medium         NaN
Name: FAS80COA_L, dtype: float64

FBA compartment
A         0.018886
B         0.037798
C              NaN
medium         NaN
Name: FBA, dtype: float64

FBA4 compartment
A              NaN
B         0.000000
C         0.232843
medium         NaN
Name: FBA4, dtype: float64

FDH compartment
A              NaN
B         0.000000
C         0.002107
medium         NaN
Name: FDH, dtype: float64

FOLOAT1tc compartment
A         0.000000
B              NaN
C        -0.001608
medium         NaN
Name: FOLOAT1tc, dtype: float64

FOLOATPtc compartment
A         0.000000
B         0.000000
C         0.001608
medium         NaN
Name: FOLOATPtc, dtype: float64

FORt2m compartment
A              NaN
B        -0.000431
C              NaN
medium         NaN
Name: FORt2m, dtype: float64

FORtr compartment
A        -0.000157
B        -0.000132
C        -0.002107
medium         NaN
Name: FORtr, dtype: float64

FRDPtcr compartment
A         0.000314
B         0.000263
C         0.004214
medium         NaN
Name: FRDPtcr, dtype: float64

FTCD compartment
A         0.169736
B              NaN
C         0.000000
medium         NaN
Name: FTCD, dtype: float64

FTHFLm compartment
A              NaN
B         0.000431
C              NaN
medium         NaN
Name: FTHFLm, dtype: float64

G3PD1 compartment
A         0.046517
B         0.009520
C        -0.232843
medium         NaN

Name: G3PD1, dtype: float64

G5SADrm compartment
A         0.000000
B         0.000394
C         1.199551
medium         NaN
Name: G5SADrm, dtype: float64

GALK compartment
A         0.002119
B         0.001775
C              NaN
medium         NaN
Name: GALK, dtype: float64

GALt2_2 compartment
A              NaN
B         0.001775
C         0.000000
medium         NaN
Name: GALt2_2, dtype: float64

GALt4 compartment
A         0.002119
B              NaN
C              NaN
medium         NaN
Name: GALt4, dtype: float64

GAPD compartment
A         0.140945
B         0.198508
C         0.014212
medium         NaN
Name: GAPD, dtype: float64

GARFT compartment
A         0.000000
B         0.000000
C         0.016251
medium         NaN
Name: GARFT, dtype: float64

GCALDD compartment
A         0.000000
B         0.000000
C         0.232843
medium         NaN
Name: GCALDD, dtype: float64

GHMT2r compartment
A        -0.169120
B         0.000084
C         0.031136
medium         NaN
Name: GHMT2r, dtype: float64

GK1 compartment
A         0.000354
B         0.000297
C         0.004753
medium         NaN
Name: GK1, dtype: float64

GLCURter compartment
A         0.056657
B         0.115451
C         0.304582
medium         NaN
Name: GLCURter, dtype: float64

GLNS compartment
A         0.004663
B         0.000000
C         0.118622
medium         NaN
Name: GLNS, dtype: float64

GLUDxm compartment
A        -0.697307
B         0.000000
C         0.134455
medium         NaN
Name: GLUDxm, dtype: float64

GLUDym compartment
A         0.000000
B         0.000394
C         1.200903
medium         NaN
Name: GLUDym, dtype: float64

GLUPRT compartment
A         0.000000
B         0.000000
C         0.016251
medium         NaN
Name: GLUPRT, dtype: float64

GLXtm compartment
A         0.000000
B              NaN
C         0.232843
medium         NaN
Name: GLXtm, dtype: float64

GLXtp compartment
A         0.000000
B              NaN
C        -0.232843
medium         NaN
Name: GLXtp, dtype: float64

GLYCLTtp compartment
A         0.000000
B         0.000000
C         0.232843
medium         NaN
Name: GLYCLTtp, dtype: float64

GLYCTO1p compartment
A         0.000000
B         0.000000
C         0.232843
medium         NaN
Name: GLYCTO1p, dtype: float64

GLYSNAT5tc compartment
A         0.000000
B         0.012167
C         0.000000
medium         NaN
Name: GLYSNAT5tc, dtype: float64

GLYt7_311_r compartment
A        -0.113238
B        -0.005793
C         0.000000
medium         NaN
Name: GLYt7_311_r, dtype: float64

GLYtm compartment
A         0.000000
B              NaN
C        -0.232843
medium         NaN
Name: GLYtm, dtype: float64

GPAM_hs compartment
A         0.001930
B         0.001617
C         0.027986
medium         NaN
Name: GPAM_hs, dtype: float64

GRTT compartment
A         0.000314
B         0.000263
C         0.004214
medium         NaN
Name: GRTT, dtype: float64

GUAPRT compartment
A         0.000354
B         0.000297
C              NaN
medium         NaN
Name: GUAPRT, dtype: float64

GULN3D compartment
A         0.056657
B         0.115451
C         0.304582
medium         NaN
Name: GULN3D, dtype: float64

GULNDer compartment
A         0.056657
B         0.115451
C         0.304582
medium         NaN
Name: GULNDer, dtype: float64

GULNter compartment
A         0.056657
B         0.115451
C         0.304582
medium         NaN
Name: GULNter, dtype: float64

GluForTx compartment
A         0.169736
B              NaN
C         0.000000
medium         NaN
Name: GluForTx, dtype: float64

H2CO3D compartment
A         0.359061
B         0.144641
C              NaN
medium         NaN
Name: H2CO3D, dtype: float64

H2CO3Dm compartment
A        -1.347326
B         0.000000
C         3.528713
medium         NaN
Name: H2CO3Dm, dtype: float64

H2O2syn compartment
A         0.013849
B         0.000000
C         0.000000
medium         NaN
Name: H2O2syn, dtype: float64

H2O2t compartment
A        -0.013849
B         0.000000
C         0.052230
medium         NaN
Name: H2O2t, dtype: float64

H2Oter compartment
A        -0.001728
B        -0.001447
C        -0.023180
medium         NaN
Name: H2Oter, dtype: float64

H2Otm compartment
A        -1.350053
B              NaN
C              NaN
medium         NaN
Name: H2Otm, dtype: float64

H2Otp compartment
A         0.000000
B         0.000000
C        -0.232843
medium         NaN
Name: H2Otp, dtype: float64

HACD9m compartment
A         0.000943
B              NaN
C              NaN
medium         NaN
Name: HACD9m, dtype: float64

HISD compartment
A         0.169736
B              NaN
C         0.000000
medium         NaN
Name: HISD, dtype: float64

HIStiDF compartment
A         0.170710
B         0.000815
C         0.013057
medium         NaN
Name: HIStiDF, dtype: float64

HMGCOARc compartment
A         0.000943
B         0.000790
C         0.012643
medium         NaN
Name: HMGCOARc, dtype: float64

HMGCOASi compartment
A             NaN
B         0.00079
C             NaN
medium        NaN
Name: HMGCOASi, dtype: float64

HMGCOASim compartment
A         0.000943
B              NaN
C         0.000000
medium         NaN
Name: HMGCOASim, dtype: float64

HMGCOAtm compartment
A        -0.000943
B              NaN
C        -0.012643
medium         NaN
Name: HMGCOAtm, dtype: float64

HMGLm compartment
A              NaN
B              NaN
C         0.146638
medium         NaN
Name: HMGLm, dtype: float64

Htr compartment
A         0.058385
B         0.113308
C         0.000000
medium         NaN
Name: Htr, dtype: float64

ILEB0AT2tc compartment
A         0.000000
B         0.000000
C         0.029549
medium         NaN
Name: ILEB0AT2tc, dtype: float64

ILEB0AT3tc compartment
A         0.003146
B         0.001845
C         0.000000
medium         NaN
Name: ILEB0AT3tc, dtype: float64

ILETAm compartment
A         0.000943
B              NaN
C              NaN
medium         NaN
Name: ILETAm, dtype: float64

ILEt5m compartment
A         0.000943
B              NaN
C              NaN
medium         NaN
Name: ILEt5m, dtype: float64

IMPC compartment
A        -0.000515
B        -0.000431
C        -0.013532
medium         NaN
Name: IMPC, dtype: float64

IMPD compartment
A         0.000000
B         0.000000
C         0.006624
medium         NaN
Name: IMPD, dtype: float64

INOSTO compartment
A         0.056657
B         0.115451
C         0.304582
medium         NaN
Name: INOSTO, dtype: float64

INSTt2r compartment
A         0.000000
B         0.093657
C         0.306990
medium         NaN
Name: INSTt2r, dtype: float64

INSTt4 compartment
A         0.056837
B              NaN
C              NaN
medium         NaN
Name: INSTt4, dtype: float64

INSTt4_2 compartment
A         0.000000
B         0.021945
C         0.000000
medium         NaN
Name: INSTt4_2, dtype: float64

IPDDI compartment
A         0.000314
B         0.000263
C         0.004214
medium         NaN
Name: IPDDI, dtype: float64

IZPN compartment
A         0.169736
B              NaN
C         0.000000
medium         NaN
Name: IZPN, dtype: float64

KHK2 compartment
A              NaN
B              NaN
C         0.232843
medium         NaN
Name: KHK2, dtype: float64

LEUB0AT2tc compartment
A         0.000000
B         0.003519
C         0.215630
medium         NaN
Name: LEUB0AT2tc, dtype: float64

LEUB0AT3tc compartment
A         0.004202
B         0.000000
C         0.000000
medium         NaN
Name: LEUB0AT3tc, dtype: float64

LEUTAm compartment
A         0.000000
B              NaN
C         0.159281
medium         NaN
Name: LEUTAm, dtype: float64

LEUt5m compartment
A         0.000000
B              NaN
C         0.159281
medium         NaN
Name: LEUt5m, dtype: float64

LNSTLSr compartment
A         0.000157
B         0.000132
C         0.002107
medium         NaN
Name: LNSTLSr, dtype: float64

LSTO1r compartment
A              NaN
B         0.000000
C         0.002107
medium         NaN
Name: LSTO1r, dtype: float64

LSTO2r compartment
A         0.000157
B         0.000132
C         0.000000
medium         NaN
Name: LSTO2r, dtype: float64

MCCCrm compartment
A         0.000000
B              NaN
C         0.159281
medium         NaN
Name: MCCCrm, dtype: float64

MECOALm compartment
A         0.000000
B        -0.000431
C         0.000000
medium         NaN
Name: MECOALm, dtype: float64

MECOAS1m compartment
A         0.000000
B         0.000431
C         0.000000
medium         NaN
Name: MECOAS1m, dtype: float64

METB0AT2tc compartment
A         0.000000
B         0.000987
C         0.015806
medium         NaN
Name: METB0AT2tc, dtype: float64

METB0AT3tc compartment
A         0.001178
B         0.000000
C         0.000000
medium         NaN
Name: METB0AT3tc, dtype: float64

MEVK1c compartment
A         0.000943
B         0.000790
C         0.012643
medium         NaN
Name: MEVK1c, dtype: float64

MGCHrm compartment
A         0.000000
B              NaN
C         0.159281
medium         NaN
Name: MGCHrm, dtype: float64

MMSAD3m compartment
A         0.001885
B              NaN
C         0.000000
medium         NaN
Name: MMSAD3m, dtype: float64

MTHFC compartment
A         0.000515
B              NaN
C         0.029783
medium         NaN
Name: MTHFC, dtype: float64

MTHFD compartment
A         0.074606
B              NaN
C              NaN
medium         NaN
Name: MTHFD, dtype: float64

MTHFD2 compartment
A        -0.243827
B              NaN
C         0.029783
medium         NaN
Name: MTHFD2, dtype: float64

MTHGXLt compartment
A              NaN
B         0.156938
C         0.000000
medium         NaN
Name: MTHGXLt, dtype: float64

NADH2_u10m compartment
A              NaN
B              NaN
C         0.648141
medium         NaN
Name: NADH2_u10m, dtype: float64

NADPHtru compartment
A         0.058385
B         0.116767
C         0.002107
medium         NaN
Name: NADPHtru, dtype: float64

NADPtru compartment
A         0.058385
B         0.116767
C         0.002107
medium         NaN
Name: NADPtru, dtype: float64

NAt3_1 compartment
A        -0.068757
B              NaN
C              NaN
medium         NaN
Name: NAt3_1, dtype: float64

NAt5 compartment
A        -0.119589
B              NaN
C              NaN
medium         NaN
Name: NAt5, dtype: float64

NDPK1 compartment
A         0.000869
B              NaN
C              NaN
medium         NaN
Name: NDPK1, dtype: float64

NDPK6 compartment
A         0.000000
B        -0.000084
C              NaN
medium         NaN
Name: NDPK6, dtype: float64

NDPK7 compartment
A              NaN
B         0.000061
C              NaN
medium         NaN
Name: NDPK7, dtype: float64

NDPK8 compartment
A         1.015298e-04
B         5.934168e-07
C                  NaN
medium             NaN
Name: NDPK8, dtype: float64

NH4t3r compartment
A              NaN
B         0.000750
C         1.208794
medium         NaN
Name: NH4t3r, dtype: float64

NICRNS compartment
A         0.000354
B         0.002440
C         0.029102
medium         NaN
Name: NICRNS, dtype: float64

NP1 compartment
A         0.000354
B         0.002440
C         0.029102
medium         NaN
Name: NP1, dtype: float64

NTD10 compartment
A         0.000354
B         0.000297
C              NaN
medium         NaN
Name: NTD10, dtype: float64

NTD6 compartment
A              NaN
B         0.000084
C              NaN
medium         NaN
Name: NTD6, dtype: float64

O2t compartment
A         0.073312
B         0.116748
C         0.827649
medium         NaN
Name: O2t, dtype: float64

O2ter compartment
A         0.001257
B         0.001184
C         0.018965
medium         NaN
Name: O2ter, dtype: float64

O2tm compartment
A         0.001414
B         0.000000
C         0.411989
medium         NaN
Name: O2tm, dtype: float64

O2tp compartment
A         0.000000
B         0.000000
C         0.116422
medium         NaN
Name: O2tp, dtype: float64

OBDHc compartment
A         0.000000
B         0.000965
C         0.001818
medium         NaN
Name: OBDHc, dtype: float64

OIVD1m compartment
A         0.000000
B              NaN
C         0.159281
medium         NaN
Name: OIVD1m, dtype: float64

OIVD3m compartment
A         0.000943
B              NaN
C              NaN
medium         NaN
Name: OIVD3m, dtype: float64

OMPDC compartment
A         0.000000
B         0.002059
C         0.012851
medium         NaN
Name: OMPDC, dtype: float64

ORNTArm compartment
A         0.086737
B         0.000394
C              NaN
medium         NaN
Name: ORNTArm, dtype: float64

OROTGLUt compartment
A         0.413226
B              NaN
C        -0.003705
medium         NaN
Name: OROTGLUt, dtype: float64

ORPT compartment
A         0.000000
B        -0.002059
C        -0.012851
medium         NaN
Name: ORPT, dtype: float64

P45027A12m compartment
A         0.000101
B         0.000000
C         0.000000
medium         NaN
Name: P45027A12m, dtype: float64

P5CDm compartment
A         0.302507
B              NaN
C              NaN
medium         NaN
Name: P5CDm, dtype: float64

P5CRm compartment
A         0.000000
B         0.000394
C         1.199551
medium         NaN
Name: P5CRm, dtype: float64

PCHOL_HSter compartment
A              NaN
B        -0.001109
C              NaN
medium         NaN
Name: PCHOL_HSter, dtype: float64

PDHm compartment
A              NaN
B              NaN
C         0.379481
medium         NaN
Name: PDHm, dtype: float64

PETOHMr_hs compartment
A              NaN
B         0.001109
C              NaN
medium         NaN
Name: PETOHMr_hs, dtype: float64

PE_HSter compartment
A              NaN
B         0.001109
C              NaN
medium         NaN
Name: PE_HSter, dtype: float64

PE_HStm compartment
A        -0.000479
B        -0.000357
C        -0.005720
medium         NaN
Name: PE_HStm, dtype: float64

PFK compartment
A         0.018785
B              NaN
C              NaN
medium         NaN
Name: PFK, dtype: float64

PGI compartment
A              NaN
B              NaN
C        -0.028425
medium         NaN
Name: PGI, dtype: float64

PGK compartment
A        -0.140945
B        -0.198508
C        -0.014212
medium         NaN
Name: PGK, dtype: float64

PGLYCt compartment
A         0.000112
B         0.000094
C        -0.000592
medium         NaN
Name: PGLYCt, dtype: float64

PGM compartment
A        -0.140945
B        -0.198508
C        -0.014212
medium         NaN
Name: PGM, dtype: float64

PGMT compartment
A         0.002119
B         0.001775
C              NaN
medium         NaN
Name: PGMT, dtype: float64

PGPPT compartment
A         0.000000
B         0.000000
C         0.002098
medium         NaN
Name: PGPPT, dtype: float64

PGPP_hs compartment
A         0.000000
B         0.000000
C         0.002098
medium         NaN
Name: PGPP_hs, dtype: float64

PHEB0AT3tc compartment
A         0.001998
B         0.001674
C         0.000000
medium         NaN
Name: PHEB0AT3tc, dtype: float64

PIt2m compartment
A         0.785087
B              NaN
C         1.561414
medium         NaN
Name: PIt2m, dtype: float64

PIt7 compartment
A        -0.042523
B              NaN
C         0.000000
medium         NaN
Name: PIt7, dtype: float64

PMEVKc compartment
A         0.000943
B         0.000790
C         0.012643
medium         NaN
Name: PMEVKc, dtype: float64

PPA compartment
A         0.008549
B         0.017612
C              NaN
medium         NaN
Name: PPA, dtype: float64

PPASMCT1 compartment
A         0.000000
B        -0.000965
C        -0.001818
medium         NaN
Name: PPASMCT1, dtype: float64

PPAm compartment
A              NaN
B              NaN
C         0.083838
medium         NaN
Name: PPAm, dtype: float64

PPCOAOm compartment
A         0.001885
B              NaN
C              NaN
medium         NaN
Name: PPCOAOm, dtype: float64

PPItm compartment
A         0.000000
B              NaN
C         0.083838
medium         NaN
Name: PPItm, dtype: float64

PPItr compartment
A        -0.000314
B        -0.000263
C        -0.004214
medium         NaN
Name: PPItr, dtype: float64

PPM compartment
A         0.000000
B        -0.002059
C        -0.029102
medium         NaN
Name: PPM, dtype: float64

PRAGSr compartment
A         0.000000
B         0.000000
C         0.016251
medium         NaN
Name: PRAGSr, dtype: float64

PRFGS compartment
A         0.000000
B         0.000000
C         0.016251
medium         NaN
Name: PRFGS, dtype: float64

PRO1xm compartment
A         0.302507
B         0.000000
C         0.000000
medium         NaN

Name: PRO1xm, dtype: float64

PROPAT4te compartment
A         0.305684
B              NaN
C              NaN
medium         NaN
Name: PROPAT4te, dtype: float64

PROt4_2_r compartment
A         0.000000
B         0.002266
C        -1.096029
medium         NaN
Name: PROt4_2_r, dtype: float64

PROtm compartment
A        -0.871723
B        -0.000826
C         1.176077
medium         NaN
Name: PROtm, dtype: float64

PRPNCOAHYDm compartment
A         0.001885
B              NaN
C         0.000000
medium         NaN
Name: PRPNCOAHYDm, dtype: float64

PSDm_hs compartment
A         0.000479
B         0.000357
C         0.005720
medium         NaN
Name: PSDm_hs, dtype: float64

PSFLIPm compartment
A         0.000479
B         0.000357
C         0.005720
medium         NaN
Name: PSFLIPm, dtype: float64

PSSA1_hs compartment
A             NaN
B             NaN
C        -0.01776
medium        NaN
Name: PSSA1_hs, dtype: float64

PSSA2_hs compartment
A         0.000052
B        -0.001109
C              NaN
medium         NaN
Name: PSSA2_hs, dtype: float64

PUNP2 compartment
A              NaN
B         0.000084
C              NaN
medium         NaN
Name: PUNP2, dtype: float64

PUNP3 compartment
A         0.000354
B         0.000297
C              NaN
medium         NaN
Name: PUNP3, dtype: float64

PYK compartment
A         0.139520
B         0.100359
C              NaN
medium         NaN
Name: PYK, dtype: float64

PYNP2r compartment
A              NaN
B         0.000084
C              NaN
medium         NaN
Name: PYNP2r, dtype: float64

PYRSMCT1 compartment
A         0.160941
B        -0.023242
C         0.023368
medium         NaN
Name: PYRSMCT1, dtype: float64

RDH2 compartment
A              NaN
B        -0.324116
C              NaN
medium         NaN
Name: RDH2, dtype: float64

RDH2a compartment
A              NaN
B         0.324116
C              NaN
medium         NaN
Name: RDH2a, dtype: float64

RE0453C compartment
A              NaN
B              NaN
C         0.001352
medium         NaN
Name: RE0453C, dtype: float64

RE1518M compartment
A        -0.002828
B              NaN
C              NaN
medium         NaN
Name: RE1518M, dtype: float64

RE1530C compartment
A              NaN
B         0.000084
C              NaN
medium         NaN
Name: RE1530C, dtype: float64

RE2625M compartment
A        -0.000101
B         0.000000
C         0.000000
medium         NaN
Name: RE2625M, dtype: float64

RE2649C compartment
A        -0.000943
B         0.000965
C         0.001818
medium         NaN
Name: RE2649C, dtype: float64

RE2675C compartment
A         0.000135
B         0.000113
C         0.001806
medium         NaN
Name: RE2675C, dtype: float64

RE2954C compartment
A         0.000101
B         0.000084
C              NaN
medium         NaN
Name: RE2954C, dtype: float64

RE2998M compartment
A         0.002828
B              NaN
C              NaN
medium         NaN
Name: RE2998M, dtype: float64

RE3273C compartment
A        -0.000269
B        -0.000226
C        -0.005710
medium         NaN
Name: RE3273C, dtype: float64

RE3301C compartment
A        -0.000471
B        -0.001504
C        -0.024082
medium         NaN
Name: RE3301C, dtype: float64

RE3347C compartment
A         0.000157
B         0.000132
C         0.325654
medium         NaN
Name: RE3347C, dtype: float64

RNDR1 compartment
A         0.000102
B         0.000169
C         0.001362
medium         NaN
Name: RNDR1, dtype: float64

RNDR2 compartment
A              NaN
B         0.000064
C              NaN
medium         NaN
Name: RNDR2, dtype: float64

RNDR3 compartment
A              NaN
B         0.000061
C              NaN
medium         NaN
Name: RNDR3, dtype: float64

RNDR4 compartment
A         0.000101
B              NaN
C         0.001352
medium         NaN
Name: RNDR4, dtype: float64

RPE compartment
A        -0.018886
B        -0.039856
C        -0.043314
medium         NaN
Name: RPE, dtype: float64

RTOTALFATPc compartment
A         0.00413
B             NaN
C             NaN
medium        NaN
Name: RTOTALFATPc, dtype: float64

RTOTALt compartment
A         0.000000
B              NaN
C        -0.015576
medium         NaN
Name: RTOTALt, dtype: float64

SERB0AT3tc compartment
A         0.010416
B         0.000000
C         0.000000
medium         NaN
Name: SERB0AT3tc, dtype: float64

SERHL compartment
A         0.474544
B         0.000000
C         0.000000
medium         NaN
Name: SERHL, dtype: float64

SERPT compartment
A         0.000135
B         0.000113
C         0.001806
medium         NaN
Name: SERPT, dtype: float64

SERtN1 compartment
A         0.298689
B         0.003124
C         0.079808
medium         NaN
Name: SERtN1, dtype: float64

SFCYSc compartment
A        -0.332067
B        -0.000300
C         1.252908
medium         NaN
Name: SFCYSc, dtype: float64

SFCYSe compartment
A        -0.332067
B        -0.000300
C         1.252908
medium         NaN
Name: SFCYSe, dtype: float64

SMS compartment
A         0.000135
B         0.000113
C         0.001806
medium         NaN
Name: SMS, dtype: float64

SO4t4_2 compartment
A        -0.332067
B        -0.000300
C         1.252908
medium         NaN
Name: SO4t4_2, dtype: float64

SQLEr compartment
A         0.000157
B         0.000132
C         0.002107
medium         NaN
Name: SQLEr, dtype: float64

SQLSr compartment
A         0.000157
B         0.000132
C         0.002107
medium         NaN
Name: SQLSr, dtype: float64

SUCCt2m compartment
A         0.000000
B         0.000000
C        -1.176077
medium         NaN
Name: SUCCt2m, dtype: float64

SUCCt4_2 compartment
A              NaN
B         0.000000
C        -1.705104
medium         NaN
Name: SUCCt4_2, dtype: float64

SUCOAS1m compartment
A              NaN
B              NaN
C        -0.089764
medium         NaN
Name: SUCOAS1m, dtype: float64

SUCOASm compartment
A             NaN
B             NaN
C        -1.61534
medium        NaN
Name: SUCOASm, dtype: float64

TALA compartment
A              NaN
B              NaN
C         0.014212
medium         NaN
Name: TALA, dtype: float64

THFtm compartment
A        -0.000101
B         0.000431
C        -0.001352
medium         NaN
Name: THFtm, dtype: float64

THRD_L compartment
A         0.000000
B         0.000965
C         0.001818
medium         NaN
Name: THRD_L, dtype: float64

THRGLYexR compartment
A         0.002408
B         0.002982
C         0.000000
medium         NaN
Name: THRGLYexR, dtype: float64

THRPHELAT2tc compartment
A              NaN
B              NaN
C         0.034116
medium         NaN
Name: THRPHELAT2tc, dtype: float64

TKT1 compartment
A         0.018886
B         0.037798
C         0.014212
medium         NaN
Name: TKT1, dtype: float64

TKT2 compartment
A         0.018886
B         0.037798
C         0.014212
medium         NaN
Name: TKT2, dtype: float64

TMDS compartment
A         0.000101
B         0.000084
C         0.001352
medium         NaN
Name: TMDS, dtype: float64

TPI compartment
A         0.084288
B         0.085115
C              NaN
medium         NaN
Name: TPI, dtype: float64

TRDR compartment
A         0.000351
B         0.000294
C         0.004711
medium         NaN
Name: TRDR, dtype: float64

TRPB0AT3tc compartment
A              NaN
B         0.000000
C         0.001374
medium         NaN
Name: TRPB0AT3tc, dtype: float64

TRPt compartment
A         0.000102
B         0.000086
C              NaN
medium         NaN
Name: TRPt, dtype: float64

TYRB0AT3tc compartment
A         0.000000
B         0.000000
C         0.016492
medium         NaN
Name: TYRB0AT3tc, dtype: float64

TYRTA compartment
A        -0.001230
B         0.002577
C              NaN
medium         NaN
Name: TYRTA, dtype: float64

TYRt compartment
A              NaN
B         0.003606
C              NaN
medium         NaN
Name: TYRt, dtype: float64

UDPG4E compartment
A        -0.002119
B        -0.001775
C              NaN
medium         NaN
Name: UDPG4E, dtype: float64

UGLT compartment
A         0.002119
B         0.001775
C              NaN
medium         NaN
Name: UGLT, dtype: float64

UMPK compartment
A         0.000000
B         0.000000
C         0.012851
medium         NaN
Name: UMPK, dtype: float64

UMPK2 compartment
A         0.000000
B         0.000061
C              NaN
medium         NaN

Name: UMPK2, dtype: float64

UMPK4 compartment
A         0.000000
B        -0.018434
C         0.000000
medium         NaN
Name: UMPK4, dtype: float64

UMPK7 compartment
A         0.000000
B         0.020347
C              NaN
medium         NaN
Name: UMPK7, dtype: float64

URCN compartment
A         0.169736
B              NaN
C         0.000000
medium         NaN
Name: URCN, dtype: float64

UREAt compartment
A              NaN
B         0.197671
C              NaN
medium         NaN
Name: UREAt, dtype: float64

UREAt5 compartment
A        -0.086737
B        -0.198065
C              NaN
medium         NaN
Name: UREAt5, dtype: float64

URIDK2m compartment
A        -0.000101
B              NaN
C        -0.001352
medium         NaN
Name: URIDK2m, dtype: float64

VALB0AT2tc compartment
A         0.000000
B         0.000000
C         0.036421
medium         NaN
Name: VALB0AT2tc, dtype: float64

VALB0AT3tc compartment
A         0.002716
B         0.002274
C         0.000000
medium         NaN
Name: VALB0AT3tc, dtype: float64

XYLK compartment
A         0.056657
B         0.115451
C         0.071739
medium         NaN
Name: XYLK, dtype: float64

XYLTD_Dr compartment
A         0.056657
B         0.115451
C         0.304582
medium         NaN
Name: XYLTD_Dr, dtype: float64

biomass_DNA compartment
A         0.000108
B         0.000090
C         0.001446
medium         NaN
Name: biomass_DNA, dtype: float64

biomass_RNA compartment
A         0.000447
B         0.000374
C         0.005991
medium         NaN
Name: biomass_RNA, dtype: float64

biomass_carbohydrate compartment
A         0.000547
B         0.000458
C         0.007334
medium         NaN
Name: biomass_carbohydrate, dtype: float64

biomass_lipid compartment
A         0.000747
B         0.000626
C         0.010019
medium         NaN
Name: biomass_lipid, dtype: float64

biomass_other compartment
A         0.000416
B         0.000348
C         0.005578
medium         NaN
Name: biomass_other, dtype: float64

biomass_protein compartment
A         0.005437
B         0.004554
C         0.072923
medium         NaN
Name: biomass_protein, dtype: float64

biomass_reaction compartment
A         0.007702
B         0.006450
C         0.103291
medium         NaN
Name: biomass_reaction, dtype: float64

fumt compartment
A        -0.000515
B        -0.000431
C        -0.023160
medium         NaN
Name: fumt, dtype: float64

glyc3pte compartment
A         0.048447
B         0.011137
C        -0.202760
medium         NaN
Name: glyc3pte, dtype: float64

r0010 compartment
A         0.000000
B              NaN
C         0.026115
medium         NaN
Name: r0010, dtype: float64

r0027 compartment
A         0.000000
B         0.000000
C         0.523854
medium         NaN
Name: r0027, dtype: float64

r0055 compartment
A         0.000000
B        -0.156938
C         0.000000
medium         NaN
Name: r0055, dtype: float64

r0074 compartment
A         0.086737
B              NaN
C        -1.199551
medium         NaN
Name: r0074, dtype: float64

r0081 compartment
A         0.000000
B         0.000431
C              NaN
medium         NaN
Name: r0081, dtype: float64

r0153 compartment
A         0.001324
B         0.000000
C              NaN
medium         NaN
Name: r0153, dtype: float64

r0165 compartment
A              NaN
B         0.077569
C         0.011498
medium         NaN
Name: r0165, dtype: float64

r0191 compartment
A         0.000101
B         0.037798
C              NaN
medium         NaN
Name: r0191, dtype: float64

r0193 compartment
A         0.00827
B             NaN
C             NaN
medium        NaN
Name: r0193, dtype: float64

r0224 compartment
A              NaN
B         0.000084
C              NaN
medium         NaN
Name: r0224, dtype: float64

r0226 compartment
A         0.000101
B              NaN
C         0.001352
medium         NaN
Name: r0226, dtype: float64

r0249 compartment
A        -0.018886
B        -0.039856
C        -0.043314
medium         NaN
Name: r0249, dtype: float64

r0280 compartment
A              NaN
B              NaN
C         0.002714
medium         NaN
Name: r0280, dtype: float64

r0301 compartment
A              NaN
B              NaN
C         0.004753
medium         NaN
Name: r0301, dtype: float64

r0331 compartment
A              NaN
B              NaN
C         0.530629
medium         NaN
Name: r0331, dtype: float64

r0365 compartment
A         0.001885
B              NaN
C         0.000000
medium         NaN
Name: r0365, dtype: float64

r0391 compartment
A         0.000354
B         0.002440
C         0.029102
medium         NaN
Name: r0391, dtype: float64

r0407 compartment
A         0.018886
B         0.037798
C              NaN
medium         NaN
Name: r0407, dtype: float64

r0408 compartment
A         0.018886
B              NaN
C              NaN
medium         NaN
Name: r0408, dtype: float64

r0409 compartment
A         0.000000
B         0.037798
C              NaN
medium         NaN
Name: r0409, dtype: float64

r0413 compartment
A         0.000000
B         0.020495
C              NaN
medium         NaN
Name: r0413, dtype: float64

r0431 compartment
A         0.000000
B              NaN
C        -0.526119
medium         NaN
Name: r0431, dtype: float64

r0432 compartment
A         0.000000
B              NaN
C         0.526119
medium         NaN
Name: r0432, dtype: float64

r0472 compartment
A        -0.000076
B              NaN
C        -0.001022
medium         NaN
Name: r0472, dtype: float64

r0474 compartment
A        -0.000073
B              NaN
C        -0.000975
medium         NaN
Name: r0474, dtype: float64

r0480 compartment
A         0.000052
B        -0.001109
C              NaN
medium         NaN
Name: r0480, dtype: float64

r0596 compartment
A         0.001885
B              NaN
C         0.000000
medium         NaN
Name: r0596, dtype: float64

r0655 compartment
A              NaN
B              NaN
C         0.159281
medium         NaN
Name: r0655, dtype: float64

r0666 compartment
A         0.000000
B         0.000000
C         0.016251
medium         NaN
Name: r0666, dtype: float64

r0747 compartment
A              NaN
B              NaN
C         0.031666
medium         NaN
Name: r0747, dtype: float64

r0781 compartment
A         0.000157
B         0.000132
C         0.002107
medium         NaN
Name: r0781, dtype: float64

r0784 compartment
A        -0.056657
B        -0.115451
C        -0.304582
medium         NaN
Name: r0784, dtype: float64

r0788 compartment
A         0.000052
B        -0.001109
C              NaN
medium         NaN
Name: r0788, dtype: float64

r0789 compartment
A         0.000052
B        -0.001109
C              NaN
medium         NaN
Name: r0789, dtype: float64

r0801 compartment
A         0.000000
B         0.000431
C        -0.089764
medium         NaN
Name: r0801, dtype: float64

r0818 compartment
A         0.000101
B              NaN
C         0.001352
medium         NaN
Name: r0818, dtype: float64

r0819 compartment
A         0.000000
B         0.000000
C         0.529027
medium         NaN
Name: r0819, dtype: float64

r0838 compartment
A         0.697307
B        -0.000394
C        -1.335358
medium         NaN
Name: r0838, dtype: float64

r0839 compartment
A        -0.413226
B         0.002059
C         0.000000
medium         NaN
Name: r0839, dtype: float64

r0840 compartment
A        -0.018886
B        -0.039856
C        -0.043314
medium         NaN
Name: r0840, dtype: float64

r0841 compartment
A         0.018886
B         0.039856
C         0.043314
medium         NaN
Name: r0841, dtype: float64

r0853 compartment
A         0.000101
B              NaN
C         0.001352
medium         NaN
Name: r0853, dtype: float64

r0892 compartment
A        -0.000886
B         0.001317
C         0.000971
medium         NaN
Name: r0892, dtype: float64

r0911 compartment
A         1.174231
B         0.000431
C        -2.375627
medium         NaN
Name: r0911, dtype: float64

r0921 compartment
A              NaN
B              NaN
C         0.530629
medium         NaN
Name: r0921, dtype: float64

r0927 compartment
A         0.000000
B         0.000431
C         0.000000
medium         NaN
Name: r0927, dtype: float64

r0940 compartment
A         0.00827
B             NaN
C             NaN
medium        NaN

Name: r0940, dtype: float64

r0941 compartment
A         1.347326
B         0.000000
C        -2.843313
medium         NaN
Name: r0941, dtype: float64

r0975 compartment
A              NaN
B              NaN
C         0.530629
medium         NaN
Name: r0975, dtype: float64

r1005 compartment
A         0.000000
B              NaN
C         0.526119
medium         NaN
Name: r1005, dtype: float64

r1088 compartment
A         0.000000
B         0.000000
C         0.501953
medium         NaN
Name: r1088, dtype: float64

r1135 compartment
A         0.000157
B              NaN
C              NaN
medium         NaN
Name: r1135, dtype: float64

r1143 compartment
A         0.005383
B         0.004508
C         0.104998
medium         NaN
Name: r1143, dtype: float64

r1144 compartment
A         0.000000
B         0.000687
C         2.452481
medium         NaN
Name: r1144, dtype: float64

r1146 compartment
A         0.000157
B              NaN
C              NaN
medium         NaN
Name: r1146, dtype: float64

r1156 compartment
A              NaN
B        -0.000084
C              NaN
medium         NaN
Name: r1156, dtype: float64

r1291 compartment
A         0.000943
B         0.000000
C         0.000000
medium         NaN
Name: r1291, dtype: float64

r1380 compartment
A              NaN
B         0.000000
C        -0.323547
medium         NaN
Name: r1380, dtype: float64

r1384 compartment
A        -0.000354
B        -0.000297
C              NaN
medium         NaN
Name: r1384, dtype: float64

r1418 compartment
A        -0.181268
B         0.000000
C              NaN
medium         NaN
Name: r1418, dtype: float64

r1427 compartment
A         0.086737
B         0.000394
C              NaN
medium         NaN
Name: r1427, dtype: float64

r1434 compartment
A         0.000000
B         0.000431
C         0.232843
medium         NaN
Name: r1434, dtype: float64

r1464 compartment
A         0.000000
B         0.000431
C        -0.146638
medium         NaN
Name: r1464, dtype: float64

r1621 compartment
A              NaN
B              NaN
C         0.060917
medium         NaN
Name: r1621, dtype: float64

r1992 compartment
A         0.000000
B              NaN
C         0.061159
medium         NaN
Name: r1992, dtype: float64

r1993 compartment
A         0.004560
B         0.003819
C              NaN
medium         NaN
Name: r1993, dtype: float64

r2009 compartment
A              NaN
B         0.002712
C              NaN
medium         NaN
Name: r2009, dtype: float64

r2079 compartment
A              NaN
B        -0.015751
C              NaN
medium         NaN
Name: r2079, dtype: float64

r2081 compartment
A            NaN
B         0.0003
C            NaN
medium       NaN
Name: r2081, dtype: float64

r2084 compartment
A         0.000000
B              NaN
C         0.109058
medium         NaN
Name: r2084, dtype: float64

r2093 compartment
A         0.13933
B             NaN
C             NaN
medium        NaN
Name: r2093, dtype: float64

r2099 compartment
A         0.000000
B              NaN
C         0.109058
medium         NaN
Name: r2099, dtype: float64

r2103 compartment
A        -0.000943
B              NaN
C              NaN
medium         NaN
Name: r2103, dtype: float64

r2108 compartment
A         0.00000
B             NaN
C         0.52742
medium        NaN
Name: r2108, dtype: float64

r2136 compartment
A              NaN
B         0.000000
C         0.339102
medium         NaN
Name: r2136, dtype: float64

r2408 compartment
A         0.086737
B         0.000394
C              NaN
medium         NaN
Name: r2408, dtype: float64

r2419 compartment
A         0.784986
B         0.000431
C              NaN
medium         NaN
Name: r2419, dtype: float64

xmpt compartment
A         0.000354
B         0.000297
C        -0.001871
medium         NaN
Name: xmpt, dtype: float64

TypeError: must be real number, not str

In [62]:
#Number of non-null/non-zero reactions (this means reactions that at least have 1 flux different that 0 or Nan)
print('fluxes day 6:',len(flux_1),' -  fluxes day 19:',len(flux_2))

fluxes day 6: 552  -  fluxes day 19: 550

In [54]:
#Get all exchange fluxes of day 6 from the above subset of reactions
for f in flux_1:
    if 'EX' in f[0]:
        print(f[0],'\n',f[1],end='\n\n')

EX_34hpp_
 compartment
A        -0.000603
B         0.000139
C              NaN
medium         NaN
Name: EX_34hpp_, dtype: float64

EX_34hpp_b
 compartment
A        -0.000603
B         0.000139
C              NaN
medium         NaN
Name: EX_34hpp_b, dtype: float64

EX_Lcystin_b
 compartment
A         0.000000
B         0.000000
C         0.158231
medium         NaN
Name: EX_Lcystin_b, dtype: float64

EX_Lcystin_m
 compartment
A             NaN
B             NaN
C             NaN
medium    0.08209
Name: EX_Lcystin_m, dtype: float64

EX_Rtotal_b
 compartment
A        -0.002025
B              NaN
C         0.000352
medium         NaN
Name: EX_Rtotal_b, dtype: float64

EX_Rtotal_e
 compartment
A        -0.002025
B              NaN
C         0.000352
medium         NaN
Name: EX_Rtotal_e, dtype: float64

EX_acac_b
 compartment
A         0.000000
B        -0.029008
C         0.043482
medium         NaN
Name: EX_acac_b, dtype: float64

EX_acac_e
 compartment
A         0.000000
B        -0.029008
C         0.043482
medium         NaN
Name: EX_acac_e, dtype: float64

EX_acac_m
 compartment
A              NaN
B              NaN
C              NaN
medium    0.011217
Name: EX_acac_m, dtype: float64

EX_acetone_b
 compartment
A         0.00000
B         0.00081
C         0.00000
medium        NaN
Name: EX_acetone_b, dtype: float64

EX_acetone_e
 compartment
A         0.00000
B         0.00081
C         0.00000
medium        NaN
Name: EX_acetone_e, dtype: float64

EX_acetone_m
 compartment
A              NaN
B              NaN
C              NaN
medium    0.000317
Name: EX_acetone_m, dtype: float64

EX_aicar_b
 compartment
A        -0.000253
B        -0.000810
C         0.000654
medium         NaN
Name: EX_aicar_b, dtype: float64

EX_aicar_e
 compartment
A        -0.000253
B        -0.000810
C         0.000654
medium         NaN
Name: EX_aicar_e, dtype: float64

EX_akg_b
 compartment
A         0.347602
B              NaN
C        -0.060452
medium         NaN
Name: EX_akg_b, dtype: float64

EX_akg_e
 compartment
A         0.347602
B              NaN
C        -0.060452
medium         NaN
Name: EX_akg_e, dtype: float64

EX_ala_L_b
 compartment
A         0.479084
B        -0.005439
C        -0.043310
medium         NaN
Name: EX_ala_L_b, dtype: float64

EX_ala_L_e
 compartment
A         0.479084
B        -0.005439
C        -0.043310
medium         NaN
Name: EX_ala_L_e, dtype: float64

EX_ala_L_m
 compartment
A             NaN
B             NaN
C             NaN
medium    0.01863
Name: EX_ala_L_m, dtype: float64

EX_anth_b
 compartment
A              NaN
B         0.000545
C              NaN
medium         NaN
Name: EX_anth_b, dtype: float64

EX_anth_m
 compartment
A              NaN
B              NaN
C              NaN
medium    0.000213
Name: EX_anth_m, dtype: float64

EX_arg_L_b
 compartment
A        -0.001357
B        -0.131818
C        -0.011654
medium         NaN
Name: EX_arg_L_b, dtype: float64

EX_arg_L_e
 compartment
A        -0.001357
B        -0.131818
C        -0.011654
medium         NaN
Name: EX_arg_L_e, dtype: float64

EX_arg_L_m
 compartment
A              NaN
B              NaN
C              NaN
medium   -0.057706
Name: EX_arg_L_m, dtype: float64

EX_asp_L_b
 compartment
A        -0.002639
B        -0.008463
C        -0.032296
medium         NaN
Name: EX_asp_L_b, dtype: float64

EX_asp_L_e
 compartment
A        -0.002639
B        -0.008463
C        -0.032296
medium         NaN
Name: EX_asp_L_e, dtype: float64

EX_asp_L_m
 compartment
A              NaN
B              NaN
C              NaN
medium   -0.020302
Name: EX_asp_L_m, dtype: float64

EX_biomass_c
 compartment
A         0.003776
B         0.012109
C         0.032440
medium         NaN
Name: EX_biomass_c, dtype: float64

EX_chol_b
 compartment
A        -0.000624
B        -0.002082
C        -0.005578
medium         NaN
Name: EX_chol_b, dtype: float64

EX_chol_e
 compartment
A        -0.000624
B        -0.002082
C        -0.005578
medium         NaN
Name: EX_chol_e, dtype: float64

EX_chol_m
 compartment
A              NaN
B              NaN
C              NaN
medium   -0.003764
Name: EX_chol_m, dtype: float64

EX_co2_b
 compartment
A         0.692947
B         0.000000
C         0.139000
medium         NaN
Name: EX_co2_b, dtype: float64

EX_co2_e
 compartment
A         0.692947
B         0.000000
C         0.139000
medium         NaN
Name: EX_co2_e, dtype: float64

EX_co2_m
 compartment
A              NaN
B              NaN
C              NaN
medium    0.134634
Name: EX_co2_m, dtype: float64

EX_cys_L_b
 compartment
A        -0.000176
B         0.145482
C        -0.428037
medium         NaN
Name: EX_cys_L_b, dtype: float64

EX_cys_L_e
 compartment
A        -0.000176
B         0.145482
C        -0.428037
medium         NaN
Name: EX_cys_L_e, dtype: float64

EX_cys_L_m
 compartment
A            NaN
B            NaN
C            NaN
medium   -0.1652
Name: EX_cys_L_m, dtype: float64

EX_fol_b
 compartment
A        -0.386813
B         0.000000
C         0.000000
medium         NaN
Name: EX_fol_b, dtype: float64

EX_fol_e
 compartment
A        -0.386813
B         0.000000
C         0.000000
medium         NaN
Name: EX_fol_e, dtype: float64

EX_fol_m
 compartment
A            NaN
B            NaN
C            NaN
medium   -0.0349
Name: EX_fol_m, dtype: float64

EX_for_b
 compartment
A         0.000077
B        -0.000018
C              NaN
medium         NaN
Name: EX_for_b, dtype: float64

EX_for_e
 compartment
A         0.000077
B        -0.000018
C              NaN
medium         NaN
Name: EX_for_e, dtype: float64

EX_fum_b
 compartment
A         0.000253
B         0.000810
C         0.006937
medium         NaN
Name: EX_fum_b, dtype: float64

EX_fum_e
 compartment
A         0.000253
B         0.000810
C         0.006937
medium         NaN
Name: EX_fum_e, dtype: float64

EX_fum_m
 compartment
A              NaN
B              NaN
C              NaN
medium    0.003938
Name: EX_fum_m, dtype: float64

EX_gal_b
 compartment
A        -0.001039
B        -0.003332
C         0.000000
medium         NaN
Name: EX_gal_b, dtype: float64

EX_gal_e
 compartment
A        -0.001039
B        -0.003332
C         0.000000
medium         NaN
Name: EX_gal_e, dtype: float64

EX_gal_m
 compartment
A              NaN
B              NaN
C              NaN
medium   -0.001397
Name: EX_gal_m, dtype: float64

EX_gln_L_b
 compartment
A              NaN
B        -0.007331
C         0.005525
medium         NaN
Name: EX_gln_L_b, dtype: float64

EX_gln_L_e
 compartment
A              NaN
B        -0.007331
C         0.005525
medium         NaN
Name: EX_gln_L_e, dtype: float64

EX_glu_L_b
 compartment
A         0.191935
B        -0.001289
C        -0.296095
medium         NaN
Name: EX_glu_L_b, dtype: float64

EX_glu_L_e
 compartment
A         0.191935
B        -0.001289
C        -0.296095
medium         NaN
Name: EX_glu_L_e, dtype: float64

EX_glu_L_m
 compartment
A            NaN
B            NaN
C            NaN
medium   -0.1368
Name: EX_glu_L_m, dtype: float64

EX_gly_b
 compartment
A        -0.091740
B        -0.006367
C        -0.020061
medium         NaN
Name: EX_gly_b, dtype: float64

EX_gly_e
 compartment
A        -0.091740
B        -0.006367
C        -0.020061
medium         NaN
Name: EX_gly_e, dtype: float64

EX_gly_m
 compartment
A              NaN
B              NaN
C              NaN
medium   -0.021174
Name: EX_gly_m, dtype: float64

EX_glyc3p_b
 compartment
A        -0.046900
B        -0.012459
C         0.017546
medium         NaN
Name: EX_glyc3p_b, dtype: float64

EX_glyc3p_e
 compartment
A        -0.046900
B        -0.012459
C         0.017546
medium         NaN
Name: EX_glyc3p_e, dtype: float64

EX_h2o_b
 compartment
A        -0.386813
B         0.089265
C              NaN
medium         NaN
Name: EX_h2o_b, dtype: float64

EX_h2o_e
 compartment
A        -0.386813
B         0.089265
C              NaN
medium         NaN
Name: EX_h2o_e, dtype: float64

EX_h_b
 compartment
A         0.099740
B         0.711705
C        -0.553703
medium         NaN
Name: EX_h_b, dtype: float64

EX_h_e
 compartment
A         0.099740
B         0.711705
C        -0.553703
medium         NaN

Name: EX_h_e, dtype: float64

EX_hco3_b
 compartment
A        -0.690720
B         0.222309
C         0.354664
medium         NaN
Name: EX_hco3_b, dtype: float64

EX_hco3_e
 compartment
A        -0.690720
B         0.222309
C         0.354664
medium         NaN
Name: EX_hco3_e, dtype: float64

EX_hco3_m
 compartment
A              NaN
B              NaN
C              NaN
medium    0.208596
Name: EX_hco3_m, dtype: float64

EX_his_L_b
 compartment
A        -0.090484
B        -0.001531
C        -0.038124
medium         NaN
Name: EX_his_L_b, dtype: float64

EX_his_L_e
 compartment
A        -0.090484
B        -0.001531
C        -0.038124
medium         NaN
Name: EX_his_L_e, dtype: float64

EX_his_L_m
 compartment
A              NaN
B              NaN
C              NaN
medium   -0.028541
Name: EX_his_L_m, dtype: float64

EX_ile_L_b
 compartment
A        -0.001542
B        -0.003464
C        -0.009280
medium         NaN
Name: EX_ile_L_b, dtype: float64

EX_ile_L_e
 compartment
A        -0.001542
B        -0.003464
C        -0.009280
medium         NaN
Name: EX_ile_L_e, dtype: float64

EX_ile_L_m
 compartment
A              NaN
B              NaN
C              NaN
medium   -0.006308
Name: EX_ile_L_m, dtype: float64

EX_inost_b
 compartment
A        -0.000088
B        -0.217727
C        -0.049857
medium         NaN
Name: EX_inost_b, dtype: float64

EX_inost_e
 compartment
A        -0.000088
B        -0.217727
C        -0.049857
medium         NaN
Name: EX_inost_e, dtype: float64

EX_inost_m
 compartment
A           NaN
B           NaN
C           NaN
medium   -0.111
Name: EX_inost_m, dtype: float64

EX_leu_L_b
 compartment
A        -0.002060
B        -0.006606
C        -0.074639
medium         NaN
Name: EX_leu_L_b, dtype: float64

EX_leu_L_e
 compartment
A        -0.002060
B        -0.006606
C        -0.074639
medium         NaN
Name: EX_leu_L_e, dtype: float64

EX_leu_L_m
 compartment
A              NaN
B              NaN
C              NaN
medium   -0.041491
Name: EX_leu_L_m, dtype: float64

EX_lys_L_b
 compartment
A        -0.002236
B        -0.007170
C        -0.019208
medium         NaN
Name: EX_lys_L_b, dtype: float64

EX_lys_L_e
 compartment
A        -0.002236
B        -0.007170
C        -0.019208
medium         NaN
Name: EX_lys_L_e, dtype: float64

EX_lys_L_m
 compartment
A             NaN
B             NaN
C             NaN
medium   -0.01297
Name: EX_lys_L_m, dtype: float64

EX_met_L_b
 compartment
A        -0.000578
B        -0.001853
C        -0.004964
medium         NaN
Name: EX_met_L_b, dtype: float64

EX_met_L_e
 compartment
A        -0.000578
B        -0.001853
C        -0.004964
medium         NaN
Name: EX_met_L_e, dtype: float64

EX_met_L_m
 compartment
A              NaN
B              NaN
C              NaN
medium   -0.003352
Name: EX_met_L_m, dtype: float64

EX_mthgxl_b
 compartment
A              NaN
B         0.281822
C         0.475065
medium         NaN
Name: EX_mthgxl_b, dtype: float64

EX_mthgxl_e
 compartment
A              NaN
B         0.281822
C         0.475065
medium         NaN
Name: EX_mthgxl_e, dtype: float64

EX_mthgxl_m
 compartment
A              NaN
B              NaN
C              NaN
medium    0.356648
Name: EX_mthgxl_m, dtype: float64

EX_nh4_b
 compartment
A         0.131739
B         0.126430
C         0.551025
medium         NaN
Name: EX_nh4_b, dtype: float64

EX_nh4_e
 compartment
A         0.131739
B         0.126430
C         0.551025
medium         NaN
Name: EX_nh4_e, dtype: float64

EX_nh4_m
 compartment
A              NaN
B              NaN
C              NaN
medium    0.347188
Name: EX_nh4_m, dtype: float64

EX_o2_b
 compartment
A        -0.001376
B        -0.220425
C        -0.219150
medium         NaN
Name: EX_o2_b, dtype: float64

EX_o2_e
 compartment
A        -0.001376
B        -0.220425
C        -0.219150
medium         NaN
Name: EX_o2_e, dtype: float64

EX_o2_m
 compartment
A         NaN
B         NaN
C         NaN
medium   -0.2
Name: EX_o2_m, dtype: float64

EX_orot_b
 compartment
A         0.000000
B        -0.001088
C         0.000820
medium         NaN
Name: EX_orot_b, dtype: float64

EX_orot_e
 compartment
A         0.000000
B        -0.001088
C         0.000820
medium         NaN
Name: EX_orot_e, dtype: float64

EX_pglyc_hs_b
 compartment
A        -0.000055
B        -0.000176
C         0.000143
medium         NaN
Name: EX_pglyc_hs_b, dtype: float64

EX_pglyc_hs_e
 compartment
A        -0.000055
B        -0.000176
C         0.000143
medium         NaN
Name: EX_pglyc_hs_e, dtype: float64

EX_phe_L_b
 compartment
A        -0.000980
B        -0.003142
C        -0.008417
medium         NaN
Name: EX_phe_L_b, dtype: float64

EX_phe_L_e
 compartment
A        -0.000980
B        -0.003142
C        -0.008417
medium         NaN
Name: EX_phe_L_e, dtype: float64

EX_phe_L_m
 compartment
A              NaN
B              NaN
C              NaN
medium   -0.005684
Name: EX_phe_L_m, dtype: float64

EX_pi_b
 compartment
A         0.043996
B        -0.000120
C        -0.059986
medium         NaN
Name: EX_pi_b, dtype: float64

EX_pi_e
 compartment
A         0.043996
B        -0.000120
C        -0.059986
medium         NaN
Name: EX_pi_e, dtype: float64

EX_pi_m
 compartment
A              NaN
B              NaN
C              NaN
medium   -0.027198
Name: EX_pi_m, dtype: float64

EX_ppa_b
 compartment
A        -0.000462
B         0.000107
C         0.000000
medium         NaN
Name: EX_ppa_b, dtype: float64

EX_ppa_e
 compartment
A        -0.000462
B         0.000107
C         0.000000
medium         NaN
Name: EX_ppa_e, dtype: float64

EX_pro_L_b
 compartment
A        -0.453775
B         0.122473
C        -0.013381
medium         NaN
Name: EX_pro_L_b, dtype: float64

EX_pro_L_e
 compartment
A        -0.453775
B         0.122473
C        -0.013381
medium         NaN
Name: EX_pro_L_e, dtype: float64

EX_pyr_b
 compartment
A        -0.347139
B         0.088057
C        -0.356416
medium         NaN
Name: EX_pyr_b, dtype: float64

EX_pyr_e
 compartment
A        -0.347139
B         0.088057
C        -0.356416
medium         NaN
Name: EX_pyr_e, dtype: float64

EX_pyr_m
 compartment
A            NaN
B            NaN
C            NaN
medium   -0.1818
Name: EX_pyr_m, dtype: float64

EX_ser_L_b
 compartment
A         0.000000
B        -0.005865
C        -0.157723
medium         NaN
Name: EX_ser_L_b, dtype: float64

EX_ser_L_e
 compartment
A         0.000000
B        -0.005865
C        -0.157723
medium         NaN
Name: EX_ser_L_e, dtype: float64

EX_ser_L_m
 compartment
A              NaN
B              NaN
C              NaN
medium   -0.084119
Name: EX_ser_L_m, dtype: float64

EX_sfcys_e
 compartment
A         0.000000
B        -0.146046
C         0.110063
medium         NaN
Name: EX_sfcys_e, dtype: float64

EX_slfcys_b
 compartment
A         0.000000
B        -0.146046
C         0.110063
medium         NaN
Name: EX_slfcys_b, dtype: float64

EX_so4_b
 compartment
A         0.000000
B         0.146046
C        -0.110063
medium         NaN
Name: EX_so4_b, dtype: float64

EX_so4_e
 compartment
A         0.000000
B         0.146046
C        -0.110063
medium         NaN
Name: EX_so4_e, dtype: float64

EX_succ_b
 compartment
A              NaN
B         0.000000
C         0.361953
medium         NaN
Name: EX_succ_b, dtype: float64

EX_succ_e
 compartment
A              NaN
B         0.000000
C         0.361953
medium         NaN
Name: EX_succ_e, dtype: float64

EX_succ_m
 compartment
A             NaN
B             NaN
C             NaN
medium    0.18778
Name: EX_succ_m, dtype: float64

EX_thf_b
 compartment
A         0.386813
B              NaN
C              NaN
medium         NaN
Name: EX_thf_b, dtype: float64

EX_thf_e
 compartment
A         0.386813
B              NaN
C              NaN
medium         NaN
Name: EX_thf_e, dtype: float64

EX_thf_m
 compartment
A            NaN
B            NaN
C            NaN
medium    0.0349
Name: EX_thf_m, dtype: float64

EX_thr_L_b
 compartment
A        -0.001181
B        -0.003893
C        -0.010144
medium         NaN
Name: EX_thr_L_b, dtype: float64

EX_thr_L_e
 compartment
A        -0.001181
B        -0.003893
C        -0.010144
medium         NaN

Name: EX_thr_L_e, dtype: float64

EX_thr_L_m
 compartment
A              NaN
B              NaN
C              NaN
medium   -0.006891
Name: EX_thr_L_m, dtype: float64

EX_trp_L_b
 compartment
A        -0.000050
B        -0.000706
C        -0.000432
medium         NaN
Name: EX_trp_L_b, dtype: float64

EX_trp_L_e
 compartment
A        -0.000050
B        -0.000706
C        -0.000432
medium         NaN
Name: EX_trp_L_e, dtype: float64

EX_trp_L_m
 compartment
A              NaN
B              NaN
C              NaN
medium   -0.000505
Name: EX_trp_L_m, dtype: float64

EX_tyr_L_b
 compartment
A         0.000000
B        -0.002073
C        -0.005180
medium         NaN
Name: EX_tyr_L_b, dtype: float64

EX_tyr_L_e
 compartment
A         0.000000
B        -0.002073
C        -0.005180
medium         NaN
Name: EX_tyr_L_e, dtype: float64

EX_tyr_L_m
 compartment
A              NaN
B              NaN
C              NaN
medium   -0.003498
Name: EX_tyr_L_m, dtype: float64

EX_urea_b
 compartment
A         0.000000
B         0.127467
C              NaN
medium         NaN
Name: EX_urea_b, dtype: float64

EX_urea_e
 compartment
A         0.000000
B         0.127467
C              NaN
medium         NaN
Name: EX_urea_e, dtype: float64

EX_urea_m
 compartment
A              NaN
B              NaN
C              NaN
medium    0.049837
Name: EX_urea_m, dtype: float64

EX_utp_b
 compartment
A        -0.000434
B        -0.000304
C         0.000305
medium         NaN
Name: EX_utp_b, dtype: float64

EX_utp_e
 compartment
A        -0.000434
B        -0.000304
C         0.000305
medium         NaN
Name: EX_utp_e, dtype: float64

EX_val_L_b
 compartment
A        -0.001331
B        -0.004270
C        -0.011439
medium         NaN
Name: EX_val_L_b, dtype: float64

EX_val_L_e
 compartment
A        -0.001331
B        -0.004270
C        -0.011439
medium         NaN
Name: EX_val_L_e, dtype: float64

EX_val_L_m
 compartment
A              NaN
B              NaN
C              NaN
medium   -0.007724
Name: EX_val_L_m, dtype: float64

EX_xmp_b
 compartment
A        -0.000174
B        -0.000557
C         0.000450
medium         NaN
Name: EX_xmp_b, dtype: float64

EX_xmp_e
 compartment
A        -0.000174
B        -0.000557
C         0.000450
medium         NaN
Name: EX_xmp_e, dtype: float64

In [63]:
#Get all exchange fluxes of day 19 from the above subset of reactions
for f in flux_2:
    if 'EX' in f[0]:
        print(f[0],'\n',f[1],end='\n\n')

EX_34hpp_
 compartment
A        -0.001230
B         0.002577
C              NaN
medium         NaN
Name: EX_34hpp_, dtype: float64

EX_34hpp_b
 compartment
A        -0.001230
B         0.002577
C              NaN
medium         NaN
Name: EX_34hpp_b, dtype: float64

EX_HC00250_b
 compartment
A         0.00827
B             NaN
C             NaN
medium        NaN
Name: EX_HC00250_b, dtype: float64

EX_HC00250_e
 compartment
A         0.00827
B             NaN
C             NaN
medium        NaN
Name: EX_HC00250_e, dtype: float64

EX_HC00250_m
 compartment
A              NaN
B              NaN
C              NaN
medium    0.004746
Name: EX_HC00250_m, dtype: float64

EX_Lcystin_b
 compartment
A         0.000000
B         0.000000
C         0.523854
medium         NaN
Name: EX_Lcystin_b, dtype: float64

EX_Lcystin_m
 compartment
A              NaN
B              NaN
C              NaN
medium    0.079717
Name: EX_Lcystin_m, dtype: float64

EX_Rtotal_b
 compartment
A        -0.004130
B              NaN
C         0.015576
medium         NaN
Name: EX_Rtotal_b, dtype: float64

EX_Rtotal_e
 compartment
A        -0.004130
B              NaN
C         0.015576
medium         NaN
Name: EX_Rtotal_e, dtype: float64

EX_acac_b
 compartment
A         0.000000
B        -0.015451
C         0.109058
medium         NaN
Name: EX_acac_b, dtype: float64

EX_acac_e
 compartment
A         0.000000
B        -0.015451
C         0.109058
medium         NaN
Name: EX_acac_e, dtype: float64

EX_acac_m
 compartment
A              NaN
B              NaN
C              NaN
medium    0.012363
Name: EX_acac_m, dtype: float64

EX_acetone_b
 compartment
A         0.000000
B         0.000431
C         0.000000
medium         NaN
Name: EX_acetone_b, dtype: float64

EX_acetone_e
 compartment
A         0.000000
B         0.000431
C         0.000000
medium         NaN
Name: EX_acetone_e, dtype: float64

EX_acetone_m
 compartment
A              NaN
B              NaN
C              NaN
medium    0.000118
Name: EX_acetone_m, dtype: float64

EX_aicar_b
 compartment
A        -0.000515
B        -0.000431
C         0.002719
medium         NaN
Name: EX_aicar_b, dtype: float64

EX_aicar_e
 compartment
A        -0.000515
B        -0.000431
C         0.002719
medium         NaN
Name: EX_aicar_e, dtype: float64

EX_akg_b
 compartment
A         0.140272
B              NaN
C        -0.529027
medium         NaN
Name: EX_akg_b, dtype: float64

EX_akg_e
 compartment
A         0.140272
B              NaN
C        -0.529027
medium         NaN
Name: EX_akg_e, dtype: float64

EX_ala_L_b
 compartment
A         0.920135
B        -0.000685
C        -0.285070
medium         NaN
Name: EX_ala_L_b, dtype: float64

EX_ala_L_e
 compartment
A         0.920135
B        -0.000685
C        -0.285070
medium         NaN
Name: EX_ala_L_e, dtype: float64

EX_ala_L_m
 compartment
A             NaN
B             NaN
C             NaN
medium    0.48451
Name: EX_ala_L_m, dtype: float64

EX_arg_L_b
 compartment
A        -0.089503
B        -0.002712
C        -0.037108
medium         NaN
Name: EX_arg_L_b, dtype: float64

EX_arg_L_e
 compartment
A        -0.089503
B        -0.002712
C        -0.037108
medium         NaN
Name: EX_arg_L_e, dtype: float64

EX_arg_L_m
 compartment
A              NaN
B              NaN
C              NaN
medium   -0.057757
Name: EX_arg_L_m, dtype: float64

EX_asp_L_b
 compartment
A        -0.005383
B        -0.004508
C        -0.104998
medium         NaN
Name: EX_asp_L_b, dtype: float64

EX_asp_L_e
 compartment
A        -0.005383
B        -0.004508
C        -0.104998
medium         NaN
Name: EX_asp_L_e, dtype: float64

EX_asp_L_m
 compartment
A              NaN
B              NaN
C              NaN
medium   -0.020302
Name: EX_asp_L_m, dtype: float64

EX_biomass_c
 compartment
A         0.007702
B         0.006450
C         0.103291
medium         NaN
Name: EX_biomass_c, dtype: float64

EX_chol_b
 compartment
A        -0.001272
B        -0.001109
C        -0.017760
medium         NaN
Name: EX_chol_b, dtype: float64

EX_chol_e
 compartment
A        -0.001272
B        -0.001109
C        -0.017760
medium         NaN
Name: EX_chol_e, dtype: float64

EX_chol_m
 compartment
A              NaN
B              NaN
C              NaN
medium   -0.003736
Name: EX_chol_m, dtype: float64

EX_co2_b
 compartment
A         0.868195
B         0.000000
C        -0.429239
medium         NaN
Name: EX_co2_b, dtype: float64

EX_co2_e
 compartment
A         0.868195
B         0.000000
C        -0.429239
medium         NaN
Name: EX_co2_e, dtype: float64

EX_co2_m
 compartment
A             NaN
B             NaN
C             NaN
medium    0.43295
Name: EX_co2_m, dtype: float64

EX_cys_L_b
 compartment
A         0.323439
B         0.000000
C        -2.305427
medium         NaN
Name: EX_cys_L_b, dtype: float64

EX_cys_L_e
 compartment
A         0.323439
B         0.000000
C        -2.305427
medium         NaN
Name: EX_cys_L_e, dtype: float64

EX_cys_L_m
 compartment
A            NaN
B            NaN
C            NaN
medium   -0.1652
Name: EX_cys_L_m, dtype: float64

EX_for_b
 compartment
A         0.000157
B        -0.000300
C              NaN
medium         NaN
Name: EX_for_b, dtype: float64

EX_for_e
 compartment
A         0.000157
B        -0.000300
C              NaN
medium         NaN
Name: EX_for_e, dtype: float64

EX_for_m
 compartment
A              NaN
B              NaN
C              NaN
medium    0.000008
Name: EX_for_m, dtype: float64

EX_fum_b
 compartment
A         0.000515
B         0.000431
C         0.023160
medium         NaN
Name: EX_fum_b, dtype: float64

EX_fum_e
 compartment
A         0.000515
B         0.000431
C         0.023160
medium         NaN
Name: EX_fum_e, dtype: float64

EX_fum_m
 compartment
A              NaN
B              NaN
C              NaN
medium    0.003938
Name: EX_fum_m, dtype: float64

EX_gal_b
 compartment
A        -0.002119
B        -0.001775
C         0.000000
medium         NaN
Name: EX_gal_b, dtype: float64

EX_gal_e
 compartment
A        -0.002119
B        -0.001775
C         0.000000
medium         NaN
Name: EX_gal_e, dtype: float64

EX_gal_m
 compartment
A              NaN
B              NaN
C              NaN
medium   -0.001703
Name: EX_gal_m, dtype: float64

EX_gln_L_b
 compartment
A              NaN
B        -0.003905
C         0.007029
medium         NaN
Name: EX_gln_L_b, dtype: float64

EX_gln_L_e
 compartment
A              NaN
B        -0.003905
C         0.007029
medium         NaN
Name: EX_gln_L_e, dtype: float64

EX_glu_L_b
 compartment
A         0.413226
B        -0.000687
C        -2.456186
medium         NaN
Name: EX_glu_L_b, dtype: float64

EX_glu_L_e
 compartment
A         0.413226
B        -0.000687
C        -2.456186
medium         NaN
Name: EX_glu_L_e, dtype: float64

EX_glu_L_m
 compartment
A            NaN
B            NaN
C            NaN
medium   -0.1368
Name: EX_glu_L_m, dtype: float64

EX_gly_b
 compartment
A        -0.173271
B        -0.003391
C         0.192065
medium         NaN
Name: EX_gly_b, dtype: float64

EX_gly_e
 compartment
A        -0.173271
B        -0.003391
C         0.192065
medium         NaN
Name: EX_gly_e, dtype: float64

EX_gly_m
 compartment
A              NaN
B              NaN
C              NaN
medium   -0.071144
Name: EX_gly_m, dtype: float64

EX_glyc3p_b
 compartment
A        -0.048447
B        -0.011137
C         0.202760
medium         NaN
Name: EX_glyc3p_b, dtype: float64

EX_glyc3p_e
 compartment
A        -0.048447
B        -0.011137
C         0.202760
medium         NaN
Name: EX_glyc3p_e, dtype: float64

EX_h2o2_b
 compartment
A         0.013849
B         0.000000
C        -0.052230
medium         NaN
Name: EX_h2o2_b, dtype: float64

EX_h2o2_e
 compartment
A         0.013849
B         0.000000
C        -0.052230
medium         NaN
Name: EX_h2o2_e, dtype: float64

EX_h2o_b
 compartment
A        -0.094531
B         0.198065
C              NaN
medium         NaN
Name: EX_h2o_b, dtype: float64

EX_h2o_e
 compartment
A        -0.094531
B         0.198065
C              NaN
medium         NaN
Name: EX_h2o_e, dtype: float64

EX_h_b
 compartment
A         0.548715
B         0.138208
C        -2.318213
medium         NaN

Name: EX_h_b, dtype: float64

EX_h_e
 compartment
A         0.548715
B         0.138208
C        -2.318213
medium         NaN
Name: EX_h_e, dtype: float64

EX_hco3_b
 compartment
A        -0.806997
B         0.120429
C         2.826757
medium         NaN
Name: EX_hco3_b, dtype: float64

EX_hco3_e
 compartment
A        -0.806997
B         0.120429
C         2.826757
medium         NaN
Name: EX_hco3_e, dtype: float64

EX_his_L_b
 compartment
A        -0.170710
B        -0.000815
C        -0.013057
medium         NaN
Name: EX_his_L_b, dtype: float64

EX_his_L_e
 compartment
A        -0.170710
B        -0.000815
C        -0.013057
medium         NaN
Name: EX_his_L_e, dtype: float64

EX_his_L_m
 compartment
A              NaN
B              NaN
C              NaN
medium   -0.100183
Name: EX_his_L_m, dtype: float64

EX_ile_L_b
 compartment
A        -0.003146
B        -0.001845
C        -0.029549
medium         NaN
Name: EX_ile_L_b, dtype: float64

EX_ile_L_e
 compartment
A        -0.003146
B        -0.001845
C        -0.029549
medium         NaN
Name: EX_ile_L_e, dtype: float64

EX_ile_L_m
 compartment
A              NaN
B              NaN
C              NaN
medium   -0.006808
Name: EX_ile_L_m, dtype: float64

EX_inost_b
 compartment
A        -0.056837
B        -0.115602
C        -0.306990
medium         NaN
Name: EX_inost_b, dtype: float64

EX_inost_e
 compartment
A        -0.056837
B        -0.115602
C        -0.306990
medium         NaN
Name: EX_inost_e, dtype: float64

EX_inost_m
 compartment
A           NaN
B           NaN
C           NaN
medium   -0.111
Name: EX_inost_m, dtype: float64

EX_leu_L_b
 compartment
A        -0.004202
B        -0.003519
C        -0.215630
medium         NaN
Name: EX_leu_L_b, dtype: float64

EX_leu_L_e
 compartment
A        -0.004202
B        -0.003519
C        -0.215630
medium         NaN
Name: EX_leu_L_e, dtype: float64

EX_leu_L_m
 compartment
A              NaN
B              NaN
C              NaN
medium   -0.036188
Name: EX_leu_L_m, dtype: float64

EX_lys_L_b
 compartment
A        -0.004560
B        -0.003819
C        -0.061159
medium         NaN
Name: EX_lys_L_b, dtype: float64

EX_lys_L_e
 compartment
A        -0.004560
B        -0.003819
C        -0.061159
medium         NaN
Name: EX_lys_L_e, dtype: float64

EX_lys_L_m
 compartment
A             NaN
B             NaN
C             NaN
medium   -0.01297
Name: EX_lys_L_m, dtype: float64

EX_met_L_b
 compartment
A        -0.001178
B        -0.000987
C        -0.015806
medium         NaN
Name: EX_met_L_b, dtype: float64

EX_met_L_e
 compartment
A        -0.001178
B        -0.000987
C        -0.015806
medium         NaN
Name: EX_met_L_e, dtype: float64

EX_met_L_m
 compartment
A              NaN
B              NaN
C              NaN
medium   -0.003352
Name: EX_met_L_m, dtype: float64

EX_mthgxl_b
 compartment
A              NaN
B         0.156938
C         0.000000
medium         NaN
Name: EX_mthgxl_b, dtype: float64

EX_mthgxl_e
 compartment
A              NaN
B         0.156938
C         0.000000
medium         NaN
Name: EX_mthgxl_e, dtype: float64

EX_mthgxl_m
 compartment
A              NaN
B              NaN
C              NaN
medium    0.042987
Name: EX_mthgxl_m, dtype: float64

EX_nh4_b
 compartment
A         0.119589
B         0.000750
C         1.208794
medium         NaN
Name: EX_nh4_b, dtype: float64

EX_nh4_e
 compartment
A         0.119589
B         0.000750
C         1.208794
medium         NaN
Name: EX_nh4_e, dtype: float64

EX_nh4_m
 compartment
A              NaN
B              NaN
C              NaN
medium    0.252786
Name: EX_nh4_m, dtype: float64

EX_o2_b
 compartment
A        -0.073312
B        -0.116748
C        -0.827649
medium         NaN
Name: EX_o2_b, dtype: float64

EX_o2_e
 compartment
A        -0.073312
B        -0.116748
C        -0.827649
medium         NaN
Name: EX_o2_e, dtype: float64

EX_o2_m
 compartment
A         NaN
B         NaN
C         NaN
medium   -0.2
Name: EX_o2_m, dtype: float64

EX_orot_b
 compartment
A         0.000000
B        -0.002059
C         0.003705
medium         NaN
Name: EX_orot_b, dtype: float64

EX_orot_e
 compartment
A         0.000000
B        -0.002059
C         0.003705
medium         NaN
Name: EX_orot_e, dtype: float64

EX_pglyc_hs_b
 compartment
A        -0.000112
B        -0.000094
C         0.000592
medium         NaN
Name: EX_pglyc_hs_b, dtype: float64

EX_pglyc_hs_e
 compartment
A        -0.000112
B        -0.000094
C         0.000592
medium         NaN
Name: EX_pglyc_hs_e, dtype: float64

EX_phe_L_b
 compartment
A        -0.001998
B        -0.001674
C        -0.026801
medium         NaN
Name: EX_phe_L_b, dtype: float64

EX_phe_L_e
 compartment
A        -0.001998
B        -0.001674
C        -0.026801
medium         NaN
Name: EX_phe_L_e, dtype: float64

EX_phe_L_m
 compartment
A              NaN
B              NaN
C              NaN
medium   -0.005684
Name: EX_phe_L_m, dtype: float64

EX_pi_b
 compartment
A         0.042523
B         0.000000
C        -0.339102
medium         NaN
Name: EX_pi_b, dtype: float64

EX_pi_e
 compartment
A         0.042523
B         0.000000
C        -0.339102
medium         NaN
Name: EX_pi_e, dtype: float64

EX_pi_m
 compartment
A              NaN
B              NaN
C              NaN
medium   -0.027198
Name: EX_pi_m, dtype: float64

EX_ppa_b
 compartment
A        -0.000943
B         0.000965
C         0.001818
medium         NaN
Name: EX_ppa_b, dtype: float64

EX_ppa_e
 compartment
A        -0.000943
B         0.000965
C         0.001818
medium         NaN
Name: EX_ppa_e, dtype: float64

EX_pro_L_b
 compartment
A        -0.305684
B        -0.002266
C         1.156946
medium         NaN
Name: EX_pro_L_b, dtype: float64

EX_pro_L_e
 compartment
A        -0.305684
B        -0.002266
C         1.156946
medium         NaN
Name: EX_pro_L_e, dtype: float64

EX_pyr_b
 compartment
A        -0.300270
B         0.038993
C        -0.132426
medium         NaN
Name: EX_pyr_b, dtype: float64

EX_pyr_e
 compartment
A        -0.300270
B         0.038993
C        -0.132426
medium         NaN
Name: EX_pyr_e, dtype: float64

EX_pyr_m
 compartment
A            NaN
B            NaN
C            NaN
medium   -0.1818
Name: EX_pyr_m, dtype: float64

EX_ser_L_b
 compartment
A        -0.309105
B        -0.003124
C        -0.079808
medium         NaN
Name: EX_ser_L_b, dtype: float64

EX_ser_L_e
 compartment
A        -0.309105
B        -0.003124
C        -0.079808
medium         NaN
Name: EX_ser_L_e, dtype: float64

EX_ser_L_m
 compartment
A            NaN
B            NaN
C            NaN
medium   -0.1904
Name: EX_ser_L_m, dtype: float64

EX_sfcys_e
 compartment
A        -0.332067
B        -0.000300
C         1.252908
medium         NaN
Name: EX_sfcys_e, dtype: float64

EX_slfcys_b
 compartment
A        -0.332067
B        -0.000300
C         1.252908
medium         NaN
Name: EX_slfcys_b, dtype: float64

EX_so4_b
 compartment
A         0.332067
B         0.000300
C        -1.252908
medium         NaN
Name: EX_so4_b, dtype: float64

EX_so4_e
 compartment
A         0.332067
B         0.000300
C        -1.252908
medium         NaN
Name: EX_so4_e, dtype: float64

EX_succ_b
 compartment
A              NaN
B         0.000000
C         1.705104
medium         NaN
Name: EX_succ_b, dtype: float64

EX_succ_e
 compartment
A              NaN
B         0.000000
C         1.705104
medium         NaN
Name: EX_succ_e, dtype: float64

EX_succ_m
 compartment
A              NaN
B              NaN
C              NaN
medium    0.259472
Name: EX_succ_m, dtype: float64

EX_thr_L_b
 compartment
A        -0.002408
B        -0.002982
C        -0.034116
medium         NaN
Name: EX_thr_L_b, dtype: float64

EX_thr_L_e
 compartment
A        -0.002408
B        -0.002982
C        -0.034116
medium         NaN
Name: EX_thr_L_e, dtype: float64

EX_thr_L_m
 compartment
A             NaN
B             NaN
C             NaN
medium   -0.00739
Name: EX_thr_L_m, dtype: float64

EX_trp_L_b
 compartment
A        -0.000102
B        -0.000086
C        -0.001374
medium         NaN
Name: EX_trp_L_b, dtype: float64

EX_trp_L_e
 compartment
A        -0.000102
B        -0.000086
C        -0.001374
medium         NaN

Name: EX_trp_L_e, dtype: float64

EX_trp_L_m
 compartment
A              NaN
B              NaN
C              NaN
medium   -0.000291
Name: EX_trp_L_m, dtype: float64

EX_tyr_L_b
 compartment
A         0.000000
B        -0.003606
C        -0.016492
medium         NaN
Name: EX_tyr_L_b, dtype: float64

EX_tyr_L_e
 compartment
A         0.000000
B        -0.003606
C        -0.016492
medium         NaN
Name: EX_tyr_L_e, dtype: float64

EX_tyr_L_m
 compartment
A              NaN
B              NaN
C              NaN
medium   -0.003498
Name: EX_tyr_L_m, dtype: float64

EX_urea_b
 compartment
A         0.086737
B         0.000394
C              NaN
medium         NaN
Name: EX_urea_b, dtype: float64

EX_urea_e
 compartment
A         0.086737
B         0.000394
C              NaN
medium         NaN
Name: EX_urea_e, dtype: float64

EX_urea_m
 compartment
A              NaN
B              NaN
C              NaN
medium    0.049887
Name: EX_urea_m, dtype: float64

EX_utp_b
 compartment
A        -0.000886
B         0.001317
C         0.000971
medium         NaN
Name: EX_utp_b, dtype: float64

EX_utp_e
 compartment
A        -0.000886
B         0.001317
C         0.000971
medium         NaN
Name: EX_utp_e, dtype: float64

EX_val_L_b
 compartment
A        -0.002716
B        -0.002274
C        -0.036421
medium         NaN
Name: EX_val_L_b, dtype: float64

EX_val_L_e
 compartment
A        -0.002716
B        -0.002274
C        -0.036421
medium         NaN
Name: EX_val_L_e, dtype: float64

EX_val_L_m
 compartment
A              NaN
B              NaN
C              NaN
medium   -0.007724
Name: EX_val_L_m, dtype: float64

EX_xmp_b
 compartment
A        -0.000354
B        -0.000297
C         0.001871
medium         NaN
Name: EX_xmp_b, dtype: float64

EX_xmp_e
 compartment
A        -0.000354
B        -0.000297
C         0.001871
medium         NaN
Name: EX_xmp_e, dtype: float64

In [ ]:
#Track down most important metabolites and see with reactions are involved and their fluxes

In [164]:
#day 6
track_sol1={}
metabolites=['pyr_','lac_','o2_','glu_','gln_','co2_','glc_','gal_', 'g1p','g6p']

for c in metabolites:
    react_metab=[]
    rm_flux=[]
    for r in com.reactions:
        if c in r.reaction:
            react_metab.append((r.id,r.reaction))

    for r in react_metab:
        #print(r)
        if '_m' not in r[0]:
            rm_flux.append((r,sol1.fluxes[r[0][:-3]]))
            #print(sol1.fluxes[r[0][:-3]],end='\n\n')
        else:
            rm_flux.append((r,sol1.fluxes[r[0]]))
            #print(sol1.fluxes[r[0]],end='\n\n')
    track_sol1[c]=rm_flux

In [165]:
#look at only the specified metabolite (ej. pyr_). The name must be equal to the one on the list above
for t in track_sol1['pyr_']:
    print(t[0])
    print(t[1],end='\n\n')

('EX_pyr_b__A', 'pyr_b__A <=> 0.09022556269772179 pyr_m')
compartment
A        -0.347139
B         0.088057
C        -0.356416
medium         NaN
Name: EX_pyr_b, dtype: float64

('2AMACHYD__A', '2amac_c__A + h2o_c__A --> nh4_c__A + pyr_c__A')
compartment
A         0.087900
B         0.000000
C         0.167156
medium         NaN
Name: 2AMACHYD, dtype: float64

('AGTim__A', 'ala_L_m__A + glx_m__A --> gly_m__A + pyr_m__A')
compartment
A         0.000000
B              NaN
C         0.026907
medium         NaN
Name: AGTim, dtype: float64

('AGTix__A', 'ala_L_x__A + glx_x__A --> gly_x__A + pyr_x__A')
compartment
A         0.0
B         0.0
C         0.0
medium    NaN
Name: AGTix, dtype: float64

('ALATA_L__A', 'akg_c__A + ala_L_c__A <=> glu_L_c__A + pyr_c__A')
compartment
A        -0.480993
B        -0.000949
C              NaN
medium         NaN
Name: ALATA_L, dtype: float64

('D3AIBTm__A', '3aib_D_m__A + pyr_m__A <=> 2mop_m__A + ala_L_m__A')
compartment
A         0.0
B         NaN
C         NaN
medium    NaN
Name: D3AIBTm, dtype: float64

('DALAOXx__A', 'ala_D_x__A + h2o_x__A + o2_x__A --> h2o2_x__A + nh4_x__A + pyr_x__A')
compartment
A         0.0
B         0.0
C         NaN
medium    NaN
Name: DALAOXx, dtype: float64

('HPYRDC__A', 'h_c__A + hpyr_c__A --> co2_c__A + gcald_c__A')
compartment
A         0.0
B         0.0
C         0.0
medium    NaN
Name: HPYRDC, dtype: float64

('LDH_D__A', 'lac_D_c__A + nad_c__A <=> h_c__A + nadh_c__A + pyr_c__A')
compartment
A         0.0
B         NaN
C         NaN
medium    NaN
Name: LDH_D, dtype: float64

('PYK__A', 'adp_c__A + h_c__A + pep_c__A --> atp_c__A + pyr_c__A')
compartment
A         0.045255
B         0.188991
C              NaN
medium         NaN
Name: PYK, dtype: float64

('SPTix__A', 'pyr_x__A + ser_L_x__A --> ala_L_x__A + hpyr_x__A')
compartment
A         0.0
B         0.0
C         0.0
medium    NaN
Name: SPTix, dtype: float64

('r0055__A', 'h2o_c__A + mthgxl_c__A + nadp_c__A <=> 2.0 h_c__A + nadph_c__A + pyr_c__A')
compartment
A         0.000000
B        -0.281822
C        -0.475065
medium         NaN
Name: r0055, dtype: float64

('r0081__A', 'akg_m__A + ala_L_m__A <=> glu_L_m__A + pyr_m__A')
compartment
A         0.00000
B         0.00081
C             NaN
medium        NaN
Name: r0081, dtype: float64

('r0153__A', 'cdp_c__A + h_c__A + pep_c__A --> ctp_c__A + pyr_c__A')
compartment
A         0.000649
B         0.000000
C              NaN
medium         NaN
Name: r0153, dtype: float64

('r0160__A', 'pyr_c__A + ser_L_c__A --> ala_L_c__A + hpyr_c__A')
compartment
A         0.0
B         0.0
C         NaN
medium    NaN
Name: r0160, dtype: float64

('r0173__A', 'lac_L_x__A + nad_x__A <=> h_x__A + nadh_x__A + pyr_x__A')
compartment
A         0.0
B         0.0
C         NaN
medium    NaN
Name: r0173, dtype: float64

('r0193__A', 'cys_L_c__A + h2o_c__A <=> HC00250_c__A + h_c__A + nh4_c__A + pyr_c__A')
compartment
A         0.0
B         NaN
C         NaN
medium    NaN
Name: r0193, dtype: float64

('r0413__A', 'dgdp_c__A + h_c__A + pep_c__A --> dgtp_c__A + pyr_c__A')
compartment
A         0.000000
B         0.035701
C              NaN
medium         NaN
Name: r0413, dtype: float64

('RE2954C__A', 'dtdp_c__A + h_c__A + pep_c__A <=> dttp_c__A + pyr_c__A')
compartment
A         0.000049
B         0.000159
C              NaN
medium         NaN
Name: RE2954C, dtype: float64

('HPYRtp__A', 'hpyr_c__A <=> hpyr_x__A')
compartment
A         0.0
B         0.0
C         0.0
medium    NaN
Name: HPYRtp, dtype: float64

('r1464__A', 'acac_c__A + pyr_m__A <=> acac_m__A + pyr_c__A')
compartment
A         0.000000
B         0.000810
C        -0.052971
medium         NaN
Name: r1464, dtype: float64

('r2093__A', 'akg_c__A + pyr_e__A <=> akg_e__A + pyr_c__A')
compartment
A         0.347139
B              NaN
C              NaN
medium         NaN
Name: r2093, dtype: float64

('r2099__A', 'pyr_e__A + retn_c__A <=> pyr_c__A + retn_e__A')
compartment
A         0.000000
B              NaN
C         0.043482
medium         NaN
Name: r2099, dtype: float64

('EX_pyr_e__A', 'pyr_e__A <=> pyr_b__A')
compartment
A        -0.347139
B         0.088057
C        -0.356416
medium         NaN
Name: EX_pyr_e, dtype: float64

('PYRSMCT1__A', 'na1_e__A + pyr_e__A <=> na1_c__A + pyr_c__A')
compartment
A         0.000000
B        -0.059032
C         0.312934
medium         NaN
Name: PYRSMCT1, dtype: float64

('EX_pyr_m', 'pyr_m <=> ')
compartment
A            NaN
B            NaN
C            NaN
medium   -0.1818
Name: EX_pyr_m, dtype: float64

('EX_pyr_b__B', 'pyr_b__B <=> 0.3909774316400026 pyr_m')
compartment
A        -0.347139
B         0.088057
C        -0.356416
medium         NaN
Name: EX_pyr_b, dtype: float64

('2AMACHYD__B', '2amac_c__B + h2o_c__B --> nh4_c__B + pyr_c__B')
compartment
A         0.087900
B         0.000000
C         0.167156
medium         NaN
Name: 2AMACHYD, dtype: float64

('AGTix__B', 'ala_L_x__B + glx_x__B --> gly_x__B + pyr_x__B')
compartment
A         0.0
B         0.0
C         0.0
medium    NaN
Name: AGTix, dtype: float64

('ALATA_L__B', 'akg_c__B + ala_L_c__B <=> glu_L_c__B + pyr_c__B')
compartment
A        -0.480993
B        -0.000949
C              NaN
medium         NaN
Name: ALATA_L, dtype: float64

('DALAOXx__B', 'ala_D_x__B + h2o_x__B + o2_x__B --> h2o2_x__B + nh4_x__B + pyr_x__B')
compartment
A         0.0
B         0.0
C         NaN
medium    NaN
Name: DALAOXx, dtype: float64

('HPYRDC__B', 'h_c__B + hpyr_c__B --> co2_c__B + gcald_c__B')
compartment
A         0.0
B         0.0
C         0.0
medium    NaN
Name: HPYRDC, dtype: float64

('LDH_L__B', 'lac_L_c__B + nad_c__B <=> h_c__B + nadh_c__B + pyr_c__B')
compartment
A         NaN
B         0.0
C         NaN
medium    NaN
Name: LDH_L, dtype: float64

('PYK__B', 'adp_c__B + h_c__B + pep_c__B --> atp_c__B + pyr_c__B')
compartment
A         0.045255
B         0.188991
C              NaN
medium         NaN
Name: PYK, dtype: float64

('SPTix__B', 'pyr_x__B + ser_L_x__B --> ala_L_x__B + hpyr_x__B')
compartment
A         0.0
B         0.0
C         0.0
medium    NaN
Name: SPTix, dtype: float64

('r0055__B', 'h2o_c__B + mthgxl_c__B + nadp_c__B <=> 2.0 h_c__B + nadph_c__B + pyr_c__B')
compartment
A         0.000000
B        -0.281822
C        -0.475065
medium         NaN
Name: r0055, dtype: float64

('r0081__B', 'akg_m__B + ala_L_m__B <=> glu_L_m__B + pyr_m__B')
compartment
A         0.00000
B         0.00081
C             NaN
medium        NaN
Name: r0081, dtype: float64

('r0153__B', 'cdp_c__B + h_c__B + pep_c__B --> ctp_c__B + pyr_c__B')
compartment
A         0.000649
B         0.000000
C              NaN
medium         NaN
Name: r0153, dtype: float64

('r0160__B', 'pyr_c__B + ser_L_c__B --> ala_L_c__B + hpyr_c__B')
compartment
A         0.0
B         0.0
C         NaN
medium    NaN
Name: r0160, dtype: float64

('r0165__B', 'h_c__B + pep_c__B + udp_c__B --> pyr_c__B + utp_c__B')
compartment
A              NaN
B         0.145168
C         0.003611
medium         NaN
Name: r0165, dtype: float64

('r0173__B', 'lac_L_x__B + nad_x__B <=> h_x__B + nadh_x__B + pyr_x__B')
compartment
A         0.0
B         0.0
C         NaN
medium    NaN
Name: r0173, dtype: float64

('r0413__B', 'dgdp_c__B + h_c__B + pep_c__B --> dgtp_c__B + pyr_c__B')
compartment
A         0.000000
B         0.035701
C              NaN
medium         NaN
Name: r0413, dtype: float64

('RE2954C__B', 'dtdp_c__B + h_c__B + pep_c__B <=> dttp_c__B + pyr_c__B')
compartment
A         0.000049
B         0.000159
C              NaN
medium         NaN
Name: RE2954C, dtype: float64

('OAADC__B', 'h_c__B + oaa_c__B --> co2_c__B + pyr_c__B')
compartment
A         NaN
B         0.0
C         NaN
medium    NaN
Name: OAADC, dtype: float64

('HPYRtp__B', 'hpyr_c__B <=> hpyr_x__B')
compartment
A         0.0
B         0.0
C         0.0
medium    NaN
Name: HPYRtp, dtype: float64

('r1464__B', 'acac_c__B + pyr_m__B <=> acac_m__B + pyr_c__B')
compartment
A         0.000000
B         0.000810
C        -0.052971
medium         NaN
Name: r1464, dtype: float64

('r2079__B', 'acac_c__B + pyr_e__B <=> acac_e__B + pyr_c__B')
compartment
A              NaN
B        -0.029026
C              NaN
medium         NaN

Name: r2079, dtype: float64

('EX_pyr_e__B', 'pyr_e__B <=> pyr_b__B')
compartment
A        -0.347139
B         0.088057
C        -0.356416
medium         NaN
Name: EX_pyr_e, dtype: float64

('PYRSMCT1__B', 'na1_e__B + pyr_e__B <=> na1_c__B + pyr_c__B')
compartment
A         0.000000
B        -0.059032
C         0.312934
medium         NaN
Name: PYRSMCT1, dtype: float64

('EX_pyr_b__C', 'pyr_b__C <=> 0.5187970056622756 pyr_m')
compartment
A        -0.347139
B         0.088057
C        -0.356416
medium         NaN
Name: EX_pyr_b, dtype: float64

('2AMACHYD__C', '2amac_c__C + h2o_c__C --> nh4_c__C + pyr_c__C')
compartment
A         0.087900
B         0.000000
C         0.167156
medium         NaN
Name: 2AMACHYD, dtype: float64

('AGTim__C', 'ala_L_m__C + glx_m__C --> gly_m__C + pyr_m__C')
compartment
A         0.000000
B              NaN
C         0.026907
medium         NaN
Name: AGTim, dtype: float64

('AGTix__C', 'ala_L_x__C + glx_x__C --> gly_x__C + pyr_x__C')
compartment
A         0.0
B         0.0
C         0.0
medium    NaN
Name: AGTix, dtype: float64

('HPYRDC__C', 'h_c__C + hpyr_c__C --> co2_c__C + gcald_c__C')
compartment
A         0.0
B         0.0
C         0.0
medium    NaN
Name: HPYRDC, dtype: float64

('PDHm__C', 'coa_m__C + nad_m__C + pyr_m__C --> accoa_m__C + co2_m__C + nadh_m__C')
compartment
A              NaN
B              NaN
C         0.079878
medium         NaN
Name: PDHm, dtype: float64

('SPTix__C', 'pyr_x__C + ser_L_x__C --> ala_L_x__C + hpyr_x__C')
compartment
A         0.0
B         0.0
C         0.0
medium    NaN
Name: SPTix, dtype: float64

('r0055__C', 'h2o_c__C + mthgxl_c__C + nadp_c__C <=> 2.0 h_c__C + nadph_c__C + pyr_c__C')
compartment
A         0.000000
B        -0.281822
C        -0.475065
medium         NaN
Name: r0055, dtype: float64

('r0165__C', 'h_c__C + pep_c__C + udp_c__C --> pyr_c__C + utp_c__C')
compartment
A              NaN
B         0.145168
C         0.003611
medium         NaN
Name: r0165, dtype: float64

('r0280__C', 'dadp_c__C + h_c__C + pep_c__C --> datp_c__C + pyr_c__C')
compartment
A              NaN
B              NaN
C         0.000852
medium         NaN
Name: r0280, dtype: float64

('HPYRtp__C', 'hpyr_c__C <=> hpyr_x__C')
compartment
A         0.0
B         0.0
C         0.0
medium    NaN
Name: HPYRtp, dtype: float64

('r1464__C', 'acac_c__C + pyr_m__C <=> acac_m__C + pyr_c__C')
compartment
A         0.000000
B         0.000810
C        -0.052971
medium         NaN
Name: r1464, dtype: float64

('r2099__C', 'pyr_e__C + retn_c__C <=> pyr_c__C + retn_e__C')
compartment
A         0.000000
B              NaN
C         0.043482
medium         NaN
Name: r2099, dtype: float64

('EX_pyr_e__C', 'pyr_e__C <=> pyr_b__C')
compartment
A        -0.347139
B         0.088057
C        -0.356416
medium         NaN
Name: EX_pyr_e, dtype: float64

('PYRSMCT1__C', 'na1_e__C + pyr_e__C <=> na1_c__C + pyr_c__C')
compartment
A         0.000000
B        -0.059032
C         0.312934
medium         NaN
Name: PYRSMCT1, dtype: float64

In [300]:
#day 19
track_sol21={}
metabolites=['pyr_','lac_','o2_','glu_','gln_','co2_','glc_','gal_', 'g1p','g6p']

for c in metabolites:
    react_metab=[]
    rm_flux=[]
    for r in com2.reactions:
        if c in r.reaction:
            react_metab.append((r.id,r.reaction))

    for r in react_metab:
        #print(r)
        if '_m' not in r[0]:
            rm_flux.append((r,sol21.fluxes[r[0][:-3]]))
            #print(sol1.fluxes[r[0][:-3]],end='\n\n')
        else:
            rm_flux.append((r,sol21.fluxes[r[0]]))
            #print(sol1.fluxes[r[0]],end='\n\n')
    track_sol21[c]=rm_flux

In [301]:
#look at only the specified metabolite (ej. g6p). The name must be equal to the one on the list above
for t in track_sol21['g6p']:
    print(t[0])
    print(t[1],end='\n\n')

('G6PDH2r__A', 'g6p_c__A + nadp_c__A <=> 6pgl_c__A + h_c__A + nadph_c__A')
compartment
A         0.0
B         0.0
C         NaN
medium    NaN
Name: G6PDH2r, dtype: float64

('G6PDH2rer__A', 'g6p_r__A + nadp_r__A <=> 6pgl_r__A + h_r__A + nadph_r__A')
compartment
A         0.0
B         0.0
C         NaN
medium    NaN
Name: G6PDH2rer, dtype: float64

('PGMT__A', 'g1p_c__A <=> g6p_c__A')
compartment
A         0.002119
B         0.001775
C              NaN
medium         NaN
Name: PGMT, dtype: float64

('biomass_carbohydrate__A', '3.87591549295775 g6p_c__A --> biomass_carbohydrate_c__A')
compartment
A         0.000547
B         0.000458
C         0.007334
medium         NaN
Name: biomass_carbohydrate, dtype: float64

('G6PDH1rer__B', 'g6p_r__B + nad_r__B <=> 6pgl_r__B + h_r__B + nadh_r__B')
compartment
A         NaN
B         0.0
C         NaN
medium    NaN
Name: G6PDH1rer, dtype: float64

('G6PDH2r__B', 'g6p_c__B + nadp_c__B <=> 6pgl_c__B + h_c__B + nadph_c__B')
compartment
A         0.0
B         0.0
C         NaN
medium    NaN
Name: G6PDH2r, dtype: float64

('G6PDH2rer__B', 'g6p_r__B + nadp_r__B <=> 6pgl_r__B + h_r__B + nadph_r__B')
compartment
A         0.0
B         0.0
C         NaN
medium    NaN
Name: G6PDH2rer, dtype: float64

('PGMT__B', 'g1p_c__B <=> g6p_c__B')
compartment
A         0.002119
B         0.001775
C              NaN
medium         NaN
Name: PGMT, dtype: float64

('biomass_carbohydrate__B', '3.87591549295775 g6p_c__B --> biomass_carbohydrate_c__B')
compartment
A         0.000547
B         0.000458
C         0.007334
medium         NaN
Name: biomass_carbohydrate, dtype: float64

('PGI__C', 'g6p_c__C <=> f6p_c__C')
compartment
A              NaN
B              NaN
C        -0.028425
medium         NaN
Name: PGI, dtype: float64

('biomass_carbohydrate__C', '3.87591549295775 g6p_c__C --> biomass_carbohydrate_c__C')
compartment
A         0.000547
B         0.000458
C         0.007334
medium         NaN
Name: biomass_carbohydrate, dtype: float64

In [ ]:
#Make knockouts of each population

In [127]:
#"raw" displays new growth_rates, does not compare to previous 
ko6=com.knockout_taxa(fraction=0.7, progress=True, method='raw',diag=False)
ko6

HBox(children=(FloatProgress(value=0.0, max=3.0), HTML(value='')))

compartments         A         B         C
A                  NaN  0.013287  0.023200
B             0.007070       NaN  0.040651
C             0.002426  0.010513       NaN

In [128]:
#"change" displays de differences between the old growth_rates and the new ones (ej. 0.001177 greater than older)
ko6=com.knockout_taxa(fraction=0.7, progress=True, method='change',diag=False)
ko6

HBox(children=(FloatProgress(value=0.0, max=3.0), HTML(value='')))

compartments         A         B         C
A                  NaN  0.001177 -0.009239
B             0.003293       NaN  0.008212
C            -0.001351 -0.001597       NaN

In [129]:
ko19=com2.knockout_taxa(fraction=0.7, progress=True, method='raw',diag=False)
ko19

HBox(children=(FloatProgress(value=0.0, max=3.0), HTML(value='')))

compartments         A         B         C
A                  NaN  0.018966  0.079094
B             0.010628       NaN  0.103863
C             0.006144  0.002932       NaN

In [130]:
ko19=com2.knockout_taxa(fraction=0.7, progress=True, method='change',diag=False)
ko19

HBox(children=(FloatProgress(value=0.0, max=3.0), HTML(value='')))

compartments         A         B         C
A                  NaN  0.012515 -0.024191
B             0.002926       NaN  0.000578
C            -0.001559 -0.003519       NaN

In [132]:
#"relative change" displays rate of change of the old growth_rates  
ko19=com2.knockout_taxa(fraction=0.7, progress=True, method='relative change')
ko19

HBox(children=(FloatProgress(value=0.0, max=3.0), HTML(value='')))

compartments        A         B         C
A            -1.00000  1.939903 -0.234220
B             0.37984 -1.000000  0.005595
C            -0.20235 -0.545457 -1.000000

In [ ]:
#Calculate elasticities - this means that for each change in "efector" (1 unit) we get a change 
#in the reaction's flux of the value of 'elasticity'

In [197]:
from micom.elasticity import elasticities, elasticities_by_abundance

In [143]:
eps = elasticities(com, fraction=0.7)

HBox(children=(FloatProgress(value=0.0, description='medium', max=24.0, style=ProgressStyle(description_width=…

HBox(children=(FloatProgress(value=0.0, description='taxa abundances', max=3.0, style=ProgressStyle(descriptio…

In [144]:
eps_ex = elasticities(com, fraction=0.7,reactions=com.exchanges)

HBox(children=(FloatProgress(value=0.0, description='medium', max=24.0, style=ProgressStyle(description_width=…

HBox(children=(FloatProgress(value=0.0, description='taxa abundances', max=3.0, style=ProgressStyle(descriptio…

In [150]:
eps

           reaction   taxon    effector direction  elasticity       type
0        EX_34hpp_b    b__A  EX_arg_L_m   reverse   -0.079937  exchanges
1       EX_3aib_D_b    b__A  EX_arg_L_m   forward   -0.064027  exchanges
2         EX_3aib_b    b__A  EX_arg_L_m   forward   -0.062732  exchanges
3      EX_HC00250_b    b__A  EX_arg_L_m   forward    0.448259  exchanges
4      EX_Lcystin_b    b__A  EX_arg_L_m   forward   -1.084191  exchanges
...             ...     ...         ...       ...         ...        ...
69466     EX_dopa_m  medium           C   forward    0.297323  abundance
69467   EX_ocdcea_m  medium           C   forward    1.044438  abundance
69468    EX_pe_hs_m  medium           C      zero   -0.000002  abundance
69469   EX_tmndnc_m  medium           C   forward    1.025071  abundance
69470    EX_vitd3_m  medium           C   forward    1.139165  abundance

[69471 rows x 6 columns]

In [147]:
eps_ex.head()

       reaction   taxon    effector direction  elasticity       type
0    EX_34hpp_m  medium  EX_arg_L_m   forward   -0.079699  exchanges
1   EX_3aib_D_m  medium  EX_arg_L_m   forward   -0.063791  exchanges
2     EX_3aib_m  medium  EX_arg_L_m   forward   -0.062578  exchanges
3  EX_HC00250_m  medium  EX_arg_L_m   forward    0.448253  exchanges
4  EX_Lcystin_m  medium  EX_arg_L_m   forward   -1.190702  exchanges

In [ ]:
#Reactions that export and import from the comunity

In [260]:
#Importa del dia 6
for i in com.exchanges:
    if sol1.fluxes[i.id]['medium']<0:
        print(sol1.fluxes[i.id],end='\n\n')

compartment
A              NaN
B              NaN
C              NaN
medium   -0.057706
Name: EX_arg_L_m, dtype: float64

compartment
A              NaN
B              NaN
C              NaN
medium   -0.020302
Name: EX_asp_L_m, dtype: float64

compartment
A              NaN
B              NaN
C              NaN
medium   -0.003764
Name: EX_chol_m, dtype: float64

compartment
A            NaN
B            NaN
C            NaN
medium   -0.1652
Name: EX_cys_L_m, dtype: float64

compartment
A            NaN
B            NaN
C            NaN
medium   -0.0349
Name: EX_fol_m, dtype: float64

compartment
A              NaN
B              NaN
C              NaN
medium   -0.001397
Name: EX_gal_m, dtype: float64

compartment
A            NaN
B            NaN
C            NaN
medium   -0.1368
Name: EX_glu_L_m, dtype: float64

compartment
A              NaN
B              NaN
C              NaN
medium   -0.021174
Name: EX_gly_m, dtype: float64

compartment
A              NaN
B              NaN
C              NaN
medium   -0.028541
Name: EX_his_L_m, dtype: float64

compartment
A              NaN
B              NaN
C              NaN
medium   -0.006308
Name: EX_ile_L_m, dtype: float64

compartment
A           NaN
B           NaN
C           NaN
medium   -0.111
Name: EX_inost_m, dtype: float64

compartment
A              NaN
B              NaN
C              NaN
medium   -0.041491
Name: EX_leu_L_m, dtype: float64

compartment
A             NaN
B             NaN
C             NaN
medium   -0.01297
Name: EX_lys_L_m, dtype: float64

compartment
A              NaN
B              NaN
C              NaN
medium   -0.003352
Name: EX_met_L_m, dtype: float64

compartment
A         NaN
B         NaN
C         NaN
medium   -0.2
Name: EX_o2_m, dtype: float64

compartment
A              NaN
B              NaN
C              NaN
medium   -0.005684
Name: EX_phe_L_m, dtype: float64

compartment
A              NaN
B              NaN
C              NaN
medium   -0.027198
Name: EX_pi_m, dtype: float64

compartment
A            NaN
B            NaN
C            NaN
medium   -0.1818
Name: EX_pyr_m, dtype: float64

compartment
A              NaN
B              NaN
C              NaN
medium   -0.084119
Name: EX_ser_L_m, dtype: float64

compartment
A              NaN
B              NaN
C              NaN
medium   -0.006891
Name: EX_thr_L_m, dtype: float64

compartment
A              NaN
B              NaN
C              NaN
medium   -0.000505
Name: EX_trp_L_m, dtype: float64

compartment
A              NaN
B              NaN
C              NaN
medium   -0.003498
Name: EX_tyr_L_m, dtype: float64

compartment
A              NaN
B              NaN
C              NaN
medium   -0.007724
Name: EX_val_L_m, dtype: float64

In [262]:
#Exporta del dia 6
for i in com.exchanges:
    if sol1.fluxes[i.id]['medium']>0:
        print(sol1.fluxes[i.id],end='\n\n')

compartment
A             NaN
B             NaN
C             NaN
medium    0.08209
Name: EX_Lcystin_m, dtype: float64

compartment
A              NaN
B              NaN
C              NaN
medium    0.011217
Name: EX_acac_m, dtype: float64

compartment
A              NaN
B              NaN
C              NaN
medium    0.000317
Name: EX_acetone_m, dtype: float64

compartment
A             NaN
B             NaN
C             NaN
medium    0.01863
Name: EX_ala_L_m, dtype: float64

compartment
A              NaN
B              NaN
C              NaN
medium    0.134634
Name: EX_co2_m, dtype: float64

compartment
A              NaN
B              NaN
C              NaN
medium    0.003938
Name: EX_fum_m, dtype: float64

compartment
A              NaN
B              NaN
C              NaN
medium    0.208596
Name: EX_hco3_m, dtype: float64

compartment
A              NaN
B              NaN
C              NaN
medium    0.347188
Name: EX_nh4_m, dtype: float64

compartment
A            NaN
B            NaN
C            NaN
medium    0.0349
Name: EX_thf_m, dtype: float64

compartment
A              NaN
B              NaN
C              NaN
medium    0.049837
Name: EX_urea_m, dtype: float64

compartment
A              NaN
B              NaN
C              NaN
medium    0.000213
Name: EX_anth_m, dtype: float64

compartment
A              NaN
B              NaN
C              NaN
medium    0.356648
Name: EX_mthgxl_m, dtype: float64

compartment
A             NaN
B             NaN
C             NaN
medium    0.18778
Name: EX_succ_m, dtype: float64

In [261]:
#Importa del dia 19
for i in com2.exchanges:
    if sol21.fluxes[i.id]['medium']<0:
        print(sol21.fluxes[i.id],end='\n\n')

compartment
A              NaN
B              NaN
C              NaN
medium   -0.057757
Name: EX_arg_L_m, dtype: float64

compartment
A              NaN
B              NaN
C              NaN
medium   -0.020302
Name: EX_asp_L_m, dtype: float64

compartment
A              NaN
B              NaN
C              NaN
medium   -0.003736
Name: EX_chol_m, dtype: float64

compartment
A            NaN
B            NaN
C            NaN
medium   -0.1652
Name: EX_cys_L_m, dtype: float64

compartment
A              NaN
B              NaN
C              NaN
medium   -0.001703
Name: EX_gal_m, dtype: float64

compartment
A            NaN
B            NaN
C            NaN
medium   -0.1368
Name: EX_glu_L_m, dtype: float64

compartment
A              NaN
B              NaN
C              NaN
medium   -0.071144
Name: EX_gly_m, dtype: float64

compartment
A              NaN
B              NaN
C              NaN
medium   -0.100183
Name: EX_his_L_m, dtype: float64

compartment
A              NaN
B              NaN
C              NaN
medium   -0.006808
Name: EX_ile_L_m, dtype: float64

compartment
A           NaN
B           NaN
C           NaN
medium   -0.111
Name: EX_inost_m, dtype: float64

compartment
A              NaN
B              NaN
C              NaN
medium   -0.036188
Name: EX_leu_L_m, dtype: float64

compartment
A             NaN
B             NaN
C             NaN
medium   -0.01297
Name: EX_lys_L_m, dtype: float64

compartment
A              NaN
B              NaN
C              NaN
medium   -0.003352
Name: EX_met_L_m, dtype: float64

compartment
A         NaN
B         NaN
C         NaN
medium   -0.2
Name: EX_o2_m, dtype: float64

compartment
A              NaN
B              NaN
C              NaN
medium   -0.005684
Name: EX_phe_L_m, dtype: float64

compartment
A              NaN
B              NaN
C              NaN
medium   -0.027198
Name: EX_pi_m, dtype: float64

compartment
A            NaN
B            NaN
C            NaN
medium   -0.1818
Name: EX_pyr_m, dtype: float64

compartment
A            NaN
B            NaN
C            NaN
medium   -0.1904
Name: EX_ser_L_m, dtype: float64

compartment
A             NaN
B             NaN
C             NaN
medium   -0.00739
Name: EX_thr_L_m, dtype: float64

compartment
A              NaN
B              NaN
C              NaN
medium   -0.000291
Name: EX_trp_L_m, dtype: float64

compartment
A              NaN
B              NaN
C              NaN
medium   -0.003498
Name: EX_tyr_L_m, dtype: float64

compartment
A              NaN
B              NaN
C              NaN
medium   -0.007724
Name: EX_val_L_m, dtype: float64

In [263]:
#Exporta del dia 19
for i in com2.exchanges:
    if sol21.fluxes[i.id]['medium']>0:
        print(sol21.fluxes[i.id],end='\n\n')

compartment
A              NaN
B              NaN
C              NaN
medium    0.004746
Name: EX_HC00250_m, dtype: float64

compartment
A              NaN
B              NaN
C              NaN
medium    0.079717
Name: EX_Lcystin_m, dtype: float64

compartment
A              NaN
B              NaN
C              NaN
medium    0.012363
Name: EX_acac_m, dtype: float64

compartment
A              NaN
B              NaN
C              NaN
medium    0.000118
Name: EX_acetone_m, dtype: float64

compartment
A             NaN
B             NaN
C             NaN
medium    0.48451
Name: EX_ala_L_m, dtype: float64

compartment
A             NaN
B             NaN
C             NaN
medium    0.43295
Name: EX_co2_m, dtype: float64

compartment
A              NaN
B              NaN
C              NaN
medium    0.000008
Name: EX_for_m, dtype: float64

compartment
A              NaN
B              NaN
C              NaN
medium    0.003938
Name: EX_fum_m, dtype: float64

compartment
A              NaN
B              NaN
C              NaN
medium    0.252786
Name: EX_nh4_m, dtype: float64

compartment
A              NaN
B              NaN
C              NaN
medium    0.049887
Name: EX_urea_m, dtype: float64

compartment
A              NaN
B              NaN
C              NaN
medium    0.042987
Name: EX_mthgxl_m, dtype: float64

compartment
A              NaN
B              NaN
C              NaN
medium    0.259472
Name: EX_succ_m, dtype: float64

In [ ]:
#Reactions that export and import per population (Example)

In [272]:
#Importa del dia 6
for i in sol1.fluxes:
    if ('EX' in i) and sol1.fluxes[i]['A']<0: 
        print(sol1.fluxes[i],end='\n\n')

compartment
A        -0.000603
B         0.000139
C              NaN
medium         NaN
Name: EX_34hpp_, dtype: float64

compartment
A        -0.000603
B         0.000139
C              NaN
medium         NaN
Name: EX_34hpp_b, dtype: float64

compartment
A        -0.002025
B              NaN
C         0.000352
medium         NaN
Name: EX_Rtotal_b, dtype: float64

compartment
A        -0.002025
B              NaN
C         0.000352
medium         NaN
Name: EX_Rtotal_e, dtype: float64

compartment
A        -0.000253
B        -0.000810
C         0.000654
medium         NaN
Name: EX_aicar_b, dtype: float64

compartment
A        -0.000253
B        -0.000810
C         0.000654
medium         NaN
Name: EX_aicar_e, dtype: float64

compartment
A        -0.001357
B        -0.131818
C        -0.011654
medium         NaN
Name: EX_arg_L_b, dtype: float64

compartment
A        -0.001357
B        -0.131818
C        -0.011654
medium         NaN
Name: EX_arg_L_e, dtype: float64

compartment
A        -0.002639
B        -0.008463
C        -0.032296
medium         NaN
Name: EX_asp_L_b, dtype: float64

compartment
A        -0.002639
B        -0.008463
C        -0.032296
medium         NaN
Name: EX_asp_L_e, dtype: float64

compartment
A        -0.000624
B        -0.002082
C        -0.005578
medium         NaN
Name: EX_chol_b, dtype: float64

compartment
A        -0.000624
B        -0.002082
C        -0.005578
medium         NaN
Name: EX_chol_e, dtype: float64

compartment
A        -0.000176
B         0.145482
C        -0.428037
medium         NaN
Name: EX_cys_L_b, dtype: float64

compartment
A        -0.000176
B         0.145482
C        -0.428037
medium         NaN
Name: EX_cys_L_e, dtype: float64

compartment
A        -0.386813
B         0.000000
C         0.000000
medium         NaN
Name: EX_fol_b, dtype: float64

compartment
A        -0.386813
B         0.000000
C         0.000000
medium         NaN
Name: EX_fol_e, dtype: float64

compartment
A        -0.001039
B        -0.003332
C         0.000000
medium         NaN
Name: EX_gal_b, dtype: float64

compartment
A        -0.001039
B        -0.003332
C         0.000000
medium         NaN
Name: EX_gal_e, dtype: float64

compartment
A        -0.091740
B        -0.006367
C        -0.020061
medium         NaN
Name: EX_gly_b, dtype: float64

compartment
A        -0.091740
B        -0.006367
C        -0.020061
medium         NaN
Name: EX_gly_e, dtype: float64

compartment
A        -0.046900
B        -0.012459
C         0.017546
medium         NaN
Name: EX_glyc3p_b, dtype: float64

compartment
A        -0.046900
B        -0.012459
C         0.017546
medium         NaN
Name: EX_glyc3p_e, dtype: float64

compartment
A        -0.386813
B         0.089265
C              NaN
medium         NaN
Name: EX_h2o_b, dtype: float64

compartment
A        -0.386813
B         0.089265
C              NaN
medium         NaN
Name: EX_h2o_e, dtype: float64

compartment
A        -0.690720
B         0.222309
C         0.354664
medium         NaN
Name: EX_hco3_b, dtype: float64

compartment
A        -0.690720
B         0.222309
C         0.354664
medium         NaN
Name: EX_hco3_e, dtype: float64

compartment
A        -0.090484
B        -0.001531
C        -0.038124
medium         NaN
Name: EX_his_L_b, dtype: float64

compartment
A        -0.090484
B        -0.001531
C        -0.038124
medium         NaN
Name: EX_his_L_e, dtype: float64

compartment
A        -0.001542
B        -0.003464
C        -0.009280
medium         NaN
Name: EX_ile_L_b, dtype: float64

compartment
A        -0.001542
B        -0.003464
C        -0.009280
medium         NaN
Name: EX_ile_L_e, dtype: float64

compartment
A        -0.000088
B        -0.217727
C        -0.049857
medium         NaN
Name: EX_inost_b, dtype: float64

compartment
A        -0.000088
B        -0.217727
C        -0.049857
medium         NaN
Name: EX_inost_e, dtype: float64

compartment
A        -0.002060
B        -0.006606
C        -0.074639
medium         NaN
Name: EX_leu_L_b, dtype: float64

compartment
A        -0.002060
B        -0.006606
C        -0.074639
medium         NaN
Name: EX_leu_L_e, dtype: float64

compartment
A        -0.002236
B        -0.007170
C        -0.019208
medium         NaN
Name: EX_lys_L_b, dtype: float64

compartment
A        -0.002236
B        -0.007170
C        -0.019208
medium         NaN
Name: EX_lys_L_e, dtype: float64

compartment
A        -0.000578
B        -0.001853
C        -0.004964
medium         NaN
Name: EX_met_L_b, dtype: float64

compartment
A        -0.000578
B        -0.001853
C        -0.004964
medium         NaN
Name: EX_met_L_e, dtype: float64

compartment
A        -0.001376
B        -0.220425
C        -0.219150
medium         NaN
Name: EX_o2_b, dtype: float64

compartment
A        -0.001376
B        -0.220425
C        -0.219150
medium         NaN
Name: EX_o2_e, dtype: float64

compartment
A        -0.000055
B        -0.000176
C         0.000143
medium         NaN
Name: EX_pglyc_hs_b, dtype: float64

compartment
A        -0.000055
B        -0.000176
C         0.000143
medium         NaN
Name: EX_pglyc_hs_e, dtype: float64

compartment
A        -0.000980
B        -0.003142
C        -0.008417
medium         NaN
Name: EX_phe_L_b, dtype: float64

compartment
A        -0.000980
B        -0.003142
C        -0.008417
medium         NaN
Name: EX_phe_L_e, dtype: float64

compartment
A        -0.000462
B         0.000107
C         0.000000
medium         NaN
Name: EX_ppa_b, dtype: float64

compartment
A        -0.000462
B         0.000107
C         0.000000
medium         NaN
Name: EX_ppa_e, dtype: float64

compartment
A        -0.453775
B         0.122473
C        -0.013381
medium         NaN
Name: EX_pro_L_b, dtype: float64

compartment
A        -0.453775
B         0.122473
C        -0.013381
medium         NaN
Name: EX_pro_L_e, dtype: float64

compartment
A        -0.347139
B         0.088057
C        -0.356416
medium         NaN
Name: EX_pyr_b, dtype: float64

compartment
A        -0.347139
B         0.088057
C        -0.356416
medium         NaN
Name: EX_pyr_e, dtype: float64

compartment
A        -0.001181
B        -0.003893
C        -0.010144
medium         NaN
Name: EX_thr_L_b, dtype: float64

compartment
A        -0.001181
B        -0.003893
C        -0.010144
medium         NaN
Name: EX_thr_L_e, dtype: float64

compartment
A        -0.000050
B        -0.000706
C        -0.000432
medium         NaN
Name: EX_trp_L_b, dtype: float64

compartment
A        -0.000050
B        -0.000706
C        -0.000432
medium         NaN
Name: EX_trp_L_e, dtype: float64

compartment
A        -0.000434
B        -0.000304
C         0.000305
medium         NaN
Name: EX_utp_b, dtype: float64

compartment
A        -0.000434
B        -0.000304
C         0.000305
medium         NaN
Name: EX_utp_e, dtype: float64

compartment
A        -0.001331
B        -0.004270
C        -0.011439
medium         NaN
Name: EX_val_L_b, dtype: float64

compartment
A        -0.001331
B        -0.004270
C        -0.011439
medium         NaN
Name: EX_val_L_e, dtype: float64

compartment
A        -0.000174
B        -0.000557
C         0.000450
medium         NaN
Name: EX_xmp_b, dtype: float64

compartment
A        -0.000174
B        -0.000557
C         0.000450
medium         NaN
Name: EX_xmp_e, dtype: float64

In [273]:
#Export del dia 6
for i in sol1.fluxes:
    if ('EX' in i) and sol1.fluxes[i]['A']>0: 
        print(sol1.fluxes[i],end='\n\n')

compartment
A         0.347602
B              NaN
C        -0.060452
medium         NaN
Name: EX_akg_b, dtype: float64

compartment
A         0.347602
B              NaN
C        -0.060452
medium         NaN
Name: EX_akg_e, dtype: float64

compartment
A         0.479084
B        -0.005439
C        -0.043310
medium         NaN
Name: EX_ala_L_b, dtype: float64

compartment
A         0.479084
B        -0.005439
C        -0.043310
medium         NaN
Name: EX_ala_L_e, dtype: float64

compartment
A         0.003776
B         0.012109
C         0.032440
medium         NaN
Name: EX_biomass_c, dtype: float64

compartment
A         0.692947
B         0.000000
C         0.139000
medium         NaN
Name: EX_co2_b, dtype: float64

compartment
A         0.692947
B         0.000000
C         0.139000
medium         NaN
Name: EX_co2_e, dtype: float64

compartment
A         0.000077
B        -0.000018
C              NaN
medium         NaN
Name: EX_for_b, dtype: float64

compartment
A         0.000077
B        -0.000018
C              NaN
medium         NaN
Name: EX_for_e, dtype: float64

compartment
A         0.000253
B         0.000810
C         0.006937
medium         NaN
Name: EX_fum_b, dtype: float64

compartment
A         0.000253
B         0.000810
C         0.006937
medium         NaN
Name: EX_fum_e, dtype: float64

compartment
A         0.191935
B        -0.001289
C        -0.296095
medium         NaN
Name: EX_glu_L_b, dtype: float64

compartment
A         0.191935
B        -0.001289
C        -0.296095
medium         NaN
Name: EX_glu_L_e, dtype: float64

compartment
A         0.099740
B         0.711705
C        -0.553703
medium         NaN
Name: EX_h_b, dtype: float64

compartment
A         0.099740
B         0.711705
C        -0.553703
medium         NaN
Name: EX_h_e, dtype: float64

compartment
A         0.131739
B         0.126430
C         0.551025
medium         NaN
Name: EX_nh4_b, dtype: float64

compartment
A         0.131739
B         0.126430
C         0.551025
medium         NaN
Name: EX_nh4_e, dtype: float64

compartment
A         0.043996
B        -0.000120
C        -0.059986
medium         NaN
Name: EX_pi_b, dtype: float64

compartment
A         0.043996
B        -0.000120
C        -0.059986
medium         NaN
Name: EX_pi_e, dtype: float64

compartment
A         0.386813
B              NaN
C              NaN
medium         NaN
Name: EX_thf_b, dtype: float64

compartment
A         0.386813
B              NaN
C              NaN
medium         NaN
Name: EX_thf_e, dtype: float64

In [ ]:
#Obtener que reacciones comparten las poblaciones en COM (Se tiene que hacer para com2)

In [226]:
rids = [(r.global_id, r.community_id) for r in com.reactions]
rlist = pd.DataFrame(rids, columns=["reaction", "id"])
rlist["value"] = 1
rlist = rlist.pivot_table(values="value", index="id", columns="reaction")
inclusion = rlist.fillna(0).astype(int).values

In [227]:
rlist

reaction,10FTHFtm,2AMACHYD,2DR1PP,2HATVACIDhc,2HATVLAChc,2MB2COAc,34HPLFM,34HPPOR,34HPPte,3AIBTm,...,r2438,r2472,r2495,r2502,r2513,r2516,r2521,r2537,sink_citr_c,xmpt
id,,,,,,,,,,,,,,,,,,,,,
A,NaN,1.0,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,NaN,NaN,1.0,NaN,NaN,1.0
B,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,1.0
C,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,1.0
medium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [221]:
all_pop_reac=[]
for i in rlist:
    if rlist[i]['A']==1 and rlist[i]['B']==1 and rlist[i]['C']==1:
        all_pop_reac.append(i)

len(all_pop_reac)

377

In [228]:
A_excl_reac=[]
for i in rlist:
    if rlist[i]['A']==1 and rlist[i]['B']!=1 and rlist[i]['C']!=1:
        A_excl_reac.append(i)

len(A_excl_reac)

409

In [229]:
B_excl_reac=[]
for i in rlist:
    if rlist[i]['A']!=1 and rlist[i]['B']==1 and rlist[i]['C']!=1:
        B_excl_reac.append(i)

len(B_excl_reac)

185

In [230]:
C_excl_reac=[]
for i in rlist:
    if rlist[i]['A']!=1 and rlist[i]['B']!=1 and rlist[i]['C']==1:
        C_excl_reac.append(i)

len(C_excl_reac)

150

In [231]:
AB_excl_reac=[]
for i in rlist:
    if rlist[i]['A']==1 and rlist[i]['B']==1 and rlist[i]['C']!=1:
        AB_excl_reac.append(i)

len(AB_excl_reac)

117

In [232]:
AC_excl_reac=[]
for i in rlist:
    if rlist[i]['A']==1 and rlist[i]['B']!=1 and rlist[i]['C']==1:
        AC_excl_reac.append(i)

len(AC_excl_reac)

128

In [233]:
BC_excl_reac=[]
for i in rlist:
    if rlist[i]['A']!=1 and rlist[i]['B']==1 and rlist[i]['C']==1:
        BC_excl_reac.append(i)

len(BC_excl_reac)

51

In [240]:
m_excl_reac=[]
for i in rlist:
    if rlist[i]['A']!=1 and rlist[i]['B']!=1 and rlist[i]['C']!=1:
        m_excl_reac.append(i)

len(m_excl_reac)

106

In [ ]:
#Obtener distancias en la communidades segun sus reacciones solamente

In [247]:
inclusion

array([[0, 1, 0, ..., 0, 0, 1],
       [1, 1, 1, ..., 0, 1, 1],
       [0, 1, 0, ..., 1, 0, 1],
       [0, 0, 0, ..., 0, 0, 0]])

In [248]:
micom.algorithms.euclidean(inclusion)

array([[ 0.        , 27.80287755, 26.96293753, 33.7194306 ],
       [27.80287755,  0.        , 24.08318916, 28.91366459],
       [26.96293753, 24.08318916,  0.        , 28.4956137 ],
       [33.7194306 , 28.91366459, 28.4956137 ,  0.        ]])

In [249]:
micom.algorithms.jaccard(inclusion)

array([[0.        , 0.6101026 , 0.5900974 , 1.        ],
       [0.6101026 , 0.        , 0.57539683, 1.        ],
       [0.5900974 , 0.57539683, 0.        , 1.        ],
       [1.        , 1.        , 1.        , 0.        ]])

In [166]:
import cobra
recon = cobra.io.read_sbml_model("../recon22.xml")

In [179]:
import pandas as pd
G = pd.read_csv("../HugoV2.csv")

,Hugo,Name,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,HGNC:5,A1BG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,HGNC:37133,A1BG-AS1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,HGNC:24086,A1CF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,HGNC:7,A2M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,HGNC:27057,A2M-AS1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42299,HGNC:25820,ZYG11B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42300,HGNC:13200,ZYX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42301,HGNC:51695,ZYXP1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42302,HGNC:29027,ZZEF1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42303,HGNC:24523,ZZZ3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [192]:
len(recon.genes)

1675

In [191]:
x={}
c=0
for i in G['Hugo']:
    x[i]=G['Name'][c]
    c+=1

len(x)

42304

In [195]:
cc=0
for i in recon.genes:
    cc+=1
    if str(i) in x:
        print(str(i)+','+str(x[str(i)]))

HGNC:550,AOC3
HGNC:80,AOC1
HGNC:549,AOC2
HGNC:2602,CYP24A1
HGNC:2606,CYP27B1
HGNC:10691,SDS
HGNC:11455,SULT1A3
HGNC:6535,LDHA
HGNC:6541,LDHB
HGNC:28335,LDHAL6A
HGNC:21481,LDHAL6B
HGNC:30866,UEVLD
HGNC:6544,LDHC
HGNC:2911,DLST
HGNC:2898,DLD
HGNC:21350,PDHX
HGNC:8124,OGDH
HGNC:252,ADH4
HGNC:250,ADH1B
HGNC:253,ADH5
HGNC:255,ADH6
HGNC:16354,ADHFE1
HGNC:251,ADH1C
HGNC:256,ADH7
HGNC:249,ADH1A
HGNC:2228,COMT
HGNC:405,ALDH3A1
HGNC:411,ALDH3B2
HGNC:409,ALDH1A3
HGNC:410,ALDH3B1
HGNC:5147,HPD
HGNC:4021,KDSR
HGNC:4796,HAAO
HGNC:23408,ECHDC2
HGNC:1564,KYAT1
HGNC:17929,AADAT
HGNC:2719,DDC
HGNC:4908,HIBCH
HGNC:6833,MAOA
HGNC:6834,MAOB
HGNC:124,ACP5
HGNC:29609,ACP6
HGNC:123,ACP2
HGNC:125,ACP3
HGNC:4093,GAD2
HGNC:4092,GAD1
HGNC:18966,CSAD
HGNC:4432,GOT1
HGNC:4433,GOT2
HGNC:406,ALDH4A1
HGNC:11453,SULT1A1
HGNC:11454,SULT1A2
HGNC:11458,SULT2A1
HGNC:553,AOX1
HGNC:404,ALDH2
HGNC:407,ALDH1B1
HGNC:6059,IDO1
HGNC:6827,MAN2C1
HGNC:6826,MAN2B1
HGNC:18149,A4GALT
HGNC:17968,A4GNT
HGNC:21298,AACS
HGNC:79,ABO
HGNC:23,ABAT
HGNC:412,ALDH9A1
HGNC:4803,HADHB
HGNC:93,ACAT1
HGNC:83,ACAA2
HGNC:94,ACAT2
HGNC:4801,HADHA
HGNC:82,ACAA1
HGNC:85,ACACB
HGNC:84,ACACA
HGNC:15814,ACSS2
HGNC:16091,ACSS1
HGNC:24723,ACSS3
HGNC:9959,RENBP
HGNC:19980,GNPNAT1
HGNC:17174,NAGK
HGNC:8907,PGM3
HGNC:8966,PIGL
HGNC:17996,NAGS
HGNC:108,ACHE
HGNC:115,ACLY
HGNC:19237,NANS
HGNC:16140,NANP
HGNC:89,ACADM
HGNC:91,ACADSB
HGNC:21597,ACAD10
HGNC:21497,ACAD9
HGNC:90,ACADS
HGNC:87,ACAD8
HGNC:30211,ACAD11
HGNC:6186,IVD
HGNC:24436,ACOT12
HGNC:119,ACOX1
HGNC:3594,FASN
HGNC:177,ACY1
HGNC:117,ACO1
HGNC:6115,IREB2
HGNC:118,ACO2
HGNC:120,ACOX2
HGNC:122,ACP1
HGNC:750,ASMT
HGNC:2631,CYP2E1
HGNC:179,ACYP1
HGNC:180,ACYP2
HGNC:21385,RWDD2A
HGNC:186,ADA
HGNC:361,AK1
HGNC:362,AK2
HGNC:20091,AK7
HGNC:365,AK5
HGNC:363,AK4
HGNC:17376,AK3
HGNC:457,AMD1
HGNC:232,ADCY1
HGNC:236,ADCY5
HGNC:233,ADCY2
HGNC:234,ADCY3
HGNC:237,ADCY6
HGNC:239,ADCY8
HGNC:235,ADCY4
HGNC:238,ADCY7
HGNC:240,ADCY9
HGNC:21285,ADCY10
HGNC:257,ADK
HGNC:8052,NUDT5
HGNC:8056,NUDT9
HGNC:626,APRT
HGNC:2328,CPT1A
HGNC:2329,CPT1B
HGNC:18540,CPT1C
HGNC:2330,CPT2
HGNC:8603,PAPSS1
HGNC:8604,PAPSS2
HGNC:291,ADSL
HGNC:20093,ADSS1
HGNC:292,ADSS2
HGNC:18811,B3GNT7
HGNC:15683,B3GNT4
HGNC:15629,B3GNT2
HGNC:15685,B4GAT1
HGNC:21727,B3GNTL1
HGNC:13528,B3GNT3
HGNC:24139,B3GNT8
HGNC:24262,AMDHD2
HGNC:18407,AGMAT
HGNC:324,AGPAT1
HGNC:326,AGPAT3
HGNC:20885,AGPAT4
HGNC:25193,MBOAT2
HGNC:325,AGPAT2
HGNC:20886,AGPAT5
HGNC:20880,GPAT4
HGNC:9722,ALDH18A1
HGNC:14412,AGXT2
HGNC:14404,ETNPPL
HGNC:341,AGXT
HGNC:343,AHCY
HGNC:344,AHCYL1
HGNC:4879,HEXB
HGNC:4878,HEXA
HGNC:794,ATIC
HGNC:384,AKR1C1
HGNC:387,AKR1C4
HGNC:388,AKR1D1
HGNC:4188,GCAT
HGNC:397,ALAS2
HGNC:396,ALAS1
HGNC:4552,GPT
HGNC:18062,GPT2
HGNC:28697,ZADH2
HGNC:380,AKR1A1
HGNC:403,ALDH3A2
HGNC:15472,ALDH1A2
HGNC:877,ALDH7A1
HGNC:402,ALDH1A1
HGNC:437,ALPI
HGNC:441,ALPG
HGNC:439,ALPP
HGNC:438,ALPL
HGNC:429,ALOX12
HGNC:430,ALOX12B
HGNC:433,ALOX15
HGNC:434,ALOX15B
HGNC:435,ALOX5
HGNC:389,AKR7A2
HGNC:381,AKR1B1
HGNC:451,AMACR
HGNC:23657,GNE
HGNC:468,AMPD1
HGNC:470,AMPD3
HGNC:469,AMPD2
HGNC:500,ANPEP
HGNC:474,AMY1A
HGNC:478,AMY2B
HGNC:475,AMY1B
HGNC:477,AMY2A
HGNC:476,AMY1C
HGNC:8049,NUDT2
HGNC:29957,AZIN2
HGNC:664,ARG2
HGNC:663,ARG1
HGNC:746,ASL
HGNC:758,ASS1
HGNC:713,ARSA
HGNC:735,ASAH1
HGNC:16448,ASRGL1
HGNC:753,ASNS
HGNC:1424,CAD
HGNC:3365,ENTPD3
HGNC:3368,ENTPD6
HGNC:3367,ENTPD5
HGNC:3363,ENTPD1
HGNC:3364,ENTPD2
HGNC:24860,ENTPD8
HGNC:6831,MANBA
HGNC:918,B3GALNT1
HGNC:919,B3GALT4
HGNC:920,B3GALT5
HGNC:15684,B3GNT5
HGNC:932,BAAT
HGNC:4976,HLCS
HGNC:964,BBOX1
HGNC:13815,BCO1
HGNC:1027,BDH1
HGNC:1048,BHMT2
HGNC:1047,BHMT
HGNC:1063,BLVRB
HGNC:1062,BLVRA
HGNC:1096,BPNT1
HGNC:1122,BTD
HGNC:16297,UPB1
HGNC:11863,TM7SF2
HGNC:890,AUH
HGNC:3247,EHHADH
HGNC:3149,ECH1
HGNC:13398,NSDHL
HGNC:5213,HSD17B4
HGNC:10545,MSMO1
HGNC:1516,CAT
HGNC:18871,MMAA
HGNC:28906,G6PC2
HGNC:24861,G6PC3
HGNC:4056,G6PC
HGNC:2323,CPS1
HGNC:1548,CBR1
HGNC:1769,CDIPT
HGNC:1801,CDS2
HGNC:1800,CDS1
HGNC:24289,CEPT1
HGNC:17852,CHPT1
HGNC:19256,CERK
HGNC:1907,CH25H
HGNC:1912,CHAT
HGNC:16815,PHOSPHO1
HGNC:8754,PCYT1A
HGNC:8755,PCYT1B
HGNC:24288,CHDH
HGNC:1937,CHKA
HGNC:1938,CHKB
HGNC:11459,SULT2B1
HGNC:17432,CHIA
HGNC:1936,CHIT1
HGNC:31736,CKMT1A
HGNC:1995,CKMT1B
HGNC:1996,CKMT2
HGNC:1991,CKB
HGNC:1994,CKM
HGNC:16148,CRLS1
HGNC:18290,CMAS
HGNC:1864,CES2
HGNC:18175,COQ3
HGNC:20233,COQ6
HGNC:2244,COQ7
HGNC:4203,GCNT1
HGNC:17973,GCNT4
HGNC:4205,GCNT3
HGNC:24141,B3GNT6
HGNC:2321,CPOX
HGNC:2422,CS
HGNC:2342,CRAT
HGNC:2366,CROT
HGNC:2519,CTPS1
HGNC:2520,CTPS2
HGNC:1795,CDO1
HGNC:2501,CTH
HGNC:1550,CBS
HGNC:1712,CDA
HGNC:13203,AICDA
HGNC:12562,UCK2
HGNC:14859,UCK1
HGNC:18170,CMPK1
HGNC:27015,CMPK2
HGNC:2850,DGKB
HGNC:2851,DGKD
HGNC:2856,DGKQ
HGNC:2854,DGKH
HGNC:2853,DGKG
HGNC:2852,DGKE
HGNC:2857,DGKZ
HGNC:2855,DGKI
HGNC:2849,DGKA
HGNC:2671,DAO
HGNC:16065,GLRX2
HGNC:4330,GLRX
HGNC:13312,GSTO1
HGNC:2727,DDO
HGNC:14601,ECI2
HGNC:2703,ECI1
HGNC:2704,DCK
HGNC:2710,DCTD
HGNC:2709,DCT
HGNC:10571,SCD
HGNC:3575,FADS2
HGNC:3574,FADS1
HGNC:16940,DGAT2
HGNC:2843,DGAT1
HGNC:4693,GUK1
HGNC:2858,DGUOK
HGNC:4416,GNPAT
HGNC:2859,DHCR24
HGNC:2651,CYP7A1
HGNC:2860,DHCR7
HGNC:13709,DEGS1
HGNC:20113,DEGS2
HGNC:11377,SULT1E1
HGNC:2861,DHFR
HGNC:3014,DPYSL2
HGNC:3015,DPYSL3
HGNC:3013,DPYS
HGNC:9752,QDPR
HGNC:4249,GGPS1
HGNC:3631,FDPS
HGNC:24475,DMGDH
HGNC:2976,DNMT1
HGNC:2977,TRDMT1
HGNC:2978,DNMT3A
HGNC:2979,DNMT3B
HGNC:23157,ALG6
HGNC:23161,ALG8
HGNC:23162,ALG10
HGNC:2689,DBH
HGNC:21063,MOXD1
HGNC:12442,TYR
HGNC:29932,COASY
HGNC:1093,BPGM
HGNC:8889,PGAM2
HGNC:8888,PGAM1
HGNC:7529,MVD
HGNC:30325,RBKS
HGNC:24269,DERA
HGNC:3061,DTYMK
HGNC:3012,DPYD
HGNC:11830,TK1
HGNC:11831,TK2
HGNC:23061,UPP2
HGNC:7892,PNP
HGNC:6176,ITPA
HGNC:3078,DUT
HGNC:3133,EBP
HGNC:3151,ECHS1
HGNC:17,AADAC
HGNC:24622,ENGASE
HGNC:3350,ENO1
HGNC:3353,ENO2
HGNC:3354,ENO3
HGNC:8756,PCYT2
HGNC:3481,ETFA
HGNC:3482,ETFB
HGNC:3483,ETFDH
HGNC:25575,ETNK2
HGNC:24649,ETNK1
HGNC:3825,FPGT
HGNC:19661,TNNI3K
HGNC:4019,FUT8
HGNC:25625,OLAH
HGNC:3570,ACSL3
HGNC:3569,ACSL1
HGNC:16496,ACSL6
HGNC:3571,ACSL4
HGNC:24174,ACSBG2
HGNC:16526,ACSL5
HGNC:10996,SLC27A2
HGNC:18049,ACSM1
HGNC:3356,ENPP1
HGNC:3358,ENPP3
HGNC:14415,ELOVL4
HGNC:14416,ELOVL2
HGNC:15829,ELOVL6
HGNC:21308,ELOVL5
HGNC:2644,CYP4B1
HGNC:23198,CYP4V2
HGNC:9208,POR
HGNC:2642,CYP4A11
HGNC:88,ACADL
HGNC:10606,SCP2
HGNC:92,ACADVL
HGNC:2753,DECR1
HGNC:2754,DECR2
HGNC:417,ALDOB
HGNC:414,ALDOA
HGNC:418,ALDOC
HGNC:3607,FBP2
HGNC:3606,FBP1
HGNC:8872,PFKFB1
HGNC:8874,PFKFB3
HGNC:8873,PFKFB2
HGNC:8875,PFKFB4
HGNC:3647,FECH
HGNC:3978,ALDH1L1
HGNC:20797,CYBRD1
HGNC:29500,FCSK
HGNC:20910,AFMID
HGNC:24671,FLAD1
HGNC:3824,FPGS
HGNC:3974,FTCD
HGNC:7437,MTHFS
HGNC:26777,ALDH1L2
HGNC:7432,MTHFD1
HGNC:21055,MTHFD1L
HGNC:4008,FUCA2
HGNC:4006,FUCA1
HGNC:3700,FH
HGNC:3579,FAH
HGNC:4012,FUT1
HGNC:4014,FUT3
HGNC:4020,FUT9
HGNC:926,B4GALT3
HGNC:925,B4GALT2
HGNC:924,B4GALT1
HGNC:928,B4GALT5
HGNC:4455,GPD1
HGNC:21526,GNPDA2
HGNC:4417,GNPDA1
HGNC:4795,H6PD
HGNC:4057,G6PD
HGNC:4136,GAMT
HGNC:24240,GAL3ST1
HGNC:7758,NEU1
HGNC:4122,GALNS
HGNC:9251,CTSA
HGNC:4298,GLB1
HGNC:4115,GALC
HGNC:4117,B4GALNT1
HGNC:4118,GALK1
HGNC:4119,GALK2
HGNC:24292,CSGALNACT2
HGNC:24290,CSGALNACT1
HGNC:24293,CHSY3
HGNC:24291,CHPF
HGNC:17198,CHSY1
HGNC:4124,GALNT2
HGNC:19873,GALNT10
HGNC:22946,GALNT14
HGNC:4123,GALNT1
HGNC:4125,GALNT3
HGNC:4129,GALNT7
HGNC:23242,GALNT13
HGNC:19877,GALNT12
HGNC:4128,GALNT6
HGNC:21531,GALNT15
HGNC:4130,GALNT8
HGNC:4126,GALNT4
HGNC:4127,GALNT5
HGNC:4131,GALNT9
HGNC:19875,GALNT11
HGNC:4135,GALT
HGNC:17978,B3GALT6
HGNC:930,B4GALT7
HGNC:12527,UGP2
HGNC:7043,MGAM
HGNC:95,SLC33A1
HGNC:24864,GAPDHS
HGNC:4141,GAPDH
HGNC:4163,GART
HGNC:318,AGA
HGNC:4177,GBA
HGNC:20460,GBGT1
HGNC:408,ALDH5A1
HGNC:7179,ALDH6A1
HGNC:4208,GCSH
HGNC:4313,GLDC
HGNC:473,AMT
HGNC:4204,GCNT2
HGNC:4242,GFPT2
HGNC:4241,GFPT1
HGNC:12390,GFUS
HGNC:4248,GGH
HGNC:4706,GYS1
HGNC:4699,GYG1
HGNC:4707,GYS2
HGNC:4700,GYG2
HGNC:4260,GGT5
HGNC:10850,SHMT1
HGNC:10852,SHMT2
HGNC:4296,GLA
HGNC:4180,GBE1
HGNC:4696,GUSB
HGNC:5322,HYAL3
HGNC:17855,GLCE
HGNC:29270,CHPF2
HGNC:3513,EXT2
HGNC:3512,EXT1
HGNC:922,B3GAT2
HGNC:921,B3GAT1
HGNC:923,B3GAT3
HGNC:7632,NAGLU
HGNC:7680,NDST1
HGNC:20779,NDST4
HGNC:7681,NDST2
HGNC:7682,NDST3
HGNC:3518,EXTL3
HGNC:3516,EXTL2

HGNC:3515,EXTL1
HGNC:321,AGL
HGNC:21016,LGSN
HGNC:4341,GLUL
HGNC:9723,PYGB
HGNC:9725,PYGL
HGNC:9726,PYGM
HGNC:4312,GCLM
HGNC:4311,GCLC
HGNC:4335,GLUD1
HGNC:4336,GLUD2
HGNC:4331,GLS
HGNC:29570,GLS2
HGNC:9238,PPAT
HGNC:4189,GCDH
HGNC:19708,LDHD
HGNC:4809,HAO1
HGNC:4810,HAO2
HGNC:4175,GATM
HGNC:4570,GRHPR
HGNC:4291,GK2
HGNC:4289,GK
HGNC:4805,HAGH
HGNC:14177,HAGHL
HGNC:4369,GMDS
HGNC:4376,GMPR
HGNC:4377,GMPR2
HGNC:4378,GMPS
HGNC:8891,PGD
HGNC:4415,GNMT
HGNC:24865,GPAM
HGNC:28157,GPAT3
HGNC:27168,GPAT2
HGNC:23213,PIGW
HGNC:25712,PGAP1
HGNC:4623,GSR
HGNC:4553,GPX1
HGNC:9353,PRDX2
HGNC:4556,GPX4
HGNC:9352,PRDX1
HGNC:4554,GPX2
HGNC:4555,GPX3
HGNC:4559,GPX7
HGNC:4558,GPX6
HGNC:9354,PRDX3
HGNC:4624,GSS
HGNC:4193,GCH1
HGNC:7944,NPR2
HGNC:4689,GUCY2D
HGNC:4688,GUCY2C
HGNC:7943,NPR1
HGNC:4691,GUCY2F
HGNC:4686,GUCY1B2
HGNC:4685,GUCY1A1
HGNC:4687,GUCY1B1
HGNC:4684,GUCY1A2
HGNC:4212,GDA
HGNC:5157,HPRT1
HGNC:1372,CA14
HGNC:1371,CA12
HGNC:1373,CA2
HGNC:1374,CA3
HGNC:1380,CA6
HGNC:1381,CA7
HGNC:14914,CA13
HGNC:1383,CA9
HGNC:1368,CA1
HGNC:1375,CA4
HGNC:1378,CA5B
HGNC:1377,CA5A
HGNC:8967,PIGN
HGNC:13273,DUOX2
HGNC:3062,DUOX1
HGNC:23215,PIGO
HGNC:8962,PIGF
HGNC:25985,PIGG
HGNC:4446,GPAA1
HGNC:14937,PIGS
HGNC:14938,PIGT
HGNC:8965,PIGK
HGNC:15791,PIGU
HGNC:30596,PIGZ
HGNC:4799,HADH
HGNC:4800,HSD17B10
HGNC:25223,COQ2
HGNC:23302,HKDC1
HGNC:4922,HK1
HGNC:4195,GCK
HGNC:4925,HK3
HGNC:4923,HK2
HGNC:4892,HGD
HGNC:4907,HIBADH
HGNC:4806,HAL
HGNC:4855,HDC
HGNC:6469,KYNU
HGNC:4982,HMBS
HGNC:5006,HMGCR
HGNC:5007,HMGCS1
HGNC:5008,HMGCS2
HGNC:21359,HMGCLL1
HGNC:5005,HMGCL
HGNC:5014,HMOX2
HGNC:5013,HMOX1
HGNC:10818,SGSH
HGNC:5208,HSD11B1
HGNC:5209,HSD11B2
HGNC:5210,HSD17B1
HGNC:3554,HSD17B8
HGNC:5211,HSD17B2
HGNC:5215,HSD17B7
HGNC:5217,HSD3B1
HGNC:5218,HSD3B2
HGNC:18324,HSD3B7
HGNC:30259,PDXP
HGNC:5386,IDH3G
HGNC:5384,IDH3A
HGNC:5385,IDH3B
HGNC:5382,IDH1
HGNC:5383,IDH2
HGNC:12015,TPO
HGNC:5391,IDUA
HGNC:976,BCAT1
HGNC:977,BCAT2
HGNC:6052,IMPDH1
HGNC:6053,IMPDH2
HGNC:14522,MIOX
HGNC:5387,IDI1
HGNC:23487,IDI2
HGNC:11449,SUCLG1
HGNC:11450,SUCLG2
HGNC:11448,SUCLA2
HGNC:28577,AMDHD1
HGNC:6315,KHK
HGNC:6381,KMO
HGNC:6530,LCT
HGNC:6522,LCAT
HGNC:4323,GLO1
HGNC:2648,CYP4F8
HGNC:6708,LSS
HGNC:2014,CLC
HGNC:15449,LGALS13
HGNC:9035,PLA2G4A
HGNC:17804,PIPOX
HGNC:1848,CEL
HGNC:6677,LPL
HGNC:6619,LIPC
HGNC:18590,PNPLA3
HGNC:17038,MGLL
HGNC:17934,PLA2G3
HGNC:9156,PNLIPRP1
HGNC:6622,LIPF
HGNC:6623,LIPG
HGNC:9155,PNLIP
HGNC:6685,LRAT
HGNC:10547,SC5D
HGNC:6710,LTA4H
HGNC:7063,MGST2
HGNC:6719,LTC4S
HGNC:7064,MGST3
HGNC:24650,EHMT1
HGNC:24948,DOT1L
HGNC:10761,SETDB1
HGNC:29489,KMT5A
HGNC:17287,SUV39H2
HGNC:11479,SUV39H1
HGNC:13726,KMT2C
HGNC:30412,SETD7
HGNC:20263,SETDB2
HGNC:14129,EHMT2
HGNC:6825,MAN2A2
HGNC:6824,MAN2A1
HGNC:7044,MGAT1
HGNC:7048,MGAT4B
HGNC:7047,MGAT4A
HGNC:7046,MGAT3
HGNC:7049,MGAT5
HGNC:7045,MGAT2
HGNC:4643,GSTZ1
HGNC:4139,GANC
HGNC:4065,GAA
HGNC:6823,MAN1B1
HGNC:22923,GMPPA
HGNC:22932,GMPPB
HGNC:7216,MPI
HGNC:6937,MCCC2
HGNC:6936,MCCC1
HGNC:7150,MLYCD
HGNC:29622,MCAT
HGNC:7223,MPST
HGNC:17836,MDH1B
HGNC:6970,MDH1
HGNC:6971,MDH2
HGNC:6984,ME2
HGNC:6983,ME1
HGNC:6985,ME3
HGNC:2597,CYP1B1
HGNC:2596,CYP1A2
HGNC:2621,CYP2C19
HGNC:2595,CYP1A1
HGNC:6903,MAT1A
HGNC:6904,MAT2A
HGNC:6905,MAT2B
HGNC:7468,MTR
HGNC:7530,MVK
HGNC:24862,MOGS
HGNC:941,BAG5
HGNC:4138,GANAB
HGNC:20739,IPMK
HGNC:6080,INPPL1
HGNC:11503,SYNJ1
HGNC:6076,INPP5A
HGNC:8956,INPP5J
HGNC:21474,INPP5E
HGNC:6079,INPP5D
HGNC:6077,INPP5B
HGNC:6071,INPP1
HGNC:14897,ITPKC
HGNC:6178,ITPKA
HGNC:6179,ITPKB
HGNC:6051,IMPA2
HGNC:7450,MTMR2
HGNC:6050,IMPA1
HGNC:7449,MTMR1
HGNC:29821,ISYNA1
HGNC:6075,INPP4B
HGNC:6074,INPP4A
HGNC:6822,MAN1A2
HGNC:6821,MAN1A1
HGNC:19080,MAN1C1
HGNC:16732,MCEE
HGNC:7526,MMUT
HGNC:23248,MOGAT2
HGNC:18210,MOGAT1
HGNC:7413,MTAP
HGNC:7434,MTHFD2
HGNC:7436,MTHFR
HGNC:31865,MTHFD2L
HGNC:24337,C1GALT1
HGNC:756,ASPA
HGNC:24104,ACY3
HGNC:29831,NADK
HGNC:1667,CD38
HGNC:29832,NADSYN1
HGNC:7631,NAGA
HGNC:20675,CNDP1
HGNC:24437,CNDP2
HGNC:19721,CANT1
HGNC:28777,DCTPP1
HGNC:14573,ENTPD4
HGNC:7851,NME3
HGNC:7849,NME1
HGNC:20567,NME6
HGNC:20461,NME7
HGNC:7850,NME2
HGNC:7852,NME4
HGNC:20989,NMNAT3
HGNC:17877,NMNAT1
HGNC:16789,NMNAT2
HGNC:30092,NAMPT
HGNC:7861,NNMT
HGNC:9160,PNMT
HGNC:7876,NOS3
HGNC:23614,ST6GALNAC1
HGNC:8022,NT5C2
HGNC:17818,NT5C1B
HGNC:8021,NT5E
HGNC:17144,NT5C
HGNC:17820,NT5C3A
HGNC:8918,PHEX
HGNC:15769,NT5M
HGNC:4678,GUCA1A
HGNC:10856,SI
HGNC:8512,OTC
HGNC:18606,OXCT2
HGNC:8527,OXCT1
HGNC:986,BCKDHA
HGNC:2698,DBT
HGNC:12563,UMPS
HGNC:8149,OPLAH
HGNC:8109,ODC1
HGNC:8091,OAT
HGNC:2590,CYP11A1
HGNC:2591,CYP11B1
HGNC:2592,CYP11B2
HGNC:2593,CYP17A1
HGNC:2594,CYP19A1
HGNC:2600,CYP21A2
HGNC:2605,CYP27A1
HGNC:2608,CYP2A13
HGNC:2610,CYP2A6
HGNC:2637,CYP3A4
HGNC:2652,CYP7B1
HGNC:2622,CYP2C8
HGNC:2623,CYP2C9
HGNC:2625,CYP2D6
HGNC:2632,CYP2F1
HGNC:2615,CYP2B6
HGNC:17450,CYP3A43
HGNC:2640,CYP3A7
HGNC:18857,CYP4F12
HGNC:2646,CYP4F3
HGNC:2645,CYP4F2
HGNC:2653,CYP8B1
HGNC:9721,PYCR1
HGNC:8579,PAFAH2
HGNC:8575,PAFAH1B2
HGNC:8576,PAFAH1B3
HGNC:8574,PAFAH1B1
HGNC:9040,PLA2G7
HGNC:9068,PLD2
HGNC:9067,PLD1
HGNC:19288,ACMSD
HGNC:9082,PLOD2
HGNC:9083,PLOD3
HGNC:9081,PLOD1
HGNC:8636,PC
HGNC:8773,PDE11A
HGNC:8775,PDE1B
HGNC:8782,PDE4C
HGNC:8772,PDE10A
HGNC:8780,PDE4A
HGNC:8776,PDE1C
HGNC:8774,PDE1A
HGNC:8783,PDE4D
HGNC:8793,PDE8A
HGNC:8781,PDE4B
HGNC:8791,PDE7A
HGNC:8794,PDE8B
HGNC:8779,PDE3B
HGNC:8792,PDE7B
HGNC:8777,PDE2A
HGNC:8778,PDE3A
HGNC:8787,PDE6C
HGNC:8786,PDE6B
HGNC:8784,PDE5A
HGNC:8789,PDE6G
HGNC:8795,PDE9A
HGNC:8788,PDE6D
HGNC:8790,PDE6H
HGNC:8785,PDE6A
HGNC:8806,PDHA1
HGNC:8807,PDHA2
HGNC:2896,DLAT
HGNC:8808,PDHB
HGNC:30260,PNPO
HGNC:8724,PCK1
HGNC:8725,PCK2
HGNC:8830,PEMT
HGNC:8877,PFKM
HGNC:8876,PFKL
HGNC:8878,PFKP
HGNC:8923,PHGDH
HGNC:9592,PTGDS
HGNC:17890,HPGDS
HGNC:9599,PTGES
HGNC:17822,PTGES2
HGNC:4458,GPI
HGNC:9603,PTGIS
HGNC:8898,PGK2
HGNC:8896,PGK1
HGNC:8903,PGLS
HGNC:8909,PGP
HGNC:8905,PGM1
HGNC:8906,PGM2
HGNC:26965,PTPMT1
HGNC:30029,PGS1
HGNC:9604,PTGS1
HGNC:9605,PTGS2
HGNC:11573,TAT
HGNC:8582,PAH
HGNC:8940,PHYH
HGNC:9588,PTEN
HGNC:11504,SYNJ2
HGNC:8994,PIP5K1A
HGNC:8996,PIP5K1C
HGNC:8995,PIP5K1B
HGNC:8983,PI4KA
HGNC:30031,PI4K2A
HGNC:8984,PI4KB
HGNC:8979,PIK3R1
HGNC:8977,PIK3CD
HGNC:8978,PIK3CG
HGNC:30035,PIK3R5
HGNC:8980,PIK3R2
HGNC:16977,HCST
HGNC:8975,PIK3CA
HGNC:8976,PIK3CB
HGNC:8981,PIK3R3
HGNC:8108,OCRL
HGNC:9065,PLCG1
HGNC:26462,PLCXD2
HGNC:9055,PLCB2
HGNC:9066,PLCG2
HGNC:9061,PLCD3
HGNC:9062,PLCD4
HGNC:17175,PLCE1
HGNC:9056,PLCB3
HGNC:9059,PLCB4
HGNC:29037,PLCH2
HGNC:9063,PLCL1
HGNC:15917,PLCB1
HGNC:29185,PLCH1
HGNC:19218,PLCZ1
HGNC:9060,PLCD1
HGNC:8973,PIK3C2G
HGNC:8972,PIK3C2B
HGNC:8971,PIK3C2A
HGNC:23785,PIKFYVE
HGNC:8974,PIK3C3
HGNC:3006,DPM2
HGNC:8964,PIGH
HGNC:3046,PIGP
HGNC:14135,PIGQ
HGNC:8957,PIGA
HGNC:8960,PIGC
HGNC:18554,PLA2G12A
HGNC:9036,PLA2G4B
HGNC:9031,PLA2G2A
HGNC:30040,PLA2G2F
HGNC:24791,PLA2G4E
HGNC:9039,PLA2G6
HGNC:9038,PLA2G5
HGNC:9030,PLA2G1B
HGNC:9029,PLA2G10
HGNC:9033,PLA2G2D
HGNC:13414,PLA2G2E
HGNC:9114,PMM1
HGNC:9115,PMM2
HGNC:9141,PMVK
HGNC:17269,IP6K3
HGNC:18360,IP6K1
HGNC:17313,IP6K2
HGNC:12705,VNN1
HGNC:12706,VNN2
HGNC:16431,VNN3
HGNC:15894,PANK2
HGNC:8598,PANK1
HGNC:19365,PANK3
HGNC:19366,PANK4
HGNC:30042,LHPP
HGNC:9226,PPA1
HGNC:28883,PPA2
HGNC:9228,PLPP1
HGNC:9230,PLPP2
HGNC:9229,PLPP3
HGNC:395,ALAD
HGNC:28107,PPCDC
HGNC:8654,PCCB
HGNC:8653,PCCA
HGNC:25686,PPCS
HGNC:9280,PPOX
HGNC:3423,EPX
HGNC:16753,PRDX6
HGNC:7218,MPO
HGNC:8863,PFAS
HGNC:8547,P4HA2
HGNC:8546,P4HA1
HGNC:8548,P4HB
HGNC:17325,PRODH2
HGNC:9453,PRODH
HGNC:9462,PRPS1
HGNC:9465,PRPS2
HGNC:9463,PRPS1L1
HGNC:8999,PISD
HGNC:19129,PSAT1
HGNC:9577,PSPH
HGNC:9587,PTDSS1
HGNC:15463,PTDSS2
HGNC:18431,ACOT2
HGNC:19748,ACOT4
HGNC:15919,ACOT8
HGNC:9689,PTS
HGNC:23160,SAT2
HGNC:10540,SAT1
HGNC:8819,PDXK
HGNC:9021,PKM
HGNC:9020,PKLR
HGNC:12576,UPP1
HGNC:4638,GSTP1
HGNC:4632,GSTM1
HGNC:4626,GSTA1
HGNC:30324,RFK
HGNC:9940,RDH5
HGNC:29674,RDH16
HGNC:17964,RDH11
HGNC:19977,RDH12
HGNC:30311,SDR16C5
HGNC:14423,RDH8
HGNC:19975,RDH10
HGNC:19979,RDH14
HGNC:19978,RDH13
HGNC:24887,PNPLA4
HGNC:10452,RRM2
HGNC:17296,RRM2B
HGNC:10451,RRM1
HGNC:26057,NMRK1
HGNC:10293,RPE
HGNC:10297,RPIA
HGNC:10864,ST3GAL4
HGNC:10862,ST3GAL1
HGNC:10863,ST3GAL2
HGNC:10866,ST3GAL3
HGNC:10860,ST6GAL1
HGNC:17223,UST
HGNC:5193,HS2ST1

HGNC:5389,IDS
HGNC:19419,HS3ST5
HGNC:5200,HS3ST4
HGNC:5194,HS3ST1
HGNC:5195,HS3ST2
HGNC:5196,HS3ST3A1
HGNC:5198,HS3ST3B1
HGNC:14178,HS3ST6
HGNC:17422,CHST11
HGNC:17423,CHST12
HGNC:21755,CHST13
HGNC:24464,CHST14
HGNC:714,ARSB
HGNC:1972,CHST4
HGNC:1973,CHST5
HGNC:1970,CHST2
HGNC:6938,CHST6
HGNC:1971,CHST3
HGNC:1969,CHST1
HGNC:13817,CHST7
HGNC:5201,HS6ST1
HGNC:19134,HS6ST3
HGNC:19133,HS6ST2
HGNC:4422,GNS
HGNC:17366,AASS
HGNC:26309,COMTD1
HGNC:5028,HNMT
HGNC:10536,SARDH
HGNC:17720,SGPP1
HGNC:11184,SORD
HGNC:22204,AHCYL2
HGNC:18161,SCLY
HGNC:19685,SEPHS1
HGNC:19686,SEPHS2
HGNC:16253,SPTLC3
HGNC:11278,SPTLC2
HGNC:11277,SPTLC1
HGNC:3465,ESD
HGNC:10817,SGPL1
HGNC:7759,NEU2
HGNC:21328,NEU4
HGNC:10872,ST3GAL5
HGNC:18859,SPHK2
HGNC:11240,SPHK1
HGNC:14240,SMPD3
HGNC:32949,SMPD4
HGNC:23764,ENPP7
HGNC:11120,SMPD1
HGNC:11121,SMPD2
HGNC:29799,SGMS1
HGNC:11177,SOAT1
HGNC:11296,SRM
HGNC:11179,SOD1
HGNC:11181,SOD3
HGNC:11180,SOD2
HGNC:11257,SPR
HGNC:11123,SMS
HGNC:11279,SQLE
HGNC:3629,FDFT1
HGNC:11284,SRD5A1
HGNC:11285,SRD5A2
HGNC:19,AANAT
HGNC:6069,INMT
HGNC:18080,ST3GAL6
HGNC:10867,ST6GALNAC2
HGNC:19343,ST6GALNAC3
HGNC:23364,ST6GALNAC6
HGNC:19342,ST6GALNAC5
HGNC:10869,ST8SIA1
HGNC:17827,ST8SIA5
HGNC:11425,STS
HGNC:10681,SDHB
HGNC:10680,SDHA
HGNC:10683,SDHD
HGNC:10682,SDHC
HGNC:11559,TALDO1
HGNC:20324,TGDS
HGNC:8646,PCBD1
HGNC:18987,THTPA
HGNC:30404,SDSL
HGNC:26160,THNSL1
HGNC:11834,TKT
HGNC:11835,TKTL1
HGNC:25313,TKTL2
HGNC:17358,TPK1
HGNC:3148,TYMP
HGNC:12441,TYMS
HGNC:18308,TMLHE
HGNC:12009,TPI1
HGNC:12437,TXNRD1
HGNC:18155,TXNRD2
HGNC:20667,TXNRD3
HGNC:12266,TREH
HGNC:26210,PGGHG
HGNC:20692,TPH2
HGNC:12008,TPH1
HGNC:27269,IDO2
HGNC:11708,TDO2
HGNC:11609,TBXAS1
HGNC:11782,TH
HGNC:12450,TYRP1
HGNC:4116,GALE
HGNC:28082,UAP1L1
HGNC:12457,UAP1
HGNC:12525,UGDH
HGNC:17729,UXS1
HGNC:3357,ENPP2
HGNC:6480,LALBA
HGNC:12524,UGCG
HGNC:12540,UGT1A8
HGNC:12531,UGT1A10
HGNC:12537,UGT1A5
HGNC:12541,UGT1A9
HGNC:12536,UGT1A4
HGNC:12530,UGT1A1
HGNC:12538,UGT1A6
HGNC:12539,UGT1A7
HGNC:12535,UGT1A3
HGNC:12554,UGT2B7
HGNC:13479,UGT2B28
HGNC:12547,UGT2B17
HGNC:12553,UGT2B4
HGNC:12592,UROS
HGNC:12591,UROD
HGNC:26444,UROC1
HGNC:15938,UCKL1
HGNC:10999,SLC27A5
HGNC:12805,XDH
HGNC:12839,XYLB
HGNC:15517,XYLT2
HGNC:15516,XYLT1
HGNC:18985,DCXR
HGNC:7056,OGA
HGNC:2295,CP
HGNC:3999,FTL
HGNC:3976,FTH1
HGNC:17345,FTMT
HGNC:17819,NT5C1A
HGNC:38831,NT5C1B-RDH14
HGNC:29878,NIT2
HGNC:20123,ASPG
HGNC:33426,GGTLC3
HGNC:4259,GGT7
HGNC:26891,GGT6
HGNC:4250,GGT1
HGNC:18596,GGTLC2
HGNC:4251,GGT2
HGNC:16437,GGTLC1
HGNC:11460,SUOX
HGNC:29268,CARNS1
HGNC:24157,ACOT7
HGNC:33128,ACOT1
HGNC:9325,PPT1
HGNC:9326,PPT2
HGNC:19691,MECR
HGNC:121,ACOX3
HGNC:24247,GLYCTK
HGNC:32393,TMEM91
HGNC:987,BCKDHB
HGNC:30450,NAPRT
HGNC:9755,QPRT
HGNC:21088,SCD5
HGNC:23506,ADO
HGNC:21705,GGCT
HGNC:12388,TST
HGNC:30262,PYCR2
HGNC:2649,CYP51A1
HGNC:19953,SGPP2
HGNC:18281,PECR
HGNC:11178,SOAT2
HGNC:6617,LIPA
HGNC:26063,OXSM
HGNC:1382,CA8
HGNC:33159,ACOT6
HGNC:14418,ELOVL1
HGNC:6678,LPO
HGNC:24474,PCBD2
HGNC:14903,SULT4A1
HGNC:30502,LYZL1
HGNC:12545,UGT2B11
HGNC:12544,UGT2B10
HGNC:12546,UGT2B15
HGNC:13557,ACE2
HGNC:16058,NLN
HGNC:33238,KYAT3
HGNC:20837,PAOX
HGNC:17449,CYP39A1
HGNC:7061,MGST1
HGNC:16906,GSTK1
HGNC:1549,CBR3
HGNC:16985,DHRS4
HGNC:2158,CNP
HGNC:2603,CYP26A1
HGNC:20581,CYP26B1
HGNC:3402,EPHX2
HGNC:3401,EPHX1
HGNC:23786,PIP4K2C
HGNC:8998,PIP4K2B
HGNC:8997,PIP4K2A
HGNC:13734,GLYAT
HGNC:2638,CYP3A5
HGNC:2097,CMA1
HGNC:17245,CPA6
HGNC:15722,CPA5
HGNC:2296,CPA1
HGNC:2297,CPA2
HGNC:2073,TPP1
HGNC:12019,TPSAB1
HGNC:14118,TPSD1
HGNC:14120,TPSB2
HGNC:30748,TRHDE
HGNC:18704,NAA10
HGNC:26820,CYP4F22
HGNC:2707,ACE
HGNC:6344,KL
HGNC:929,B4GALT6
HGNC:12555,UGT8
HGNC:5212,HSD17B3
HGNC:17856,HACL1
HGNC:7451,MTMR3
HGNC:16049,PTGES3
HGNC:3771,FMO3
HGNC:3770,FMO2
HGNC:3772,FMO4
HGNC:3769,FMO1
HGNC:3773,FMO5
HGNC:2620,CYP2C18
HGNC:2611,CYP2A7
HGNC:2634,CYP2J2
HGNC:13265,CYP4F11
HGNC:15654,CYP2S1
HGNC:20244,CYP4X1
HGNC:20583,CYP4Z1
HGNC:29567,ACSBG1
HGNC:3002,DPEP1
HGNC:8840,PEPD
HGNC:18449,LAP3
HGNC:4866,HEPH
HGNC:25846,PYCR3
HGNC:23287,ETHE1
HGNC:26404,NADK2
HGNC:4187,GC
HGNC:2548,CUBN
HGNC:6694,LRP2
HGNC:14411,SLC25A21
HGNC:10924,SLC16A3
HGNC:10928,SLC16A7
HGNC:10922,SLC16A1
HGNC:18168,SLC4A5
HGNC:11030,SLC4A4
HGNC:17027,SLC16A10
HGNC:10982,SLC25A12
HGNC:10983,SLC25A13
HGNC:51,ABCC1
HGNC:10937,SLC19A1
HGNC:10935,SLC18A2
HGNC:10934,SLC18A1
HGNC:18761,SLC36A1
HGNC:11044,SLC6A11
HGNC:11042,SLC6A1
HGNC:11046,SLC6A13
HGNC:11045,SLC6A12
HGNC:10936,SLC18A3
HGNC:10933,SLC17A5
HGNC:1421,SLC25A20
HGNC:11004,SLC29A2
HGNC:23096,SLC29A3
HGNC:11003,SLC29A1
HGNC:16484,SLC28A3
HGNC:11002,SLC28A2
HGNC:11001,SLC28A1
HGNC:10981,SLC25A11
HGNC:10980,SLC25A10
HGNC:14430,SLC13A3
HGNC:10943,SLC1A5
HGNC:10942,SLC1A4
HGNC:11058,SLC7A10
HGNC:11026,SLC3A2
HGNC:18762,SLC36A2
HGNC:13447,SLC38A1
HGNC:13448,SLC38A2
HGNC:27960,SLC6A19
HGNC:11047,SLC6A14
HGNC:11057,SLC7A1
HGNC:29437,CLTRN
HGNC:14679,SLC38A4
HGNC:11060,SLC7A2
HGNC:11061,SLC7A3
HGNC:18070,SLC38A5
HGNC:18044,SLC38A3
HGNC:20661,SLC25A26
HGNC:11064,SLC7A6
HGNC:22921,SLC25A2
HGNC:10985,SLC25A15
HGNC:10973,SLC23A2
HGNC:10974,SLC23A1
HGNC:10945,SLC1A7
HGNC:10941,SLC1A3
HGNC:10940,SLC1A2
HGNC:10944,SLC1A6
HGNC:10939,SLC1A1
HGNC:866,ATP6V0A4
HGNC:18265,ATP6V1G3
HGNC:18264,ATP6V1C2
HGNC:851,ATP6V1A
HGNC:13724,ATP6V0D1
HGNC:855,ATP6V0C
HGNC:864,ATP6V1G1
HGNC:11647,TCIRG1
HGNC:857,ATP6V1E1
HGNC:856,ATP6V1C1
HGNC:18125,ATP6V1E2
HGNC:865,ATP6V0A1
HGNC:18481,ATP6V0A2
HGNC:863,ATP6V0E1
HGNC:861,ATP6V0B
HGNC:16832,ATP6V1F
HGNC:853,ATP6V1B1
HGNC:18303,ATP6V1H
HGNC:18266,ATP6V0D2
HGNC:862,ATP6V1G2
HGNC:13527,ATP6V1D
HGNC:854,ATP6V1B2
HGNC:830,ATP5F1B
HGNC:14247,ATP5MG
HGNC:18799,DMAC2L
HGNC:840,ATP5PB
HGNC:833,ATP5F1C
HGNC:845,ATP5PD
HGNC:841,ATP5MC1
HGNC:823,ATP5F1A
HGNC:838,ATP5F1E
HGNC:850,ATP5PO
HGNC:843,ATP5MC3
HGNC:847,ATP5PF
HGNC:842,ATP5MC2
HGNC:8016,NSF
HGNC:846,ATP5ME
HGNC:848,ATP5MF
HGNC:13213,ATP5MGL
HGNC:837,ATP5F1D
HGNC:10990,SLC25A4
HGNC:10991,SLC25A5
HGNC:10992,SLC25A6
HGNC:7898,NPC1L1
HGNC:1664,SCARB1
HGNC:11018,SLC32A1
HGNC:10959,SLCO1B1
HGNC:54,ABCC3
HGNC:53,ABCC2
HGNC:10961,SLCO1B3
HGNC:11041,SLC5A6
HGNC:16266,SLC19A3
HGNC:815,ATP2B2
HGNC:816,ATP2B3
HGNC:814,ATP2B1
HGNC:817,ATP2B4
HGNC:55,ABCC4
HGNC:56,ABCC5
HGNC:14639,ABCC11
HGNC:11068,SLC8A1
HGNC:11069,SLC8A2
HGNC:11070,SLC8A3
HGNC:2205,CERT1
HGNC:10921,SLC15A2
HGNC:10956,SLCO1A2
HGNC:10905,SLC10A1
HGNC:10906,SLC10A2
HGNC:42,ABCB11
HGNC:14025,SLC5A7
HGNC:10969,SLC22A5
HGNC:10966,SLC22A2
HGNC:13886,ABCG5
HGNC:13887,ABCG8
HGNC:29,ABCA1
HGNC:17579,STARD3
HGNC:10917,SLC13A2
HGNC:10979,SLC25A1
HGNC:8818,SLC26A4
HGNC:14472,SLC26A6
HGNC:11021,SLC35A1
HGNC:10986,SLC25A16
HGNC:11055,SLC6A8
HGNC:10968,SLC22A4
HGNC:2294,COX8A
HGNC:2579,CYC1
HGNC:2288,COX7A2
HGNC:2292,COX7C
HGNC:2267,COX5A
HGNC:12590,UQCRH
HGNC:30862,UQCR11
HGNC:12587,UQCRFS1
HGNC:2285,COX6C
HGNC:2291,COX7B
HGNC:7427,MT-CYB
HGNC:29594,UQCRQ
HGNC:2277,COX6A1
HGNC:2269,COX5B
HGNC:2265,COX4I1
HGNC:12585,UQCRC1
HGNC:30863,UQCR10
HGNC:2279,COX6A2
HGNC:24381,COX7B2
HGNC:12586,UQCRC2
HGNC:2280,COX6B1
HGNC:24382,COX8C
HGNC:12582,UQCRB
HGNC:11063,SLC7A5
HGNC:11066,SLC7A8
HGNC:23087,SLC43A2
HGNC:11059,SLC7A11
HGNC:11067,SLC7A9
HGNC:11025,SLC3A1
HGNC:11009,SLC2A4
HGNC:11005,SLC2A1
HGNC:11007,SLC2A3
HGNC:10962,SLCO2B1
HGNC:2867,DHODH
HGNC:16270,SLC16A8
HGNC:14409,SLC25A19
HGNC:11049,SLC6A3
HGNC:11048,SLC6A2
HGNC:10967,SLC22A3
HGNC:10953,SLCO4A1
HGNC:13819,SLCO1C1
HGNC:10952,SLCO3A1
HGNC:10998,SLC27A4
HGNC:10997,SLC27A3
HGNC:10995,SLC27A1
HGNC:13812,SLC2A8
HGNC:13445,SLC2A7
HGNC:11006,SLC2A2
HGNC:11010,SLC2A5
HGNC:14239,SLC2A11
HGNC:22146,SLC5A9
HGNC:23155,SLC5A10
HGNC:4456,GPD2
HGNC:4061,SLC37A4
HGNC:13444,SLC2A10
HGNC:11036,SLC5A1
HGNC:11037,SLC5A2
HGNC:20197,SLC35C1
HGNC:28750,SLC5A12
HGNC:11038,SLC5A3
HGNC:23091,SLC5A11
HGNC:19954,SLC25A22
HGNC:10988,SLC25A18
HGNC:20151,SLC17A8
HGNC:16703,SLC17A6
HGNC:16704,SLC17A7
HGNC:11056,SLC6A9
HGNC:7103,MIP
HGNC:633,AQP1
HGNC:638,AQP5
HGNC:634,AQP2
HGNC:637,AQP4
HGNC:642,AQP8
HGNC:4819,HAS2
HGNC:4818,HAS1
HGNC:4820,HAS3
HGNC:11027,SLC4A1
HGNC:11028,SLC4A2
HGNC:11035,SLC4A9
HGNC:11029,SLC4A3
HGNC:819,ATP4A
HGNC:820,ATP4B
HGNC:12519,UCP3
HGNC:12517,UCP1
HGNC:12518,UCP2
HGNC:21065,SLC25A27
HGNC:10984,SLC25A14
HGNC:9225,SLC43A1
HGNC:15956,SLC2A13

HGNC:19119,SLC5A8
HGNC:10914,SLC12A6
HGNC:10913,SLC12A4
HGNC:10915,SLC12A7
HGNC:13818,SLC12A5
HGNC:17123,SLC9A7
HGNC:20728,SLC9A8
HGNC:18057,SLC22A10
HGNC:26516,CYB5D1
HGNC:643,AQP9
HGNC:7700,NDUFB5
HGNC:7459,MT-ND4
HGNC:7692,NDUFA8
HGNC:7699,NDUFB4
HGNC:7702,NDUFB7
HGNC:7711,NDUFS4
HGNC:7714,NDUFS7
HGNC:7458,MT-ND3
HGNC:30242,TUSC3
HGNC:17194,NDUFA13
HGNC:7687,NDUFA4
HGNC:20372,NDUFB11
HGNC:7708,NDUFS2
HGNC:7698,NDUFB3
HGNC:7715,NDUFS8
HGNC:7685,NDUFA2
HGNC:7455,MT-ND1
HGNC:7716,NDUFV1
HGNC:7460,MT-ND4L
HGNC:7686,NDUFA3
HGNC:7695,NDUFB1
HGNC:7461,MT-ND5
HGNC:7691,NDUFA7
HGNC:7713,NDUFS6
HGNC:7684,NDUFA10
HGNC:20371,NDUFA11
HGNC:7703,NDUFB8
HGNC:7693,NDUFA9
HGNC:7717,NDUFV2
HGNC:7690,NDUFA6
HGNC:7701,NDUFB6
HGNC:7683,NDUFA1
HGNC:7706,NDUFC2
HGNC:7456,MT-ND2
HGNC:7705,NDUFC1
HGNC:7719,NDUFV3
HGNC:7697,NDUFB2
HGNC:7710,NDUFS3
HGNC:7707,NDUFS1
HGNC:7704,NDUFB9
HGNC:7688,NDUFA5
HGNC:7696,NDUFB10
HGNC:7462,MT-ND6
HGNC:7712,NDUFS5
HGNC:7694,NDUFAB1
HGNC:23987,NDUFA12
HGNC:13811,SLC4A10
HGNC:11034,SLC4A8
HGNC:11040,SLC5A5
HGNC:804,ATP1B1
HGNC:808,ATP1B4
HGNC:14073,ATP1A4
HGNC:806,ATP1B3
HGNC:799,ATP1A1
HGNC:805,ATP1B2
HGNC:801,ATP1A3
HGNC:800,ATP1A2
HGNC:11077,SLC9A4
HGNC:11071,SLC9A1
HGNC:11072,SLC9A2
HGNC:11073,SLC9A3
HGNC:11078,SLC9A5
HGNC:10912,SLC12A3
HGNC:10977,SLC24A3
HGNC:10975,SLC24A1
HGNC:10978,SLC24A4
HGNC:10976,SLC24A2
HGNC:14572,RHBG
HGNC:10006,RHAG
HGNC:10910,SLC12A1
HGNC:10911,SLC12A2
HGNC:10963,SLC22A1
HGNC:10993,SLC26A1
HGNC:3018,SLC26A3
HGNC:10994,SLC26A2
HGNC:16872,SLC35B2
HGNC:13542,ATP10A
HGNC:13531,ATP8A1
HGNC:45,ABCB4
HGNC:10989,SLC25A3
HGNC:10929,SLC17A1
HGNC:10932,SLC17A4
HGNC:10931,SLC17A3
HGNC:11020,SLC34A2
HGNC:10930,SLC17A2
HGNC:11019,SLC34A1
HGNC:10955,SLCO2A1
HGNC:9922,RBP4
HGNC:30650,STRA6
HGNC:9919,RBP1
HGNC:9920,RBP2
HGNC:16187,SLC52A3
HGNC:10916,SLC13A1
HGNC:11065,SLC7A7
HGNC:14468,SLC26A8
HGNC:14469,SLC26A9
HGNC:14471,SLC26A11
HGNC:14467,SLC26A7
HGNC:15827,SLC13A4
HGNC:11050,SLC6A4
HGNC:11052,SLC6A6
HGNC:7863,NNT
HGNC:10938,SLC19A2
HGNC:10923,SLC16A2
HGNC:19660,SLC36A4
HGNC:11022,SLC35A2
HGNC:20800,SLC35D1
HGNC:20584,SLC35B4
HGNC:20799,SLC35D2
HGNC:11023,SLC35A3
HGNC:10918,SLC14A1
HGNC:10919,SLC14A2
HGNC:3795,FOLR3
HGNC:3791,FOLR1
HGNC:3793,FOLR2
HGNC:6257,KCNJ11
HGNC:60,ABCC9
HGNC:59,ABCC8
HGNC:6269,KCNJ8
HGNC:10907,SLC11A1
HGNC:11012,SLC30A1
HGNC:11024,SLC37A1
HGNC:61,ABCD1
HGNC:67,ABCD3
HGNC:23089,SLC13A5
HGNC:11051,SLC6A5
HGNC:11033,SLC4A7
HGNC:10947,SLC20A2
HGNC:10946,SLC20A1
HGNC:20305,SLC34A3
HGNC:11054,SLC6A7
HGNC:2289,COX7A2L
HGNC:7419,MT-CO1
HGNC:7421,MT-CO2
HGNC:24380,COX6B2
HGNC:7422,MT-CO3
HGNC:2287,COX7A1
HGNC:16232,COX4I2
HGNC:2690,DBI
HGNC:66,ABCD2
HGNC:11000,SLC27A6
HGNC:30927,SLC6A20
HGNC:10920,SLC15A1
HGNC:18068,SLC15A3
HGNC:23090,SLC15A4
HGNC:30521,SLC46A1
HGNC:3555,FABP1
HGNC:8494,SLC22A13
HGNC:30224,SLC52A2
HGNC:30225,SLC52A1
HGNC:10908,SLC11A2
HGNC:10909,SLC40A1
HGNC:10971,SLC22A7
HGNC:23097,SLC29A4
HGNC:26441,SLC6A18
HGNC:1884,CFTR
HGNC:38,ABCA8
HGNC:74,ABCG2
HGNC:10970,SLC22A6
HGNC:10972,SLC22A8
HGNC:18120,SLC22A11
HGNC:640,AQP7
HGNC:16029,AQP10
HGNC:636,AQP3
HGNC:1663,CD36
HGNC:33,ABCA3
HGNC:34,ABCA4
HGNC:40,ABCB1
HGNC:9206,PON3
HGNC:8587,PAICS